<%- include ('./1-admin/partials/administrador/header.ejs')%> 
    <body>
        <!-- Begin page -->
        <div id="layout-wrapper">
         <%- include ('./1-admin/menu.ejs')%> 
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Número de ventas</span>
                                            <h4 class="mb-3"> <span class="counter-value" data-target="<%=sumaTotalVentas%>"></span>
                                            </h4>
                                        </div>

                                        <div class="col-6">
                                            <div id="mini-chart1" data-colors='["#5156be"]'class="apex-charts mb-2"></div>
                                            <input type="hidden" id="datosJson_flnumVentas_admin" value="<%= datosJson_flnumVentas_admin %>">
                                        </div>
                                    </div>
                                    <div class="text-nowrap">
                                        <% if (rendimientoNumventas > 0 ){ %> 
                                            <span class="badge bg-soft-success text-success">+<%=rendimientoNumventas%>%</span>
                                        <% } else { %> 
                                            <span class="badge bg-soft-danger text-danger"><%=rendimientoNumventas%>%</span>
                                        <% } %>
                                        <span class="ms-1 text-muted font-size-13">Desde semana anterior</span>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xl-4 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Vendedores</span>
                                            <h4 class="mb-3"><span class="counter-value" data-target="<%= numVendedores%>"></span>
                                            </h4>
                                        </div>
                                        <div class="col-6">
                                            <div id="mini-chart2" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                            <input type="hidden" id="datosJson_vdAgregados_Admin" value="<%= datosJson_vdAgregados_Admin %>">
                                        </div>
                                    </div>
                                    <div class="text-nowrap">
                                        <% if (rendimientoVd > 0 ){ %> 
                                            <span class="badge bg-soft-success text-success">+<%=rendimientoVd%>%</span>
                                        <% } else { %> 
                                            <span class="badge bg-soft-danger text-danger"><%=rendimientoVd%>%</span>
                                        <% } %>
                                        <span class="ms-1 text-muted font-size-13">Desde semana anterior</span>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col-->
                        <div class="col-xl-4 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Clientes</span>
                                            <h4 class="mb-3">
                                                <span class="counter-value" data-target="<%=numClientes%>"> </span>
                                            </h4>
                                        </div>
                                        <div class="col-6">
                                            <div id="mini-chart3" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                            <input type="hidden" id="datosJson_clAgregados_Admin" value="<%= datosJson_clAgregados_Admin %>">
                                        </div>
                                    </div>
                                    <div class="text-nowrap">
                                        <% if (rendimientoCl > 0 ){ %> 
                                            <span class="badge bg-soft-success text-success">+<%=rendimientoCl%>%</span>
                                        <% } else { %> 
                                            <span class="badge bg-soft-danger text-danger"><%=rendimientoCl%>%</span>
                                        <% } %>
                                        <span class="ms-1 text-muted font-size-13">Desde semana anterior</span>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                      <!-- 
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block
                                    text-truncate">Afiliados añadidos</span>
                                            <h4 class="mb-3">
                                                <span class="counter-value" data-target="12">0</span>
                                            </h4>
                                        </div>
                                        <div class="col-6">
                                            <div id="mini-chart4" data-colors='["#5156be" ]'
                                                class="apex-charts mb-2"></div>
                                        </div>
                                    </div>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">+2.95%</span>
                                        <span class="ms-1 text-muted font-size-13">Since
                                            last week</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div><!-- end row-->

                        <div class="row">
                      <!-- ===============>>> Wallet Balance <<<<======= -->
                            <!-- <div class="col-xl-5">
                                <div class="card card-h-100">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2">Wallet Balance</h5>
                                            <div class="ms-auto">
                                                <div>
                                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                                        ALL
                                                    </button>
                                                    <button type="button" class="btn btn-soft-primary btn-sm">
                                                        1M
                                                    </button>
                                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                                        6M
                                                    </button>
                                                    <button type="button" class="btn btn-soft-secondary btn-sm active">
                                                        1Y
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-sm">
                                                <div id="wallet-balance" data-colors='["#777aca", "#5156be", "#a8aada"]' class="apex-charts"></div>
                                            </div>
                                            <div class="col-sm align-self-center">
                                                <div class="mt-4 mt-sm-0">
                                                    <div>
                                                        <p class="mb-2"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-success"></i> Bitcoin</p>
                                                        <h6>0.4412 BTC = <span class="text-muted font-size-14 fw-normal">$ 4025.32</span></h6>
                                                    </div>
    
                                                    <div class="mt-4 pt-2">
                                                        <p class="mb-2"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-primary"></i> Ethereum</p>
                                                        <h6>4.5701 ETH = <span class="text-muted font-size-14 fw-normal">$ 1123.64</span></h6>
                                                    </div>
    
                                                    <div class="mt-4 pt-2">
                                                        <p class="mb-2"><i class="mdi mdi-circle align-middle font-size-10 me-2 text-info"></i> Litecoin</p>
                                                        <h6>35.3811 LTC = <span class="text-muted font-size-14 fw-normal">$ 2263.09</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                 <!-- ===============>>> Wallet Balance <<<<======= -->
                            
                            <!-- end col -->
                            <div class="col-xl-7">
                                <div class="row">
                                    <!-- ========>>> Invested Overview <<<<<<<==== -->
                                    <!-- <div class="col-xl-8">
                                        <div class="card card-h-100">
                                            <div class="card-body">
                                                <div class="d-flex flex-wrap align-items-center mb-4">
                                                    <h5 class="card-title me-2">Invested Overview</h5>
                                                    <div class="ms-auto">
                                                        <select class="form-select form-select-sm">
                                                            <option value="MAY" selected="">May</option>
                                                            <option value="AP">April</option>
                                                            <option value="MA">March</option>
                                                            <option value="FE">February</option>
                                                            <option value="JA">January</option>
                                                            <option value="DE">December</option>
                                                        </select>
                                                    </div>
                                                </div>
            
                                                <div class="row align-items-center">
                                                    <div class="col-sm">
                                                        <div id="invested-overview" data-colors='["#5156be", "#34c38f"]' class="apex-charts"></div>
                                                    </div>
                                                    <div class="col-sm align-self-center">
                                                        <div class="mt-4 mt-sm-0">
                                                            <p class="mb-1">Invested Amount</p>
                                                            <h4>$ 6134.39</h4>

                                                            <p class="text-muted mb-4"> + 0.0012.23 ( 0.2 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i></p>

                                                            <div class="row g-0">
                                                                <div class="col-6">
                                                                    <div>
                                                                        <p class="mb-2 text-muted text-uppercase font-size-11">Income</p>
                                                                        <h5 class="fw-medium">$ 2632.46</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div>
                                                                        <p class="mb-2 text-muted text-uppercase font-size-11">Expenses</p>
                                                                        <h5 class="fw-medium">-$ 924.38</h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mt-2">
                                                                <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ms-1"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- end col -->
                          <!-- ========>>> Invested Overview <<<<<<<==== -->
                         <!-- ========>>> CARRUSEL <<<<<<<==== -->
                                    <!-- <div class="col-xl-4">
                                        <div class="card bg-primary text-white shadow-primary card-h-100">
                                            <div class="card-body p-0">
                                                <div id="carouselExampleCaptions" class="carousel slide text-center widget-carousel" data-bs-ride="carousel">                                                   
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <div class="text-center p-4">
                                                                <i class="mdi mdi-bitcoin widget-box-1-icon"></i>
                                                                <div class="avatar-md m-auto">
                                                                    <span class="avatar-title rounded-circle bg-soft-light text-white font-size-24">
                                                                        <i class="mdi mdi-currency-btc"></i>
                                                                    </span>
                                                                </div>
                                                                <h4 class="mt-3 lh-base fw-normal text-white"><b>Bitcoin</b> News</h4>
                                                                <p class="text-white-50 font-size-13">Bitcoin prices fell sharply amid the global sell-off in equities. Negative news
                                                                    over the Bitcoin past week has dampened Bitcoin basics
                                                                    sentiment for bitcoin. </p>
                                                                <button type="button" class="btn btn-light btn-sm">View details <i class="mdi mdi-arrow-right ms-1"></i></button>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <div class="text-center p-4">
                                                                <i class="mdi mdi-ethereum widget-box-1-icon"></i>
                                                                <div class="avatar-md m-auto">
                                                                    <span class="avatar-title rounded-circle bg-soft-light text-white font-size-24">
                                                                        <i class="mdi mdi-ethereum"></i>
                                                                    </span>
                                                                </div>
                                                                <h4 class="mt-3 lh-base fw-normal text-white"><b>ETH</b> News</h4>
                                                                <p class="text-white-50 font-size-13">Bitcoin prices fell sharply amid the global sell-off in equities. Negative news
                                                                    over the Bitcoin past week has dampened Bitcoin basics
                                                                    sentiment for bitcoin. </p>
                                                                <button type="button" class="btn btn-light btn-sm">View details <i class="mdi mdi-arrow-right ms-1"></i></button>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <div class="text-center p-4">
                                                                <i class="mdi mdi-litecoin widget-box-1-icon"></i>
                                                                <div class="avatar-md m-auto">
                                                                    <span class="avatar-title rounded-circle bg-soft-light text-white font-size-24">
                                                                        <i class="mdi mdi-litecoin"></i>
                                                                    </span>
                                                                </div>
                                                                <h4 class="mt-3 lh-base fw-normal text-white"><b>Litecoin</b> News</h4>
                                                                <p class="text-white-50 font-size-13">Bitcoin prices fell sharply amid the global sell-off in equities. Negative news
                                                                    over the Bitcoin past week has dampened Bitcoin basics
                                                                    sentiment for bitcoin. </p>
                                                                <button type="button" class="btn btn-light btn-sm">View details <i class="mdi mdi-arrow-right ms-1"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="carousel-indicators carousel-indicators-rounded">
                                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                                                            aria-current="true" aria-label="Slide 1"></button>
                                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- end col -->
                            <!-- ========>>> CARRUSEL <<<<<<<==== -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end col -->
                        </div> <!-- end row-->

                        <div class="row">
                            <div class="col-xl-8">
                                <!-- card -->
                                <div class="card">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2">Rendimiento</h5>
                                            <!-- <div class="ms-auto">
                                                <div>
                                                    <button type="button" class="btn btn-soft-primary btn-sm">
                                                        ALL
                                                    </button>
                                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                                        1M
                                                    </button>
                                                    <button type="button" class="btn btn-soft-secondary btn-sm">
                                                        6M
                                                    </button>
                                                    <button type="button" class="btn btn-soft-secondary btn-sm active">
                                                        1Y
                                                    </button>
                                                </div>
                                            </div> -->
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-7">
                                                <div>
                                                    <% if(datosJson_historialG_adm) { %> 
                                                        <div id="market-overview" data-colors='[" #5156be" ," #34c38f"]' class="apex-charts"></div>
                                                        <input type="hidden" id="datosJson_historialG_adm" value="<%= datosJson_historialG_adm %>">
                                                        <% } else {%>
                                                            <div class="card-body px-0" style=" display: flex; justify-content: center; align-items: center;">
                                                                <div>
                                                                    <center><i class="far fa-clipboard" style="font-size: 30px; width: 60px;
                                                                        height: 60px; padding-top: 10px;"></i></center><br>
                                                                    <p>Aún no hay información para mostrar</p>
                                                                </div>
                                                            </div>
                                                        <%}%>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <h5 class="card-title" style="text-align: center;">Top 5 Vendedores</h5>
                                                 <div class="p-4">
                                                     <% if (topVendedores) {%>
                                                         <% topVendedores.forEach(x => { %>
                                                             <div class="mt-3">
                                                                 <div class="d-flex align-items-center">
                                                                     <div class="avatar-sm m-auto">
                                                                         <span class="avatar-title rounded-circle bg-soft-light text-dark font-size-16">
                                                                             <%=x.pos%>
                                                                         </span>
                                                                     </div>
                                                                     <div class="flex-grow-1 ms-3">
                                                                         <span class="font-size-13"><%=x.nombre%></span><br>
                                                                         <span class="badge rounded-pill badge-soft-dark font-size-12 fw-medium">$<%=x.gananciaB%></span>
                                                                     </div>
                                                                     <div class="flex-shrink-0">
                                                                         <% if (x.gananciaB) { %>
                                                                             <% if (x.gananciaB > x.gananciaA) { %>
                                                                                 <span class="badge rounded-pill badge-soft-success font-size-12 fw-medium">Ventas: <%=x.ventasReales%></span>
                                                                             <% } else { %>
                                                                                 <span class="badge rounded-pill badge-soft-success font-size-12 fw-medium">Ventas: <%=x.ventasReales%></span>
                                                                             <% } %>
                                                                         <%} else {%>
                                                                             <span class="badge rounded-pill badge-soft-secondary font-size-12 fw-medium">Ventas: 0</span>
                                                                         <%}%>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         <%})%>
                                                     <%} %>
                                                 </div>
                                             </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row-->
        
                            <div class="col-xl-4">
                                <!-- card -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Ventas por ciudad</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="leaflet-map-group-control" class="leaflet-map"></div>
                                        <input type="hidden" id="datosJson_ventasCiudades_admin" value="<%= datosJson_ventasCiudades_admin %>">
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row-->

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card" style="height: 40em;">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Agendamientos pendientes</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body px-0">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="transactions-all-tab" role="tabpanel">
                                                <div class="table-responsive px-3" data-simplebar style="max-height: 352px;">
                                                    <table class="table align-middle table-nowrap table-borderless">
                                                        <tbody>
                                                            <% if(Agenda.length > 0) { %> 
                                                                <% Agenda.forEach(ag => { %> 
                                                            <tr>
                                                                <td style="width: 50px;">
                                                                    <span class="avatar-title bg-soft-warning text-warning rounded-circle">
                                                                        <i class="fas fa-cog font-size-24"></i>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <h5 class="font-size-14 mb-1"><%=ag.nombre%> <%=ag.apellido%></h5>
                                                                        <p class="text-muted mb-0 font-size-12"><%=ag.id_cliente %></p>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="text-end">
                                                                        <h5 class="font-size-14 mb-0"><%=ag.monto_aprobado%></h5>
                                                                        <p class="text-muted mb-0 font-size-12">Valor venta</p>
                                                                    </div> 
                                                                </td>

                                                                <td>
                                                                    <div class="text-end">
                                                                        <h5 class="badge <%= ag.estadoAgenda.color%> font-size-12"><%= ag.estadoAgenda.txt %> </h5>
                                                                        <p class="text-muted mb-0 font-size-12">Estado</p>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <% }) %> 
                                                          <% } else { %> 
                                                            <div class="card-body px-0" style=" display: flex; justify-content: center; align-items: center;margin-top:106px ;">
                                                                <div>
                                                                    <center><i class="far fa-clipboard" style="font-size: 30px; width: 60px;
                                                                        height: 60px; padding-top: 10px;"></i></center><br>
                                                                    <h2>No hay agendas pendientes</h2>
                                                                    <center><h2></h2></center>
                                                                </div>
                                                            </div>
                                                                <%} %> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- end tab pane -->
                                        </div>
                                        <!-- end tab content -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <!-- ========================== CUADRO DE FACTURAS RECIENTES ========================== -->
                        <div class="col-xl-6">
                            <div class="card" style="height: 40em;">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Facturas recientes</h4>
                                    <div class="flex-shrink-0">
                                        <a href="/ventas" class="btn btn-primary">Ver todas</a>
                                    </div>
                                </div>
                                <!-- end card header -->
                                <% if (facturas_recientes.length > 0) { %>
                                    <div class="card-body px-0">
                                        <div class="px-3" data-simplebar style="max-height:352px;">
                                            <ul class="list-unstyled activity-wid mb-0">
                                                <% facturas_recientes.forEach(x => { %>
                                                    <li class="activity-list activity-border">
                                                        <div class="activity-icon avatar-md">
                                                            <% if (x.estado == 0) {%>
                                                            <span class="avatar-title bg-soft-warning text-warning rounded-circle">
                                                                <i class="bx bx-time-five font-size-24"></i>
                                                            </span>
                                                            <% } else {%>
                                                            <span class="avatar-title bg-soft-success text-success rounded-circle">
                                                                <i class="bx bx-check-circle font-size-24"></i>
                                                            </span>
                                                            <% } %>
                                                        </div>
                                                        <div class="timeline-list-item">
                                                            <div class="d-flex">
                                                                <div class="flex-grow-1 overflow-hidden me-4">
                                                                    <h5 class="font-size-14 mb-1">Factura #<%=x.numFactura%> </h5>
                                                                    <p class="text-truncate text-muted font-size-13">
                                                                        Producto vendido: <%=x.productoVendido%>
                                                                    </p>
                                                                </div>
                                                                <div class="flex-shrink-0 text-end me-3">
                                                                    <h6 class="mb-1">Venta: $<%=x.valorVenta%> </h6>
                                                                    <div class="font-size-13">Comisión: $<%=x.comision%> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="card-body px-0" style=" display: flex; justify-content: center; align-items: center;">
                                        <div>
                                            <center><i class="far fa-clipboard" style="font-size: 30px; width: 60px;
                                                height: 60px; padding-top: 10px;"></i></center><br>
                                            <h2>Aún no se ha registrado</h2>
                                            <center><h2>ninguna factura</h2></center>
                                        </div>
                                    </div>
                                <% } %>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                            <!-- end col -->
                        </div><!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
 <%- include ('./partials/copyright.ejs')%>
            </div>
        </div>
 <%- include ('./1-admin/partials/administrador/footer.ejs')%>
    

     
