  <!--==================FIXME:=====HEADER NUEVOS-CLIENTES====================  -->
  <%- include ('partials/partials-ahorro/header.ejs')%>
  <!--==================FIXME:=====HEADER NUEVOS-CLIENTES====================  -->
  
  <body>

      <!-- Begin page -->
      <div id="layout-wrapper">

          <!-- =======FIXME: MENU ========================== -->
          <%- include ('./partials/menu.ejs')%>
          <!-- =======FIXME: MENU ========================== -->

          <div class="main-content">
              <div class="page-content">
                  <div class="container-fluid">


                      <!--============================================================-->
                      <!--============= TODO:===== *FORMULARIO* ======= TODO:=========-->
                      <!--============================================================-->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center
                                    justify-content-between" style="margin-bottom: 3%;">
                                    <h4 class="mb-sm-0 font-size-18">Calcular ahorro</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0" style="text-transform: initial;">
                                            <li class="breadcrumb-item"><a href="javascript:
                                                    void(0);">Perfil cliente</a></li>
                                            <li class="breadcrumb-item active" id="reparartexto"> Calcular ahorro </li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- end page title -->
                      <!-- BEGIN: Content-->
                      <div class="app-content content" style="margin-top:-7px">
                          <!-- Form wizard with step validation section start -->
                          <section id="validation">

                    <div class="card-content collapse show">
                                      <form action="/calcularAhorro" method="POST" class="steps wizard-circle" id="validarForm">
                                        
                                          <!-- * ============== Primera fila  ========================== -->
                                                   <fieldset>

                                                        <div class="row  justify-content: center;" style="text-align: center">

                                                            <input type="hidden" hidden name="id_cliente" value="<%= ahorroCliente.id %>">
                                                            <input type="hidden" hidden name="codigo_cliente" value="<%= ahorroCliente.id_cliente %>">
                                                            
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="agua">Agua embotellada<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="agua" name="agua_embotellada">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="jabones">Jabones<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="jabones" name="jabones">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="pLimpieza">Productos de limpieza<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="pLimpieza" name="productos_limpieza">
                                                                </div>
                                                            </div>
                                                                  
                                                           
                                                         </div>
                                              <!-- * ========== Segunda fila =======  -->

                                                         <div class="row  justify-content: center;"  style="text-align: center">

                                                        
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="aguaCaliente">Agua caliente<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="aguaCaliente" name="agua_caliente" >
                                                                </div>
                                                            </div> 
                                                          
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="plomElectro">Plomería y electrodomésticos<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="plomElectro" name="plomeria_electrodomesticos" >
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="ropa">Ropa y lencería<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control"  required id="ropa" name="ropa_lenceria" >
                                                                </div>
                                                            </div>
                                                        
                                                        </div>
                                       
                                                 </fieldset>  
                                 

                        <center><button type="submit" style="border-radius: 15px;" class="btn btn-primary">Guardar</button></center>

                                      </form>


                                  </div>
                            
                          </section>
                          
                      </div>
            
                  </div>
              </div>

              <!-- =======FIXME: copyright ========================== -->
              <%- include ('./partials/copyright.ejs')%>
              <!-- =======FIXME: copyright ========================== -->


          </div>
      </div>


      <!-- Right Sidebar -->
      <div class="right-bar">
          <div data-simplebar class="h-100">
              <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                  <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                  <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                      <i class="mdi mdi-close noti-icon"></i>
                  </a>
              </div>

              <!-- Settings -->

          

          </div> <!-- end slimscroll-menu-->
      </div>

      <!--==================FIXME:=====FOOTER NUEVOS-CLIENTES====================  -->
      <%- include ('partials/partials-ahorro/footer.ejs')%>
      <!--==================FIXME:=====FOOTER NUEVOS-CLIENTES====================  -->