
<!doctype html >
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include ('./partials/resetPass_&_restablecerPass/header.ejs')%>
         <link rel="stylesheet" href="./directorio_login/styleLogin.css" type="text/css" media="all" />
        <!-- font-awesome-icons -->
        <link href="./directorio_login/icon_fonts/css/all_icons_min.css" rel="stylesheet">
         <!-- css menu -->
    <link href="./directorio_login/menuLogin.css" rel="stylesheet">
    </head>
    <body style="background-image: url('/img/banner_login.jpg');  background-size: cover;-webkit-background-size: cover; 
            -moz-background-size: cover;  background-attachment: fixed; position: relative;">
             <!-- <body data-layout="horizontal"> -->
                   <div class="auth-page">
                        <div class="d-flex p-sm-5 p-4" >
                                <div class="d-flex flex-column" style="margin-top:-12px ;">
                                    <header style="margin-bottom:-100px ;">
                                         <!-- ======\\ MENU //======== -->
                                        <nav>
                                            <ul class="cd-primary-nav">
                                                <li><a href="/" class="animated_link">Regresar</a></li>
                                            </ul>
                                        </nav>
                                         <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a> 
                                        <div class="header-w3layouts">
                                            <img src="/img/logoLogin.png" id="logoBlanco" alt="" srcset="">
                                        </div>

                                       
                                        <div class="cd-overlay-nav">
                                            <span></span>
                                        </div>
                                        <div class="cd-overlay-content">
                                            <span></span>
                                        </div>
                                        <!-- ======\\ MENU //======== -->
                                    </header>
                                    <br>
                                    <br>
                                    <div class="auth-content my-auto">
                                        <div class="content-inner-info">
                                          <p class="bienvenida">Bienvenido a 3C Sigma Water System</p>
                                             <h2 class="h2Id">Ingresa con tus datos</h2>
                                         <br>
                                         <br>
                                          <p class="link_registrarse">¿Deseas convertirte en vendedor? <a href="/register" id="clickAqui">haz clic aquí.</a></p>
                                         <br>
                                        </div>
                                        <div class="form-w3ls-left-info">
                                            <!-- TODO FORMULARIO LOGIN ==============-->
                                            <form action="/login" method="post" id="idLogin">
                                               <label class="labelEmail">Email</label>
                                                <input type="email" class="email" name="correo" id="correo" placeholder="Ejemplo@tudominio.com"/>
                                                  <br>
                                                  <br>
                                               <label class="labelPass">Contraseña</label>
                                                <input type="password" class="password" id="pass" name="pass" placeholder="**********" />
                                                <label style="margin-left: 8px; font-size: 10px; padding: 5px 9px;" id = "GFG_DOWN" ></label>
                                                  <br>
                                                  <br>
                                                <div class="olvidastePass">
                                                    <p ><a href="https://app.3csigmawater.com//restablecer-clave" >¿Olvidaste tu contraseña?</a></p>
                                                </div>
                                                <div class="bottom" style="transition:none; ">
                                                    <button class="btn btn-primary" type="submit"> Ingresar</button>
                                                </div>
                                            </form>
                                            <!-- TODO FORMULARIO LOGIN ==============-->
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                        <div class="contenedor-footer" >
                        <div class="redesSociales">
                            <li><a href="https://www.facebook.com/3csigmawater" target="_blank"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://instagram.com/3csigmawater" target="_blank"><i class="icon-instagram"></i></a></li>
                        </div>
                        <div class="copyRight">
                            3C Sigma Water System ®  <script>document.write(new Date().getFullYear())</script> 
                        </div>
                    </div>
                     </div>
        <%- include ('./partials/resetPass_&_restablecerPass/footer.ejs')%>
        <script>
            $("#pass").on('keypress', function(e) { 
                var s = String.fromCharCode( e.which );
                if ((s.toUpperCase() === s && s.toLowerCase() !== s 
                    && !e.shiftKey) || (s.toUpperCase() !== s && 
                    s.toLowerCase() === s && e.shiftKey)) {
                        $('#GFG_DOWN').text("Mayuscula activada");
                    } 
                    else if ((s.toLowerCase() === s && s.toUpperCase() !== s
                    && !e.shiftKey) || (s.toLowerCase() !== s 
                    && s.toUpperCase() === s && e.shiftKey)) { 
                        $('#GFG_DOWN').text("");
                    } 
            });
        </script> 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <% if(alert) { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
          }).then(() => {
                        window.location = '/<%= ruta %>'
                    })
            </script>
            <% } %>
    <!-- Jquery-->
      <script src="./js/jquery-3.6.0.min.js"></script>
    <!-- Menu script -->
      <script src="./js/velocity.min.js"></script>
      <script src="./js/main.js"></script>
    
    </body>
    </html>