<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Iniciar sesion</title>
    <!-- Meta tag Keywords -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Utilizer Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>

    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/styleLogin.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesomeLogin.css" rel="stylesheet">
    <!-- font-awesome-icons  -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700"
        rel="stylesheet">

</head>

<body>
    <!-- main -->
    <div class="main-top-intro">
        <div class="bg-layer">
            <!-- header -->
            <div class="wrapper">
                <header>
                    <div class="header-w3layouts">
                        <h1>
                            <img src="/img/logoLogin.png" alt="" srcset="">

                    </div>


                </header>
                <!-- header -->
                <div class="content-inner-info">
                    <p class="bienvenida">Bienvenido a 3C Sigma Water System</p>
                    <h2>Ingresa con tus datos</h2>
                    <p class="link_registrarse">¿Deseas convertirte en vendedor? <a href="/register"
                            style="color: #fed061;font-size: 14px;">haz clic aquí.</a></p>
                    <div class="content-w3layouts-main">
                        <!-- <p > -->
                        <div class="form-w3ls-left-info">

                       <!-- TODO FORMULARIO LOGIN ==============-->
                            <form action="/login" method="post">

                                <label style="margin-left: 8px; font-size: 10px; padding: 5px 9px;">Email</label>
                                <input type="email" class="email" name="correo" id="correo_login" placeholder="Ejemplo@tudominio.com" />

                                <br>
                                <br>

                                <label style="margin-left: 8px; font-size: 10px; padding: 5px 9px;">Contraseña</label>
                                <input type="password" class="password" id="pass" name="pass" placeholder="**********"/>

                                <br>
                                <br>

                              <div class="recuerdame">
                                  <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                      <label class="form-check-label" style="margin-left: -3%;" for="flexCheckDefault"> Recúerdame</label>
                                    </div>
                              </div>

                                <div class="links">
                                    <p> <a href="#">Olvidé mi contraseña</a></p>
                                </div>

                                <div class="bottom">
                                    <button class="btn btn-primary" type="submit"> Ingresar</button>
                                </div>

                            </form>
                       <!-- TODO FORMULARIO LOGIN ==============-->
                        </div>

                    </div>
                </div>


                <!-- copyright -->
                <div class="copy-w3layouts-inf">
                    <ul class="list-unstyled w3layouts-icons">
                        <a href="/login">
                            <-- Regresar </a>
                    </ul>
                    <p>3C Sigma Water System ® 2022
                        <!-- <a href="http://w3layouts.com"> W3layouts.</a>  -->
                    </p>
                    <div class="clear"></div>
                </div>
             <!-- copyright  -->

            </div>
        </div>
    </div>
    <!-- main -->


     <!-- !REDES SOCIALES================  -->
    <!-- <div class="copy-w3layouts-inf">
        <p>3C Sigma Water System ® 2022    -->
    <!-- <a href="http://w3layouts.com"> W3layouts.</a>  -->

    <!-- </p>
        <ul class="list-unstyled w3layouts-icons">
            <li>
                <a href="https://www.facebook.com/3csigmawater" class="face-b">
                    <span class="fa fa-facebook-f"></span>
                </a>
            </li>
            <li>
                <a href="http://w3layouts.com"> --</a> 
                <a href="https://instagram.com/3csigmawater" class="twit">
                    <span class="fa fa-instagram"></span>
                </a>
            </li>

            </li>
        </ul>
        <div class="clear"></div>
    </div>  -->

    <!-- !REDES SOCIALES================  -->

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
      }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
        <% } %>

</body>

</html>