
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Restablecer-contraseña</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include ('./partials/resetPass_&_restablecerPass/header.ejs')%>
        <style>
            @import url("https://fonts.cdnfonts.com/css/oblivian-text");
            body {font-family: "Oblivian Text" !important;}
            /* ...........== LOGOS ==............. */
            /* Logo blanco */
            #logoBlanco{float: left;}

            /* ...........== CONTENEDORES ==............. */
            .contenedor-personalizado{width:100% ;}

            /* ...........== MENSAJES ==............. */
            /* Mensaje de bienvenida del login */
            .bienvenida{font-size: 13px;color:white;margin: 0;font-weight: 400;}
            /* Mensaje de titulo del login */
            .h2Id{ font-size: 32px;color:white;font-weight: 800;}
            /* Mensaje en blanco antes del mensaje amarillo */
            .link_registrarse{font-size: 13px;color:white;font-weight: 400;margin: 0;}
            /* Mensaje del click aqui */
            #clickAqui{color: #fed061;font-size: 13px;font-weight: 400;}

              /* ...........== LABEL ==............. */
            /* Label en general */
            label { position: absolute;font-size: 12px;color: white;margin: 3px; padding: 1px 9px 6px; }
            /* Label de correo */
            .labelEmail{ margin-left: 8px; font-size: 10px; padding: 5px 9px;}
            /* Label de clave */
            .labelPass{ margin-left: 8px; font-size: 10px; padding: 5px 9px; }

               /* ...........== CAMPOS ==............. */
            /* Input general */
            input {color: #000000;text-align: justify;padding: 14px 2px 1px 9px;}
            /* Campo de correo */
            .cssCorreo{ width: -webkit-fill-available; height: 47px; left: 76px; font-size: 13px;top: 357px; border: none;opacity: 0.29;border-radius: 5px;}
            /* Campo de la clave */
            .password{width: -webkit-fill-available; height: 47px;left: 76px;font-size: 13px; top: 357px; border: none; opacity: 0.29;border-radius: 5px; }

            /* ...........== PLACEHOLDER ==............. */
            ::placeholder {color: #5b1b74; background:white; padding: 12px 1px 8px 8px; margin: 15px;font-size: 12px; }
           
            /* ...........== RECORDARME ==............. */
            input[switch] + label { width: 101px;}
            input[switch]:checked + label:after {left: 80px;}
            
            /* ...........== OLVIDAR CLAVE ==............. */
            #olvidarPass{color: white; }

            /* ...........== BOTON ==............. */
            /* Boton de ingresar sesion */
            #boton{border-radius: 5px;color: #76368f;font-size: 13px; padding: 0.7em 3em;background: white;    margin-bottom: -12px;}
            .btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {color: #76368f;background-color: #ffffff;}

            /* ...........== COPYRIGHT ==............. */
            .copyRight { float: right; color: white; padding-right: 15px;margin-top: -60px;font-size: 13px;font-weight: 400;}

            /* ...........== REDES SOCIALES ==............. */
            .redesSociales{float: right;color: white;padding-right: 15px;margin-top: -83px;font-size: 13px;}
            #face{width: 16px;color: white;font-weight: 400;}

             /* ...........== RESPONSIVE ==............. */
             /* 350 px hasta 393 px ==>> moviles */
            @media (min-width: 350px) and (max-width: 393px) {

                #logoBlanco{float: none;margin-bottom: -53px;} 
                .bienvenida{text-align: center;font-size: 16px;}
                .h2Id{text-align: center;font-size: 27px;}
                .divBtn, .link_registrarse{text-align: center;}
                .copyRight{float: none;text-align: center;padding: 0;}  
                .redesSociales{float: none;text-align: center;padding: 0;}  
                .footer-personalizado{margin-top: 23px;}
            }
            @media (min-width: 400px) and (max-width:480px) {

                #logoBlanco{float: none;margin-bottom: -62px;} 
                .bienvenida{text-align: center;font-size: 16px;margin-top: -42%;}
                .h2Id{text-align: center;font-size: 27px;}
                .link_registrarse{text-align: center;font-size: 16px}
                .divBtn, .link_registrarse{text-align: center;}
                .copyRight{float: none;text-align: center;padding: 0;}  
                .redesSociales{float: none;text-align: center;padding: 0;}
                .footer-personalizado{ margin-top: -43%;}  
            }
            @media (min-width: 1024px) and (max-width:1280px) {
                .footer-personalizado{margin-right: 30px;}
                /* Campo de correo */
                .cssCorreo{width: 35em; height: 57px; }
                /* Campo de la clave */
                .password{width: 35em; height: 57px; }
                /* Label de correo */
                .labelEmail{ font-size: 13px;}
                /* Label de clave */
                .labelPass{ font-size: 13px; }
                /* ...........== PLACEHOLDER ==............. */
                ::placeholder {font-size: 14px; }
                /* ...........== CONTENEDORES ==............. */
                .contenedor-personalizado{width:auto ;}
                .bienvenida {font-size: 17px;}
                .h2Id {font-size: 35px;}
                .link_registrarse, #clickAqui {font-size: 15px;}
                #boton {font-size: 17px; padding: 0.9em 2.5em; }
                #logoBlanco {width: 40%;}
            }
            @media (min-width: 1368px) and (max-width: 1920px) {
                .footer-personalizado{margin-right: 30px;}
                .contenedor-personalizado{width:auto ;}
                .content-inner-info{width: max-content}
                .cssCorreo {width: 41em; height: 69px;font-size: 13px; }
                .password{width: 41em; height: 69px;font-size: 13px; }
                .labelEmail{ font-size: 15px;}
                .labelPass{ font-size: 15px; }
                ::placeholder {font-size: 15px; }
                .bienvenida, .link_registrarse, #clickAqui{ font-size: 19px; margin-top: 31px;}
                #olvidarPass{ font-size: 16px;}
                .h2Id{ font-size: 48px;}
                #boton {font-size: 20px;padding: 0.7em 2.5em; }
                .my-auto {margin-top: 11% !important;}
                #logoBlanco {width: 42%;}
                .copyRight{font-size: 18px;}
                .redesSociales {font-size: 18px; margin-top: -91px;}
            }

            @media (min-width: 2560px) {
                .footer-personalizado{margin-right: 30px;}
                .contenedor-personalizado{width:auto ;}
                .content-inner-info{width: max-content}
                .cssCorreo {width: 27.2em;;height: 115px;font-size: 35px;border-radius: 13px;}
                .password{width: 27.2em;;height: 115px;font-size: 35px;border-radius: 13px;} 
                .labelEmail{ font-size: 24px;}
                .labelPass{ font-size: 24px; }
                ::placeholder {font-size: 30px;font-weight: 700; }
                .bienvenida, .link_registrarse, #clickAqui{ font-size: 36px; margin-top: 31px;}
                #olvidarPass{ font-size: 30px;}
                .h2Id{ font-size: 88px;}
                #boton {font-size: 38px;margin-top: 61px;padding: 0.7em 2.5em;border-radius: 17px; }
                .my-auto {margin-top: 11% !important;}
                #logoBlanco {width: 34%;margin-top: 27px;}
                #face{width: 48px;color: white;font-weight: 400;}
                .copyRight{font-size: 32px;}
                .redesSociales {font-size: 37px;margin-top: -118px;}
                input[switch]:checked + label:after {left: 163px;}
                input[switch] + label:after {
                    content: "";
                    position: absolute;
                    left: 4px;
                    background-color: #e9e9ef;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border-radius: 2rem;
                    height: 49px;
                    width: 43px;
                    top: 2px;
                    -webkit-transition: all 0.1s ease-in-out;
                    transition: all 0.1s ease-in-out;
                }
                input[switch] + label:before {
                    color: #343a40;
                    content: attr(data-off-label);
                    display: block;
                    font-family: inherit;
                    font-size: 24px;
                    line-height: 21px;
                    position: absolute;
                    right: 1px;
                    margin: 9px;
                    top: 7px;
                    min-width: 1.66667rem;
                    overflow: hidden;
                }
                input[switch] + label {
                    width: 208px;
                    height: 53px;
                }
            }
        </style>
    </head>
    <body style="background-image: url('/img/banner_login.jpg');  background-size: cover;-webkit-background-size: cover; 
    -moz-background-size: cover;  background-attachment: fixed; position: relative;">
    <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-xxl-3 col-lg-4 col-md-5">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="contenedor-personalizado">
                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4 mb-md-5 text-center">
                                        <a href="#" class="d-block auth-logo">
                                            <img src="/img/logoLogin.png" id="logoBlanco" alt="LogoWhite" srcset="">
                                        </a>
                                    </div>
                                    <div class="auth-content my-auto">
                                            <div class="content-inner-info">
                                                <p class="bienvenida">Bienvenido a 3C Sigma Water System</p>
                                                <h2 class="h2Id">Ingresa con tus datos</h2>
                                                <br>
                                                <br>
                                                <p class="link_registrarse">¿Deseas convertirte en vendedor? <a href="/register" id="clickAqui">haz clic aquí.</a></p>
                                                <br>
                                            </div>
                                            <form action="/login" method="post" name="form1">
                                                <div class="mb-3">
                                                    <label class="labelEmail">Email</label>
                                                    <input type="email" class="cssCorreo" name="correo" id="correo" placeholder="Ejemplo@tudominio.com"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="labelPass">Contraseña</label>
                                                    <input type="password" class="password" id="pass" name="pass" placeholder="**********" />
                                                    <label style="margin-left: 8px; font-size: 10px; padding: 5px 9px;" id = "GFG_DOWN" ></label>
                                                </div>
                                                <div class="text-center">
                                                    <input type="checkbox" switch="none" id="remember_me" value="remember-me"  />
                                                    <label for="remember_me" style="float: left;" data-on-label="Olvidar" data-off-label="Recordarme"></label>
                                                    <p class="text-muted mb-0" style="float: right;"><a href="https://app.3csigmawater.com/restablecer-clave" id="olvidarPass">¿Olvidaste tu contraseña?</a></p>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="mb-3 mt-4 divBtn">
                                                     <button class="btn btn-primary" id="boton" type="submit">Ingresar</button>
                                                </div>
                                            </form>
                                         </div>
                                    </div>
                                 </div>
                               </div>
                           </div>
                       </div>
                       <div class="footer-personalizado">
                       <div class="redesSociales">
                        <i><a href="https://www.facebook.com/3csigmawater" target="_blank"><i class="fab fa-facebook-f" id="face"></i></a></i>
                        <i><a href="https://instagram.com/3csigmawater" target="_blank"><i class="fab fa-instagram" style="color: white;font-weight: 400;"></i></a></i>
                       </div>
                     <div class="copyRight">
                    3C Sigma Water System ®  <script>document.write(new Date().getFullYear())</script> 
                </div>
            </div>
            </div>
        </div>
        <%- include ('./partials/resetPass_&_restablecerPass/footer.ejs')%>
        <script>

            // {{!-- FUNCIÓN PARA RECORDAR LAS CREDENCIALES DE USUARIO --}}
            $(function() {
               if (localStorage.chkbx && localStorage.chkbx != '') {
                   $('#remember_me').attr('checked', 'checked');
                   $('#correo').val(localStorage.usrname);
                   $('#pass').val(localStorage.pass);
               } else {
                   $('#remember_me').removeAttr('checked');
                   $('#correo').val('');
                   $('#pass').val('');
               }
               $('#remember_me').click(function() {
                   if ($('#remember_me').is(':checked')) {
                       // save username and password
                       localStorage.usrname = $('#correo').val();
                       localStorage.pass = $('#pass').val();
                       localStorage.chkbx = $('#remember_me').val();
                   } else {
                       localStorage.usrname = '';
                       localStorage.pass = '';
                       localStorage.chkbx = '';
                   }
               });
           });
   // {{!--  FIN DE LA FUNCIÓN  --}}

           $("#pass").on('keypress', function(e) { 
               var s = String.fromCharCode( e.which );
               if ((s.toUpperCase() === s && s.toLowerCase() !== s 
                   && !e.shiftKey) || (s.toUpperCase() !== s && 
                   s.toLowerCase() === s && e.shiftKey)) {
                       $('#GFG_DOWN').text("Mayuscula activada");
                   } 
                   else if ((s.toLowerCase() === s && s.toUpperCase() !== s
                   && !e.shiftKey) || (s.toLowerCase() !== s 
                   && s.toUpperCase() === s && e.shiftKey)) { 
                       $('#GFG_DOWN').text("");
                   } 
           });
       </script> 
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <% if(alert) { %>
           <script>
               Swal.fire({
                   title: '<%= alertTitle %>',
                   text: '<%= alertMessage %>',
                   icon: '<%= alertIcon %>',
                   showConfirmButton: <%= showConfirmButton %>,
                   timer: <%= timer %>
         }).then(() => {
                       window.location = '/<%= ruta %>'
                   })
           </script>
           <% } %>
   <!-- Jquery-->
     <script src="./js/jquery-3.6.0.min.js"></script>
   <!-- Menu script -->
     <script src="./js/velocity.min.js"></script>
     <script src="./js/main.js"></script>
   
   </body>
   </html>
