<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Iniciar sesion</title>
    <!-- Meta tag Keywords -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Utilizer Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>

    <link rel="stylesheet" href="./directorio_login/bootstrap.min.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="./directorio_login/styleLogin.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="./directorio_login/font-awesomeLogin.css" rel="stylesheet">
    <!-- font-awesome-icons  -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700"
        rel="stylesheet">
    <!-- css menu -->
    <link href="./directorio_login/menuLogin.css" rel="stylesheet">
    <link href="./directorio_login/animate.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="./directorio_login/icon_fonts/css/all_icons_min.css" rel="stylesheet">



</head>

<body>


    <!-- main -->
    <div class="main-top-intro">
        <div class="bg-layer">
            <!-- header -->
            <div class="wrapper">
                <header>


                    <nav>
                        <ul class="cd-primary-nav">
                            <li><a href="/" class="animated_link">Regresar</a></li>
                            <!-- <li><a href="reservation_version.html" class="animated_link">Reservation Version</a></li>
                            <li><a href="questionare_version.html" class="animated_link">Questionare Version</a></li>
                            <li><a href="review_version.html" class="animated_link">Review Version</a></li>
                            <li><a href="about.html" class="animated_link">About Us</a></li>
                            <li><a href="contacts.html" class="animated_link">Contact Us</a></li> -->
                        </ul>
                    </nav>


                    <div class="cd-overlay-nav">
                        <span></span>
                    </div>
                    <!-- cd-overlay-nav -->

                    <div class="cd-overlay-content">
                        <span></span>
                    </div>
                    <!-- cd-overlay-content -->

                    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>



                    <div class="header-w3layouts">
                        <img src="/img/logoLogin.png" alt="" srcset="">
                    </div>

                </header>
                <!-- header -->


                <div class="content-inner-info">
                    <p class="bienvenida">Bienvenido a 3C Sigma Water System</p>
                    <h2>Ingresa con tus datos</h2>
                    <p class="link_registrarse">¿Deseas convertirte en vendedor? <a href="/register"
                            style="color: #fed061;font-size: 14px;">haz clic aquí.</a></p>





                    <div class="content-w3layouts-main">
                        <!-- <p > -->
                        <div class="form-w3ls-left-info">

                            <!-- TODO FORMULARIO LOGIN ==============-->
                            <form action="/login" method="post" id="idLogin">

                                <label style="margin-left: 8px; font-size: 10px; padding: 5px 9px;">Email</label>
                                <input type="email" class="email" name="correo" id="correo"
                                    placeholder="Ejemplo@tudominio.com" />

                                <br>
                                <br>


                                <label style="margin-left: 8px; font-size: 10px; padding: 5px 9px;">Contraseña</label>
                                <input type="password" class="password" id="pass" name="pass"
                                    placeholder="**********" />

                                    <!-- <div class="input-group auth-pass-inputgroup">
                                        <input type="password" class="password" id="pass" name="pass"
                                            aria-describedby="emailHelp" placeholder="*********"
                                            aria-label="Password" aria-describedby="password-addon" onfocus="">

                                        <button class="btn btn-light shadow-none ms-0" type="button"
                                            id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                    </div> -->
                                <br>
                                <br>

                             <div class="recuerdame">
                                <p> <a href="/restablecer-clave">¿Olvidaste tu contraseña?</a></p>
                                </div> 

                                <!-- <input type="checkbox" name="rememberme"  id="rememberme"> -->


                                <!-- <div class="links">
                                    <p> <a href="/restablecer-clave">Olvidé mi contraseña</a></p>
                                </div> -->

                                <div class="bottom">
                                    <button class="btn btn-primary" type="submit"> Ingresar</button>
                                </div>


                            </form>
                            <!-- TODO FORMULARIO LOGIN ==============-->
                        </div>

                    </div>


                    <!-- !REDES SOCIALES================  -->
                    <ul class="redesSociales">
                        <li><a href="https://www.facebook.com/3csigmawater" target="_blank"><i
                                    class="icon-facebook"></i></a></li>
                        <!-- <li><a href="#0"><i class="icon-twitter"></i></a></li> -->
                        <li><a href="https://instagram.com/3csigmawater" target="_blank"><i
                                    class="icon-instagram"></i></a></li>
                        <!-- <li><a href="#0"><i class="icon-linkedin"></i></a></li> -->
                    </ul>
                    <!-- !REDES SOCIALES================  -->

                </div>


                <!-- copyright -->
                <div class="copy-w3layouts-inf" id="copycopy">
                    <a href="/login">
                        <p>3C Sigma Water System ® 2022.
                    </a>
                    </p>
                    <div class="clear"></div>
                </div>
                <!-- copyright  -->

            </div>
        </div>
    </div>
    <!-- main -->

    <script>

function setcoockie(){
    var u = document.getElementById('correo').value;
    var p = document.getElementById('pass').value;

    document.cookie="myusrname"+u+";patch=http://localhost:3000/login";
    document.cookie="mypswd"+p+";patch=http://localhost:3000/login";

}

    </script>




    <script>

        const iconEye = document.querySelector(".icon-eyes");
        // console.log(iconEye);

        iconEye.addEventListener('click', function () {

            const icon = this.querySelector("i")
            const aplicar = document.querySelector("#pass")

            if (aplicar.type === "password") {

                aplicar.type = "text"
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                aplicar.type = "password"
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }

            // console.log(aplicar.type)

        });

    </script>



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
      }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
        <% } %>

            <!-- Jquery-->
            <script src="./js/jquery-3.6.0.min.js"></script>
            <!-- Menu script -->
            <script src="./js/velocity.min.js"></script>
            <script src="./js/main.js"></script>


</body>

</html>