  <!--==================FIXME:=====HEADER NUEVOS-CLIENTES====================  -->
  <%- include ('partials/partials-nuevo-cliente/header.ejs')%>
  <!--==================FIXME:=====HEADER NUEVOS-CLIENTES====================  -->
  
  <body>

      <!-- Begin page -->
      <div id="layout-wrapper">

          <!-- =======FIXME: MENU ========================== -->
          <%- include ('./partials/menu.ejs')%>
          <!-- =======FIXME: MENU ========================== -->

          <div class="main-content">
              <div class="page-content">
                  <div class="container-fluid">


                      <!--============================================================-->
                      <!--============= TODO:===== *FORMULARIO* ======= TODO:=========-->
                      <!--============================================================-->

                      
                                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center
                                    justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Nuevo cliente</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0" style="text-transform: initial;">
                                            <li class="breadcrumb-item"><a href="javascript:
                                                    void(0);">Afiliados</a></li>
                                            <li class="breadcrumb-item active" id="reparartexto">Lista de Afiliados</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- end page title -->
                      <!-- BEGIN: Content-->
                      <div class="app-content content" style="margin-top:-7px">
                          <!-- Form wizard with step validation section start -->
                          <section id="validation">

                                 <div class="card-content collapse show">
                                      <form action="/registrarClientes" method="POST" class="steps wizard-circle" id="validarForm">
                                        
                                          <!-- ==============   PRE FORMULARIO  ========================== -->
                                                   <fieldset>

                                                        <div class="row  justify-content: center;">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="nombreP">Nombre<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="nombreP" name="nombre">
                                                                </div>
                                                            </div>
                                                                  
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="apellidoP"> Apellidos<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="apellidoP" name="apellido" >
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="correoP"> Correo<span class="danger">*</span></label>
                                                                    <input type="email" class="form-control" required id="correoP" name="correo" >
                                                                </div>
                                                            </div> 
                                                         </div>
                                              <!-- * ========== Segunda fila =======  -->

                                                         <div class="row  justify-content: center;">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="telefonoP">Teléfono<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="telefonoP" name="telefono">
                                                                </div>
                                                            </div>
                                                                  
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="direccionP">Dirección<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control"  required placeholder="Escriba su direccion..." id="direccionf" name="direccion" >
                                                                </div>
                                                            </div>
                
                                                             <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="ciudadP">Ciudad<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="ciudadf" name="ciudad" >
                                                                </div>
                                                            </div>
                                                        </div>
                                         <!-- * ========== Tercera fila =======  --> 

                                                     <div class="row " >
                                                         <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="">Estado<span class="danger">*</span></label>
                                                                    <input type="text" class="form-control" required id="estadof" name="estado" >
                                                                </div>
                                                            </div>
                        
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="postalcode">Codigo postal </label>
                                                                    <input type="text" class="form-control"  id="postalcode" name="codigo_postal" >
                                                             </div>
                                                         </div>
                                                 </fieldset>  
                                                                                   
                                          <!--============= / FIXME:===== *CO-SOLICITANTE* === FIXME:=========-->
                                    <fieldset>
                                        <input hidden id="currency-masksalario">
                                        <input hidden id="currency-maskingresoadi"> 
                                   </fieldset>
                                      

                        <center><button type="submit" class="btn btn-primary">Guardar</button></center>

                                      </form>


                                  </div>
                            
                          </section>
                          
                      </div>
            
                  </div>
              </div>

              <!-- =======FIXME: copyright ========================== -->
              <%- include ('./partials/copyright.ejs')%>
              <!-- =======FIXME: copyright ========================== -->


          </div>
      </div>


      <!-- Right Sidebar -->
      <div class="right-bar">
          <div data-simplebar class="h-100">
              <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                  <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                  <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                      <i class="mdi mdi-close noti-icon"></i>
                  </a>
              </div>

              <!-- Settings -->

              <%- include ('partials/customizar-tema.ejs')%>

          </div> <!-- end slimscroll-menu-->
      </div>

      <!--==================FIXME:=====FOOTER NUEVOS-CLIENTES====================  -->
      <%- include ('partials/partials-nuevo-cliente/footer.ejs')%>
      <!--==================FIXME:=====FOOTER NUEVOS-CLIENTES====================  -->