<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Formulario - nuevo cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="./cssdash/images/favicon.png">
    <link rel="stylesheet" href="./cssdash/css/scrolls.css">


 <link href="./cssdash/libs/dropzone/min/dropzone.min.css">

    <base href="#">



    <script type="text/javascript">
        function showContent() {
            element = document.getElementById("content");
            check = document.getElementById("check");
            if (check.checked) {
                element.style.display='block';
            }
            else {
                element.style.display='none';
            }
        }
    </script>

  <!-- dropzone css -->
 
    <!-- twitter-bootstrap-wizard css -->
    <link rel="stylesheet" href="./cssdash/libs/twitter-bootstrap-wizard/prettify.css">



    <!-- preloader css -->
    <link rel="stylesheet" href="./cssdash/css/preloader.min.css" type="text/css" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="./cssdash/css/bootstrap.min.css" id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="./cssdash/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="./cssdash/css/app.min.css" id="app-style" />
    <!-- choices css -->
   <link
   href="./cssdash/libs/choices.js/public/assets/styles/choices.min.css"
   rel="stylesheet" type="text/css" />

<!-- color picker css -->
<link rel="stylesheet"
   href="./cssdash/libs/@simonwep/pickr/themes/classic.min.css" /> <!-- 'classic' theme -->
<link rel="stylesheet"
   href="./cssdash/libs/@simonwep/pickr/themes/monolith.min.css" />
<!-- 'monolith' theme -->
<link rel="stylesheet"
   href="./cssdash/libs/@simonwep/pickr/themes/nano.min.css" /> <!-- 'nano' theme -->
<!-- datepicker css -->
<link rel="stylesheet"
   href="./cssdash/libs/flatpickr/flatpickr.min.css">

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <%- include ('partials/logonav.ejs')%>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item" id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="search" class="icon-lg"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar"
                                            aria-label="Search Result">

                                        <button class="btn btn-primary" type="submit"><i
                                                class="mdi mdi-magnify"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dropdown d-none d-sm-inline-block">
                        <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">

                            <img src="./cssdash/images/flags/spain.jpg" alt="Header Language" height="16">

                        </button>
                        <div class="dropdown-menu dropdown-menu-end">

                            <!-- item-->
                            <a href="?clang=en" class="dropdown-item notify-item language">
                                <img src="./cssdash/images/flags/us.jpg" alt="user-image" class="me-1" height="12">
                                <span class="align-middle"> English </span>
                            </a>

                            <!-- item-->
                            <a href="?clang=de" class="dropdown-item notify-item language">
                                <img src="./cssdash/images/flags/germany.jpg" alt="user-image" class="me-1" height="12">
                                <span class="align-middle"> German </span>
                            </a>

                            <!-- item-->
                            <a href="?clang=it" class="dropdown-item notify-item language">
                                <img src="./cssdash/images/flags/italy.jpg" alt="user-image" class="me-1" height="12">
                                <span class="align-middle"> Italian </span>
                            </a>

                            <!-- item-->
                            <a href="?clang=es" class="dropdown-item notify-item language">
                                <img src="./cssdash/images/flags/spain.jpg" alt="user-image" class="me-1" height="12">
                                <span class="align-middle"> Spanish </span>
                            </a>

                            <!-- item-->
                            <a href="?clang=ru" class="dropdown-item notify-item language">
                                <img src="./cssdash/images/flags/russia.jpg" alt="user-image" class="me-1" height="12">
                                <span class="align-middle"> Russian </span>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown d-none d-sm-inline-block">
                        <button type="button" class="btn header-item" id="mode-setting-btn">
                            <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                            <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                        </button>
                    </div>

                    <!-- =======FIXME: OCULTANDO OPCIONES DE REDES========================== -->
                    <%- include ('partials/opcionesredes.ejs')%>
                        <!-- =======FIXME: OCULTANDO OPCIONES DE REDES========================== -->


                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon position-relative"
                                id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i data-feather="bell" class="icon-lg"></i>
                                <span class="badge bg-danger rounded-pill">5</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0"> Notificaciones </h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#!" class="small text-reset text-decoration-underline"> No leído
                                                (3)</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">
                                    <a href="#!" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <img src="./cssdash/images/users/avatar-3.jpg"
                                                    class="rounded-circle avatar-sm" alt="user-pic">
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">James lemire</h6>
                                                <div class="font-size-13 text-muted">
                                                    <p class="mb-1">Parecerá un inglés simplificado.</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hours
                                                            ago</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 avatar-sm me-3">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="bx bx-cart"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">Se realiza tu pedido</h6>
                                                <div class="font-size-13 text-muted">
                                                    <p class="mb-1">Si varios idiomas fusionan la gramática</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min
                                                            ago</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 avatar-sm me-3">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="bx bx-badge-check"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">Tu artículo es enviado</h6>
                                                <div class="font-size-13 text-muted">
                                                    <p class="mb-1">Si varios idiomas fusionan la gramática</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min
                                                            ago</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#!" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <img src="./cssdash/images/users/avatar-6.jpg"
                                                    class="rounded-circle avatar-sm" alt="user-pic">
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">Salena layfield</h6>
                                                <div class="font-size-13 text-muted">
                                                    <p class="mb-1">Como un escéptico amigo mío occidental de Cambridge.
                                                    </p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hours
                                                            ago</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 border-top d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                        <i class="mdi mdi-arrow-right-circle me-1"></i> <span>Ver más</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item right-bar-toggle me-2">
                                <i data-feather="settings" class="icon-lg"></i>
                            </button>
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item bg-soft-light border-start border-end"
                                id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="rounded-circle header-profile-user"
                                    src="./cssdash/images/users/avatar-1.jpg" alt="Header Avatar">

                                <% if (correo) { %>
                                    <span class="d-none d-xl-inline-block ms-1 fw-medium">
                                        <%= correo.nombres + " " +correo.apellidos %>
                                    </span>
                                    <% } %>
                                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item" href="contacts-profile"><i
                                        class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Perfil</a>
                                <a class="dropdown-item" href="pages-lock-screen"><i
                                        class="mdi mdi-lock font-size-16 align-middle me-1"></i> Bloquear pantalla</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="logout"><i
                                        class="mdi mdi-logout font-size-16 align-middle me-1"></i> Cerrar sesión</a>
                            </div>
                        </div>

                </div>
            </div>
        </header>
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" data-key="t-menu">Menú</li>

                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-home"></i>
                                <span data-key="t-dashboard">Dashboard</span>
                            </a>
                        </li>

                        <!--==================FIXME:=====FACTURA CLIENTE====================  -->
                        <%- include ('partials/acuerdo-vendedor.ejs')%>
                            <!--==================FIXME:=====FACTURA CLIENTE====================  -->

                            <!--==================FIXME:=====FACTURA CLIENTE====================  -->
                            <%- include ('partials/factura-cliente.ejs')%>
                                <!--==================FIXME:=====FACTURA CLIENTE====================  -->

                                <!--==================FIXME:=====PAGINAS====================  -->
                                <%- include ('partials/seccion-paginas.ejs')%>
                                    <!--==================FIXME:=====PAGINAS====================  -->

                                    <!--==================FIXME:=====ELEMENTOS====================  -->
                                    <%- include ('partials/elementos.ejs')%>
                                        <!--==================FIXME:=====ELEMENTOS====================  -->

                                     </ul>

                                        <!--==================FIXME:=====ELEMENTOS====================  -->
                                        <%- include ('partials/copiar-codigo.ejs')%>
                                            <!--==================FIXME:=====ELEMENTOS====================  -->


                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">


                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Formulario nuevo cliente</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">formulario</a></li>
                                        <li class="breadcrumb-item active">Nuevo cliente</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <!-- <div class="card-header">
                                    <h4 class="card-title mb-0">Wizard with Progressbar</h4>
                                </div> -->
                                <div class="card-body">

                                    <div id="progrss-wizard" class="twitter-bs-wizard">
                                        <ul class="twitter-bs-wizard-nav nav nav-pills
                                    nav-justified">
                                            <li class="nav-item">
                                                <a href="#progress-seller-details" class="nav-link" data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="SOLICITANTE">
                                                        <i class="fas fa-envelope-open-text"></i>
                                                      
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#progress-company-document" class="nav-link" data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="CASA">
                                                        <i class="fas fa-home"></i>
                                                    </div>
                                                </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="#progress-company-document2" class="nav-link"
                                                    data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="INGRESOS">
                                                        <i class="fas fa-money-bill-wave"></i>
                                                     
                                                       
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#progress-company-document3" class="nav-link"
                                                    data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="CO- SOLICITANTE">
                                                        <i class="fas fa-user-tie"></i>
                                                     
                                                    </div>
                                                </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="#progress-company-document4" class="nav-link" data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="REFERENCIAS">
                                                        <i class="fas fa-user-friends"></i>
                                                       
                                                    </div>
                                                </a>
                                            </li>



                                            <li class="nav-item">
                                                <a href="#progress-company-document5" class="nav-link" data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="CARGAR ARCHIVOS">
                                                        <i class="fas fa-upload"></i>
                                                      
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="#progress-bank-detail" class="nav-link" data-toggle="tab">
                                                    <div class="step-icon" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="FIRMAR ACUERDO">
                                                        <i class="fas fa-file"></i>
                                                       
                                                    </div>
                                                </a>
                                            </li>

                                           

                                        </ul>
                                        <!-- wizard-nav -->

                                        <div id="bar" class="progress mt-4">
                                            <div class="progress-bar bg-success
                                        progress-bar-striped
                                        progress-bar-animated"></div>
                                        </div>
                                        <div class="tab-content
                                    twitter-bs-wizard-tab-content">


                         <!-- //TODO:  ================== SOLICITANTE ========== -->

                                            <div class="tab-pane" id="progress-seller-details">
                                                <div class="text-center mb-4">
                                                    <h5>SOLICITANTE</h5>
                                                    <p class="card-title-desc">Complete toda la informacion a
                                                        continuación</p>
                                                </div>
                                                <form action="/registro-cliente" method="post" id="">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Monto a
                                                                    financiar*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">ID de cliente
                                                                    / DL*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Fecha de
                                                                    expedición de identificación*</label>
                                                                <input type="date" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Fecha de
                                                                    caducidad del documento de identidad*</label>
                                                                <input type="date" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Seguro
                                                                    Social del cliente / ITIN*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-1">
                                                            <div>
                                                                <div class="form-check
                                                                    mb-3">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="formRadios" id="formRadios1" checked>
                                                                    <label class="form-check-label" for="formRadios1">
                                                                        Social
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="formRadios" id="formRadios2">
                                                                    <label class="form-check-label" for="formRadios2">
                                                                        En
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mb-3">
                                                                <label for="progresspill-lastname-input">Fecha de
                                                                    nacimiento*</label>
                                                                <input type="date" class="form-control"
                                                                    id="progresspill-lastname-input">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-phoneno-input">Teléfono
                                                                    móvil*</label>
                                                                <input type="tel" class="form-control"
                                                                    id="progresspill-phoneno-input">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-email-input">Teléfono
                                                                    Auxiliar</label>
                                                                <input type="tel" class="form-control"
                                                                    id="progresspill-email-input">
                                                            </div>

                                                        </div>


                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-email-input">Apellido*</label>
                                                                <input type="text" class="form-control"
                                                                    id="progresspill-email-input">
                                                            </div>


                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-email-input">Primer ombre*</label>
                                                                <input type="text" class="form-control"
                                                                    id="progresspill-email-input">
                                                            </div>


                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-email-input">Inicial de segundo nombre</label>
                                                                <input type="number" class="form-control"
                                                                    id="progresspill-email-input">
                                                            </div>


                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-email-input">Correo
                                                                    electronico*</label>
                                                                <input type="email" class="form-control"
                                                                    id="progresspill-email-input">
                                                            </div>


                                                        </div>

                                                    </div>

                                                    <ul class="pager wizard
                                            twitter-bs-wizard-pager-link">
                                                        <li class="next"><a href="javascript: void(0);"
                                                                class="btn btn-primary" onclick="nextTab()">Siguiente <i
                                                                    class="bx
                                                        bx-chevron-right ms-1"></i></a></li>
                                                    </ul>



                                            </div>
                          <!-- //TODO:  ================== SOLICITANTE ========== -->

                          <!-- //TODO:  ================== CASA ========== -->
                                            <div class="tab-pane" id="progress-company-document">

                                                <div class="text-center mb-4">
                                                    <h5>CASA</h5>
                                                    <!-- <p class="card-title-desc">Fill
                                                        all information below</p> -->
                                                </div>
                                                
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Dirección*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label
                                                                    for="progresspill-firstname-input">Ciudad*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Estado*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Codigo postal*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 justify-content-center">
                                                        <div>

                                                            <p>Indique los datos del domicilio del solicitante / Indique
                                                                la información sobre la casa del solicitante
                                                                ¿Está hipotecado, pagado o alquilado? esta hipotecada,
                                                                pagada o rentada?</p>

                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio"
                                                                    name="formRadios" id="formRadios1">
                                                                <label class="form-check-label" for="formRadios1">
                                                                    Hipoteca </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="formRadios" id="formRadios2">
                                                                <label class="form-check-label"
                                                                    for="formRadios2">Pagados</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="formRadios" id="formRadios3">
                                                                <label class="form-check-label"
                                                                    for="formRadios3">Alquiler</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>



                                                 


                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Compañía
                                                                    hipotecaria*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Pago mensual
                                                                    $*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Años de residencia*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required=""
                                                                    placeholder="Si aplica ? pero puede escribir 0 (cero)">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Meses de residencia*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required=""
                                                                    placeholder="Si aplica ? pero puede escribir 0 (cero)">
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <ul class="pager wizard
                                                twitter-bs-wizard-pager-link">
                                                        <li class="previous"><a href="javascript:
                                                        void(0);" class="btn
                                                        btn-primary" onclick="nextTab()"><i class="bx
                                                            bx-chevron-left
                                                            me-1"></i> Regresar</a></li>
                                                        <li class="next"><a href="javascript:
                                                        void(0);" class="btn
                                                        btn-primary" onclick="nextTab()">Siguiente
                                                                <i class="bx
                                                            bx-chevron-right
                                                            ms-1"></i></a></li>
                                                    </ul>
                                                
                                            </div>
                          <!-- //TODO:  ================== CASA ========== -->

                          <!-- //TODO:=================== INGRESOS -->

                                            <div class="tab-pane" id="progress-company-document2">
                                                <div>
                                                    <div class="text-center mb-4">
                                                   
                                                        <!-- <p class="card-title-desc">Fill
                                                            all information below</p> -->
                                                    </div>
                                                    <h4 style="text-align: center;">Ingresos</h4>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Empleado
                                                                    solcitante*</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Años*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Meses</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Salario
                                                                    mensual*</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label
                                                                    for="progresspill-firstname-input">Ocupacion</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label
                                                                    for="progresspill-firstname-input">Telefono</label>
                                                                <input type="tel" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <h4 style="text-align: center;" >Otros Ingresos </h4>

                                                    <div class="row" >


                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Empleador anterior</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label
                                                                    for="progresspill-firstname-input">
                                                                    Fuente de otros ingresos</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label
                                                                    for="progresspill-firstname-input">Ingresos adicionales</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <ul class="pager wizard
                                                twitter-bs-wizard-pager-link">
                                                        <li class="previous"><a href="javascript:
                                                        void(0);" class="btn
                                                        btn-primary" onclick="nextTab()"><i class="bx
                                                            bx-chevron-left
                                                            me-1"></i> Regresar</a></li>
                                                        <li class="next"><a href="javascript:
                                                        void(0);" class="btn
                                                        btn-primary" onclick="nextTab()">Siguiente
                                                                <i class="bx
                                                            bx-chevron-right
                                                            ms-1"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                           <!-- //TODO:=================== INGRESOS -->



                            <!-- //TODO:=================== CO - SOLICITANTE  =========-->

                            <div class="tab-pane" id="progress-company-document3" >
                                <div>
                                    <div class="text-center mb-4">
                                   
                                        <!-- <p class="card-title-desc">Fill
                                            all information below</p> -->
                                    </div>
                                    <h4 style="text-align: center;">CO-SOLICITANTE</h4>
                                    <div class="row">
                                       
                                        <b  style="text-align: center;"  >La solicitud tiene co-solicitante</b>
                                            <input type="checkbox" name="check" id="check" value="1" onchange="javascript:showContent()" />
                                            <div id="content" style="display: none; ">
                                                



                                                <div class="row">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <div class="mb-3">
                                                            <label for="progresspill-firstname-input">identificación / licencia de conducir*</label>
                                                            <input type="text" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4"  style="text-align: center;" >
                                                        <div class="mb-3">
                                                            <label for="progresspill-firstname-input">Expedición:*</label>
                                                            <input type="date" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" style="text-align: center;"  >
                                                        <div class="mb-3">
                                                            <label for="progresspill-firstname-input">Vencimiento:</label>
                                                            <input type="date" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4" style="text-align: center;"  >
                                                        <div class="mb-3">
                                                            <label for="progresspill-firstname-input">Seguro social / ITIN</label>
                                                            <input type="number" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>



                                                    
                                                    <div class="col-md-1">
                                                        <div>
                                                            <div class="form-check
                                                                mb-3">
                                                                <input class="form-check-input" type="radio"
                                                                    name="formRadios" id="formRadios1" checked>
                                                                <label class="form-check-label" for="formRadios1">
                                                                    Social
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="formRadios" id="formRadios2">
                                                                <label class="form-check-label" for="formRadios2">
                                                                    En
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-3" style="text-align: center;">
                                                        <div class   ="mb-3">
                                                            <label for="progresspill-firstname-input">Fecha de cumpleaños:*</label>
                                                            <input type="date" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <div class="mb-3">
                                                            <label
                                                                for="progresspill-firstname-input">Telefono movil</label>
                                                            <input type="tel" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <div class="mb-3">
                                                            <label
                                                                for="progresspill-firstname-input">Telefono de casa</label>
                                                            <input type="tel" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <div class="mb-3">
                                                            <label
                                                                for="progresspill-firstname-input">Apellido</label>
                                                            <input type="text" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" style="text-align: center;" >
                                                        <div class="mb-3">
                                                            <label
                                                                for="progresspill-firstname-input">Primer nombre</label>
                                                            <input type="text" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <div class="mb-3">
                                                            <label
                                                                for="progresspill-firstname-input">Inicio medio</label>
                                                            <input type="number" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <div class="mb-3">
                                                            <label
                                                                for="progresspill-firstname-input">Dirección del co-solicitante</label>
                                                            <input type="text" class="form-control required"
                                                                id="progresspill-firstname-input" required="">
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="col-lg-4 col-md-3" >
                                                        <div class="mb-3">
                                                            <label for="progresspill-firstname-input" style="text-align: center;">Relacion / parentesco</label>
                                                            <select class="form-control"
                                                                data-trigger
                                                                name="choices-single-default"
                                                                id="choices-single-default"
                                                                placeholder="This is a search
                                                                placeholder">
                                                                <option value=""></option>
                                                                <option value="Choice 1">Amigos</option>
                                                                <option value="Choice 2">Pareja</option>
                                                                <option value="Choice 3">Hermanos</option>
                                                                <option value="Choice 3">Capellan</option>
                                                                <option value="Choice 3">Tio</option>
                                                                <option value="Choice 1">Tia</option>
                                                                                                                          
                                                            </select>
                                                        </div>
                                                    </div>



                                                    <h4 style="text-align: center;">Empleado co-solicitante</h4>

                                                    <div class="row">

                                                        <div class="col-lg-4" style="text-align: center;">
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Con el empleador</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-4"  style="text-align: center;" >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Años</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Meses</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Salario mensual</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Ocupación</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Telefono</label>
                                                                <input type="tel" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Empleador anterior</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Fuente de otros ingresos</label>
                                                                <input type="text" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4" style="text-align: center;"  >
                                                            <div class="mb-3">
                                                                <label for="progresspill-firstname-input">Ingresos adicionales</label>
                                                                <input type="number" class="form-control required"
                                                                    id="progresspill-firstname-input" required="">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div> 
                                                 <!-- FIN DEL ROW  -->

                                            </div>

                                    </div>

                                    <ul class="pager wizard
                                twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript:
                                        void(0);" class="btn
                                        btn-primary" onclick="nextTab()"><i class="bx
                                            bx-chevron-left
                                            me-1"></i> Regresar</a></li>
                                        <li class="next"><a href="javascript:
                                        void(0);" class="btn
                                        btn-primary" onclick="nextTab()">Siguiente
                                                <i class="bx
                                            bx-chevron-right
                                            ms-1"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //TODO:=================== CO - SOLICITANTE ============== -->


    
                            <!-- //TODO:=================== REFERENCIAS ============== -->

                            <div class="tab-pane" id="progress-company-document4">

                                <div class="text-center mb-4">
                                    <h5>REFERENCIAS</h5>
                                    <p class="card-title-desc">Personal References / Referencias Personales</p>
                                </div>
                                <div class="moverp">
                                    <div class="row justify-content-center" >
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="progresspill-firstname-input">Nombre Referencia 1*</label>
                                                <input type="text" class="form-control required"
                                                    id="progresspill-firstname-input" required="">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label
                                                    for="progresspill-firstname-input">Relación:*</label>
                                                <input type="text" class="form-control required"
                                                    id="progresspill-firstname-input" required="">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="progresspill-firstname-input"> Teléfono*</label>
                                                <input type="tel" class="form-control required"
                                                    id="progresspill-firstname-input" required="">
                                            </div>
                                        </div>
                                    </div>
                                  
                                    
                                        <hr class="bg-primary" style="padding:2px; background:#812082!important"> 
                                    <!-- //FIXME:  -->
                                        <div class="row justify-content-center" >
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="progresspill-firstname-input">Nombre Referencia 2*</label>
                                                    <input type="text" class="form-control required"
                                                        id="progresspill-firstname-input" required="">
                                                </div>
                                            </div>
    
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label
                                                        for="progresspill-firstname-input">Relación:*</label>
                                                    <input type="text" class="form-control required"
                                                        id="progresspill-firstname-input" required="">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="progresspill-firstname-input"> Teléfono*</label>
                                                    <input type="tel" class="form-control required"
                                                        id="progresspill-firstname-input" required="">
                                                </div>
                                            </div>
                                        </div>
                                    <!-- //FIXME:  -->

                                          
                                    <hr class="bg-primary" style="padding:2px; background:#812082!important">


                                    <div class="row justify-content-center" >
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="progresspill-firstname-input">Nombre Referencia 3*</label>
                                                <input type="text" class="form-control required"
                                                    id="progresspill-firstname-input" required="">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label
                                                    for="progresspill-firstname-input">Relación:*</label>
                                                <input type="text" class="form-control required"
                                                    id="progresspill-firstname-input" required="">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="progresspill-firstname-input"> Teléfono*</label>
                                                <input type="tel" class="form-control required"
                                                    id="progresspill-firstname-input" required="">
                                            </div>
                                        </div>
                                    </div>

                        <!-- //FIXME:  -->


                                    <ul class="pager wizard
                                twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript:
                                        void(0);" class="btn
                                        btn-primary" onclick="nextTab()"><i class="bx
                                            bx-chevron-left
                                            me-1"></i> Regresar</a></li>
                                        <li class="next"><a href="javascript:
                                        void(0);" class="btn
                                        btn-primary" onclick="nextTab()">Siguiente
                                                <i class="bx
                                            bx-chevron-right
                                            ms-1"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                              <!-- //TODO:=================== REFERENCIAS ============== -->

                              <!-- //TODO:=================== CARGAR ARCHIVOS ============== -->
                              <div class="tab-pane" id="progress-company-document5">

                                <div class="text-center mb-4">
                                    <h5>CARGAR ARCHIVOS</h5>
                                    <!-- <p class="card-title-desc">Personal References / Referencias Personales</p> -->
                                </div>
                             
                                    
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dropzone</h4>
                            <p class="card-title-desc">DropzoneJS is an open
                                source library
                                that provides drag’n’drop file uploads with
                                image previews.
                            </p>
                        </div>
                        <div class="card-body">

                            <div>
                                <form action="#" class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file"
                                            multiple="multiple">
                                    </div>
                                    <div class="dz-message needsclick">
                                        <div class="mb-3">
                                            <i class="display-4 text-muted bx
                                                bx-cloud-upload"></i>
                                        </div>

                                        <h5>Drop files here or click to upload.</h5>
                                    </div>
                                </form>
                            </div>

                            <div class="text-center mt-4">
                                <button type="button" class="btn btn-primary
                                    waves-effect waves-light">Send
                                    Files</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

                                  
                                    


                                    <ul class="pager wizard
                                twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript:
                                        void(0);" class="btn
                                        btn-primary" onclick="nextTab()"><i class="bx
                                            bx-chevron-left
                                            me-1"></i> Regresar</a></li>
                                        <li class="next"><a href="javascript:
                                        void(0);" class="btn
                                        btn-primary" onclick="nextTab()">Siguiente
                                                <i class="bx
                                            bx-chevron-right
                                            ms-1"></i></a></li>
                                    </ul>
                                
                            </div>

                              <!-- //TODO:=================== CARGAR ARCHIVOS ============== -->

                



                                            <div class="tab-pane" id="progress-bank-detail">

                                                <div class="text-center mb-4">
                                                    <h5>FIRMA</h5>
                                                    <!-- <p class="card-title-desc">Fill
                                                        all information below</p> -->
                                                </div>

                                                <div class="row">
                                                
                                                        <div class="container " style="text-align: justify;">
                                                       
                                                  
                                                              <p>Magna dolor consectetur ipsum mollit ut nulla nisi. Cillum
                                                                laborum nulla ad proident quis amet do officia et consectetur.
                                                                Non duis ex ut aliquip cillum occaecat irure elit reprehenderit
                                                                occaecat veniam nostrud laboris. Ad sit id nostrud et mollit
                                                                elit ea laboris laborum sunt occaecat cillum amet
                                                                commodo.Consectetur aliqua laborum incididunt enim tempor duis
                                                                cillum culpa do quis. Veniam pariatur do consectetur ea.
                                                                Occaecat laboris sit incididunt commodo elit commodo.</p>
                                                              <p> dolore irure voluptate pariatur ut do excepteur. Ea adipisicing
                                                                et reprehenderit duis labore ea velit. Sunt nostrud irure non
                                                                nostrud tempor voluptate sint voluptate ut deserunt
                                                                reprehenderit esse anim.Veniam incididunt officia amet
                                                                exercitation est minim sint com culpa id Lorem elit eu
                                                                consequat. Nulla amet commodo magna.</p>
                                                              <p>veniam veniam et laboris id aliquip tempor culpa. Excepteur ea
                                                                tempor fugiat anim non ea proident consectetur id aute ullamco
                                                                dolor qui irure. Dolore esse est ipsum elit irure voluptate
                                                                consequat veniam amet reprehenderit adipisicing incididunt
                                                                voluptate. Qui officia ullamco id tempor quis ex quis quis
                                                                cillum nostrud ad sint. Amet Lorem eu pariatur voluptate ullamco
                                                                pariatur sit labore ex aliquip eiusmod commodo veniam
                                                                incididunt. Aliquip irure ea veniam quis esse enim labore anim
                                                                anim aliqua ea nulla.</p>
                                    
                                                        </div>
                                    
                                    
                                                </div>
                                            
                                             <input type="checkbox" name="" required id="">
                                             <b for=""><b> He leído y estoy de acuerdo con los términos</b> </label>

                                                <!-- <input type="type" class="btn btn-primary" value="Enviar"> -->

                                                </form>
                                                <ul class="pager wizard
                                                twitter-bs-wizard-pager-link">
                                                    <li class="previous"><a href="javascript:
                                                        void(0);" class="btn
                                                        btn-primary" onclick="nextTab()"><i class="bx
                                                            bx-chevron-left
                                                            me-1"></i> Previous
                                                        </a></li>
                                                    <li class="float-end"><a href="javascript:
                                                        void(0);" class="btn
                                                        btn-primary" data-bs-toggle="modal"
                                                            data-bs-target=".confirmModal">Save
                                                            Changes</a></li>
                                                </ul>
                                            </div>






                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <!-- Modal -->
                <div class="modal fade confirmModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center">
                                    <div class="mb-3">
                                        <i class="bx bx-check-circle display-4
                                        text-success"></i>
                                    </div>
                                    <h5>Confirm Save Changes</h5>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-light w-md" data-bs-dismiss="modal">Close</button>
                                <button type="type" class="btn btn-primary w-md" data-bs-dismiss="modal"
                                    onclick="nextTab()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        3C Sigma Water System ® 2022
                        <script>document.write(new Date().getFullYear())</script>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>


    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->

            <%- include ('partials/customizar-tema.ejs')%>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <!-- <div class="rightbar-overlay"></div> -->
    <!-- JAVASCRIPT -->
    <script src="./cssdash/libs/jquery/jquery.min.js"></script>
    <script src="./cssdash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./cssdash/libs/metismenu/metisMenu.min.js"></script>
    <script src="./cssdash/libs/simplebar/simplebar.min.js"></script>
    <script src="./cssdash/libs/node-waves/waves.min.js"></script>
    <script src="./cssdash/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="./cssdash/libs/pace-js/pace.min.js"></script>



    <!-- twitter-bootstrap-wizard js -->
    <script src="./cssdash/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="./cssdash/libs/twitter-bootstrap-wizard/prettify.js"></script>
    <!-- form wizard init -->
    <script src="./cssdash/js/pages/form-wizard.init.js"></script>


    <script src="./cssdash/js/app.js"></script>


    <script src="./cssdash/libs/dropzone/min/dropzone.min.js"></script>
  
                  <!-- choices js -->
                  <script
                      src="./cssdash/libs/choices.js/public/assets/scripts/choices.min.js"></script>
                  <!-- color picker js -->
                  <script src="./cssdash/libs/@simonwep/pickr/pickr.min.js"></script>
                  <script
                      src="./cssdash/libs/@simonwep/pickr/pickr.es5.min.js"></script>
                  <!-- datepicker js -->
                  <script src="./cssdash/libs/flatpickr/flatpickr.min.js"></script>
                  <!-- init js -->
                  <script src="./cssdash/js/pages/form-advanced.init.js"></script>
                  
  
    </body>

</html>