


  <!--==================FIXME:=====HEADER NUEVOS-CLIENTES====================  -->
  <%- include ('partials/partials-nuevo-cliente/header.ejs')%>
  <!--==================FIXME:=====HEADER NUEVOS-CLIENTES====================  -->


<body>

  <!-- Begin page -->
  <div id="layout-wrapper">

    <header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
           
         <!--====== LOGO ======================-->
            <%- include ('partials/logonav.ejs')%>
        <!--====== LOGO ======================-->

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item" id="page-header-search-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="search" class="icon-lg"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">
        
                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search Result">

                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
  <!-- ================================ITEMS PARA LAS BANDERAS E IDIOMAS================================= -->
            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                        <img src="./cssdash/images/flags/spain.jpg" alt="Header Language" height="16">
                    
                </button>

      
                <div class="dropdown-menu dropdown-menu-end">

                    <!-- item-->
                    <a href="?clang=en" class="dropdown-item notify-item language">
                        <img src="./cssdash/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> English </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=de" class="dropdown-item notify-item language">
                        <img src="./cssdash/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> German </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=it" class="dropdown-item notify-item language">
                        <img src="./cssdash/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Italian </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=es" class="dropdown-item notify-item language">
                        <img src="./cssdash/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Spanish </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=ru" class="dropdown-item notify-item language">
                        <img src="./cssdash/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Russian </span>
                    </a>
                </div>
            </div>
   <!-- ================================ITEMS PARA LAS BANDERAS E IDIOMAS================================= -->

            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item" id="mode-setting-btn">
                    <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                    <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                </button>
            </div>

           
  <!-- =======FIXME: OCULTANDO OPCIONES DE REDES========================== -->
  <%- include ('partials/opcionesredes.ejs')%>
  <!-- =======FIXME: OCULTANDO OPCIONES DE REDES========================== -->

 <!--======================= CAMPANA DE NOTIFICACIONES ====================  -->
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon position-relative" id="page-header-notifications-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="bell" class="icon-lg"></i>
                    <span class="badge bg-danger rounded-pill">5</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notificaciones </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small text-reset text-decoration-underline"> No leído (3)</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="#!" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="./cssdash/images/users/avatar-3.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">James lemire</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1">Parecerá un inglés simplificado.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hours ago</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#!" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-sm me-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="bx bx-cart"></i>
                                    </span>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Se realiza tu pedido</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1">Si varios idiomas fusionan la gramática</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min ago</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#!" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-sm me-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="bx bx-badge-check"></i>
                                    </span>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Tu artículo es enviado</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1">Si varios idiomas fusionan la gramática</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min ago</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="#!" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="./cssdash/images/users/avatar-6.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Salena layfield</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1">Como un escéptico amigo mío occidental de Cambridge.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hours ago</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top d-grid">
                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span>Ver más</span> 
                        </a>
                    </div>
                </div>
            </div>
 <!--======================= CAMPANA DE NOTIFICACIONES ====================  -->


            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item right-bar-toggle me-2">
                    <i data-feather="settings" class="icon-lg"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="./cssdash/images/users/avatar-1.jpg"
                        alt="Header Avatar">


   <!--==================FIXME:=====JALAR USUARIO====================  -->
   <%- include ('partials/jalarusuario.ejs')%>
   <!--==================FIXME:=====JALAR USUARIO====================  -->
                     

                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="contacts-profile"><i class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Perfil</a>
                   <a class="dropdown-item" href="pages-lock-screen"><i class="mdi mdi-lock font-size-16 align-middle me-1"></i> Bloquear pantalla</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="logout"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Cerrar sesión</a>
                </div>
            </div>

        </div>
    </div>
</header>
    <!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menú</li>

                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                       <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>
           

                        <!--==================FIXME:=====ACUERDO DE VENDEDOR====================  -->
                        <%- include ('partials/acuerdo-vendedor.ejs')%>
                        <!--==================FIXME:=====ACUERDO DE VENDEDOR====================  -->
                        <!--==================FIXME:=====FACTURA CLIENTE====================  -->
                        <%- include ('partials/factura-cliente.ejs')%>
                        <!--==================FIXME:=====FACTURA CLIENTE====================  -->
                        <!--==================FIXME:=====ELEMENTOS====================  -->
                        <%- include ('partials/elementos.ejs')%>
                        <!--==================FIXME:=====ELEMENTOS====================  -->
                     </ul>
                        <!--==================FIXME:=====ELEMENTOS====================  -->
                        <%- include ('partials/copiar-codigo.ejs')%>
                        <!--==================FIXME:=====ELEMENTOS====================  -->

        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Nuevo Cliente</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Nuevo Cliente</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->


   <!--============================================================-->
   <!--============= TODO:===== *FORMULARIO* ======= TODO:=========-->
   <!--============================================================-->
     
   <!-- BEGIN: Content-->
    <div class="app-content content" style="margin-top:-7px">

        <!-- Form wizard with step validation section start -->
        <section id="validation">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                       <div class="card-content collapse show">
                            <div class="card-body">
                                <form action="/register_nuevo_cliente"    class="steps-validation wizard-circle">
        
 <!--============= /FIXME:===== *SOLICITANTE* =======FIXME:=========-->
                                    <!-- Step 1 -->
                                     <h6><b>SOLICITANTE</b></h6>

                                    <fieldset>

                                        <div class="row text-align: center;">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="primer_nombref">
                                                        Primer nombre
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="primer_nombref" name="primer_nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="segundo_nombref">
                                                        Segundo nombre
                                                    
                                                    </label>
                                                    <input type="tel" class="form-control " id="segundo_nombref" name="segundo_nombre">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidosf">
                                                        Apellidos
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="apellidosf" name="apellidos" >
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="monto_financiarf">
                                                        Monto a financiar
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="currency-mask" id="monto_financiarf" name="monto_financiar" >
                                                </div>
                                            </div>
        
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="monto_financiarf">
                                                     Numero de Licencia
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control required" id="monto_financiarf" name="monto_financiar" >
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleDataList" class="form-label">Estado de licencia</label>
                                                <span class="danger">*</span>
                                                <input class="form-control required" list="datalistOptions" id="exampleDataList" placeholder="Escribe para buscar...">
                                                <datalist id="datalistOptions">
                                                      <option value="Alaska"></option>
                                                    <option value="Alabama"></option>
                                                    <option value="Arkansas"></option>
                                                    <option value="Arizona"></option>
                                                    <option value="California"></option>
                                                    <option value="Colorado"></option>
                                                    <option value="Connecticut"></option>
                                                    <option value="District of Columbia"></option>
                                                    <option value="Delaware"></option>
                                                    <option value="Florida"></option>
                                                    <option value="Georgia"></option>
                                                    <option value="Hawaii"></option>
                                                    <option value="Iowa"></option>
                                                    <option value="Idaho"></option>
                                                    <option value="Illinois"></option>
                                                    <option value="Indiana"></option>
                                                    <option value="Kansas"></option>
                                                    <option value="Kentucky"></option>
                                                    <option value="Louisiana"></option>
                                                    <option value="Massachusetts"></option>
                                                    <option value="Maryland"></option>
                                                    <option value="Maine"></option>
                                                    <option value="Michigan"></option>
                                                    <option value="Minnesota"></option>
                                                    <option value="Missouri"></option>
                                                    <option value="Mississippi"></option>
                                                    <option value="Montana"></option>
                                                    <option value="North Carolina"></option>
                                                    <option value="North Dakota"></option>
                                                    <option value="Nebraska"></option>
                                                    <option value="New Hampshire"></option>
                                                    <option value="New Jersey"></option>
                                                    <option value="New Mexico"></option>
                                                    <option value="Nevada"></option>
                                                    <option value="New York"></option>
                                                    <option value="Ohio"></option>
                                                    <option value="Oklahoma"></option>
                                                    <option value="Oregon"></option>
                                                    <option value="Pennsylvania"></option>
                                                    <option value="Puerto Rico"></option>
                                                    <option value="Rhode Island"></option>
                                                    <option value="South Carolina"></option>
                                                    <option value="South Dakota"></option>
                                                    <option value="Tennessee"></option>
                                                    <option value="Texas"></option>
                                                    <option value="Utah"></option>
                                                    <option value="Virginia"></option>
                                                    <option value="Vermont"></option>
                                                    <option value="Washington"></option>
                                                    <option value="Wisconsin"></option>
                                                    <option value="West Virginia"></option>
                                                    <option value="Wyoming"></option>
                                                </datalist>
                                            </div>
                                    
                                    

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="fecha_exprediccionf">
                                                        Fecha de expedición de licencia
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control required" id="fecha_exprediccionf" name="fecha_exprediccion">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="fecha_vencimientof">
                                                        Fecha de vencimiento de licencia
                                                                    
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control required" id="fecha_vencimientof" name="fecha_vencimiento">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Correof">
                                                        Correo
                                                        electronico
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="email" class="form-control required" id="Correof" name="correo">
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="row">
                                       

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="segurof">
                                                        Numero de seguro
                                                        Social / ITIN
                                                                    
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control required" id="segurof" name="seguro">
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div>
                                                    <div class="form-check
                                                        mb-3">
                                                        <input class="form-check-input" type="radio"
                                                            name="formRadios" id="formRadios1" checked>
                                                        <label class="form-check-label" for="formRadios1">
                                                            SSN 
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="formRadios" id="formRadios2">
                                                        <label class="form-check-label" for="formRadios2">
                                                            ITIN
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="fecha_nacimientof">
                                                        Fecha de
                                                        nacimiento
                                                                    
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control required" id="fecha_nacimientof" name="fecha_nacimiento">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="phone-mask">
                                                        Teléfono
                                                        móvil
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="phone-mask" name="telefono_movil">
                                                                                                   
                                                </div>
                                            </div>

                                        </div>
        
                                        <div class="row">
                                     
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="phone-masktwo">
                                                        Teléfono
                                                        secundario
                                                     
                                                    </label>
                                                    <input type="text" class="form-control " id="phone-masktwo" name="telefono_secundario">
                                                                                                   
                                                </div>
                                            </div>
                                    

                                        </div>



                                    </fieldset> 

<!--============= //FIXME:===== *SOLICITANTE* =======FIXME:=========-->


  <!--==========================/TODO:TODO:=============================================================-->

 <!--============= /FIXME:===== *CASA* ==============FIXME:=========-->
                                    <!-- Step 2 -->
                                    <h6><b>CASA</b></h6>
                                    <fieldset>
                                     <div class="row justify-content-center" style="text-align: center;">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="direccionf">
                                                        Dirección
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" placeholder="Escriba su direccion..." id="direccionf" name="direccion" >
                                                </div>
                                            </div>

                                 <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ciudadf">
                                                        Ciudad
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="ciudadf" name="ciudad" >
                                                </div>
                                                </div>


                                        <div class="row justify-content-center" style="text-align: center;">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="estadof">
                                                        Estado
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="estadof" name="estado" >
                                                </div>
                                            </div>
        
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="code_postalf">
                                                        Codigo postal
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="code_postalf" name="code_postal" >
                                                </div>
                                                


                                        <p  style="margin-left: -101%;">Indica la condición de tu vivienda</p>
                                                <div id="prod " style="margin-left: -94%;" >
                                                   
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="hipotecada" value="option1">
                                                    <label class="form-check-label" for="hipotecada">Hipotecada</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pagada" value="option2">
                                                    <label class="form-check-label" for="pagada">Pagada</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rentada" value="option3">
                                                    <label class="form-check-label" for="rentada">Rentada</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="padres" value="option4">
                                                    <label class="form-check-label" for="rentada">Vive con sus padres</label>
                                                  </div>

                                                </div>
                                            </div>
                                            
                                            <br>
                                            <br>
                                            
                                            <div class="row justify-content-center">
                                                <div class="col-md-4">
                                                    <div class="form-group" id="c_hipotecaria" style="margin-top: 7%;" >
                                                        <label for="c_hipotecaria">
                                                            Compañia hipotecaria
                                                          
                                                        </label>
                                                        <input type="text" class="form-control required" name="c_hipotecaria" >
                                                    </div>
                                                </div>

                                            </div>
                                            <br>
                                            <br>

                                            <div class="row justify-content-center">
                                                <div class="col-md-4">
                                                    <div class="form-group"  >
                                                        <label for="c_hipotecaria">
                                                            Años de residencia
                                                            <span class="danger">*</span>
                                                        </label>
                                                        <input type="number" class="form-control required" id="anio_residencia" name="anio_residencia" >
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="col-md-4">
                                                    <div class="form-group"  >
                                                        <label for="c_hipotecaria">
                                                           Meses de residencia
                                                            <span class="danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control required"  id="meses_residencia"name="meses_residencia" >
                                                    </div>
                                                </div>

                                            </div>



                                        </div>    

                             
                                    </fieldset> 
<!--============= //FIXME:===== *CASA* ======= ===== FIXME:=========-->

<!--=============================TODO:TODO:=============================================================-->

 <!--============= /FIXME:===== *INGRESOS* ========  FIXME:=========-->

                                    <!-- Step 3 -->
                                    <h6><b>INGRESOS</b></h6>
                                    <fieldset>
                                        <div class="row text-align: center;">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="empleador_aplicantef">
                                                        Empleador del aplicante
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <labe id="content" style="display: none; ">Trabajador independiente</labe>
                                                    <input type="text" class="form-control required" id="empleador_aplicantef" name="empleador_aplicante" >
                                                <div class="recuerdame">
                                                    <div class="form-check">
                                                     
                                                        <input class="form-check-input" name="check"  id="check" type="checkbox"  value="1"  onchange="javascript:showContent()">
                                                        <label class="form-check-label" for="check"> Trabajador independiente </label>
                                
                                                    </div>
                
                                                </div>
                                                </div>
                                                
                                            </div>
                                      <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="anios_trabajandof">
                                                        Años trabajando
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control required" id="anios_trabajandof" name="anios_trabajando" >
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="meses_trabajandof">
                                                      Meses trabajando
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control required" id="meses_trabajandof" name="meses_trabajando">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row text-align: center;">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="currency-masktwo">
                                                       Salario mensual
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="currency-masktwo" name="salario_mensual" >
                                                </div>

                                                <label>¿Ha estado en bancarrota?</label>
                                                <br>
                                           
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="bancarrota" id="si_bancarrota" value="option1">
                                                    <label class="form-check-label" for="si_bancarrota">Si</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                    <input class="form-check-input"  type="radio" name="bancarrota" id="no_bancarrota" value="option2">
                                                    <label class="form-check-label"   for="no_bancarrita">No</label>
                                                   
                                                </div>
                                                    
                                                  <div id="acc_pendiente">
                                                    <br>
                                                  
                                                    <label>¿Tiene acción pendiente?</label>
                                                    <br>
                                               
                                                    <div class="form-check form-check-inline" id="acc_pendiente">
                                                        <input class="form-check-input" type="radio" name="sacc_pendiente" id="si_pendiente" value="option1">
                                                        <label class="form-check-label" for="i">Si</label>
                                                      </div>
                                                      <div class="form-check form-check-inline" id="acc_pendiente">
                                                        <input class="form-check-input"  type="radio" name="sacc_pendiente" id="no_pendiente" value="option2">
                                                        <label class="form-check-label"  for="no">No</label>
                                                      </div>
                                                    </div>



                                            </div>
        
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ocupacionf">
                                                        Ocupación
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="ocupacionf" name="ocupacion" >
                                                </div>

                                                <div class="col-md-15" id="anio_bancarrotaid">
                                                    <div class="form-group" id="anio_bancarrotaid">
                                                        <label for="anio_bancarrotaf">
                                                            Año de bancarrota
                                                            <span class="danger">*</span>
                                                       </label>
                                                        <input type="text" class="form-control required"  id="anio_bancarrotaf" name="anio_bancarrota" >
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="phone-maskk">
                                                        Teléfono de trabajo
                                                              </label>
                                                    <input type="text" class="form-control " id="phone-maskk" name="telefono_trabajo">
                                                                                           
                                                </div>


                                                <div id="tipo_bancarrota">
                                                <label for="exampleDataList" class="form-label">Tipo de bancarrota</label>
                                                <span class="danger">*</span>
                                                <input class="form-control required" list="datalistOptions" id="exampleDataList" >
                                                <datalist id="datalistOptions">
                                                    <option>Seleccione</option>
                                                    <option>Non-adjudicated</option>
                                                    <option>Dismissed CH-11</option>
                                                    <option>Discharged CH-11</option>
                                                    <option>CH-12 Filed</option>
                                                    <option>Discharged CH-12</option>
                                                    <option>involuntary CH-7</option>
                                                    <option>Dismissed CH-12</option>
                                                    <option>Dismissed CH-13</option>
                                                    <option>Discharged CH-13</option>
                                                    <option>Dismissed CH-7</option>
                                                    <option>Voluntary CH-7</option>
                                                    <option>CH-13 Filed</option>
                                                    <option>CH-11 Filed</option>
                                                    <option>Discharged CH-7</option>
                                                    
                                                </datalist>
                                            </div>
                                              
                                                                                      
                                          </div>

                                   </div>

                                    <br>
                                             
                                                
                                        <h4 style="text-align: center;" >Otros ingresos </h4>

                                        <div class="row text-align: center;">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="empleador_anteriorf">
                                                        Empleador anterior
                                                   </label>
                                                    <input type="text" class="form-control " id="empleador_anteriorf" name="empleador_anterior" >
                                                </div>
                                            </div>
        
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="otros_ingresosf">
                                                        Fuente de otros ingresos
                                                     </label>
                                                    <input type="text" class="form-control " id="otros_ingresosf" name="otros_ingresos" >
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="currency-maskthree">
                                                        Ingresos adicionales
                                                   </label>
                                                    <input type="text" class="form-control" id="currency-maskthree" id="ingresos_adicionalesf" name="ingresos_adicionales">
                                                </div>
                                            </div>

                                        </div>    

        
                                    </fieldset>
<!--============= / FIXME:===== *INGRESOS* ==========FIXME:=========-->

 <!--=============================TODO:TODO:=============================================================-->
<!--============= //FIXME:===== *CONFIGURACION BANCARIA* ======= FIXME:=========-->
            <h6><b>INFORMACIÓN BANCARIA</b></h6>
            <fieldset>

            <div class="row text-align: center;">
                <div class="col-md-4">
                <label for="exampleDataList" class="form-label">Tipo de bancarrota</label>
                <span class="danger">*</span>
                <input class="form-control required" list="datalistOptions" id="exampleDataList" placeholder="Seleccione" >
                <datalist id="datalistOptions">
                    <option>Cuenta corriente</option>
                    <option>Cuenta de ahorros</option>
               </datalist>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="numero_rutaf">
                            Numero de ruta
                        </label>
                        <span class="danger">*</span>
                    <input type="number" class="form-control " id="numero_rutaf" name="numero_ruta">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="numero_cuentaf">
                        Numero de cuenta
                        </label>
                        <span class="danger">*</span>
                    <input type="number" class="form-control "  id="numero_cuentaf" name="numero_cuenta">
                </div>
            </div>

            </div> 


            </fieldset> 
<!--============= //FIXME: ===== *CONFIGURACION BANCARIA* ===== FIXME:=========-->

 <!--=============================TODO:TODO:=============================================================-->

<!--============= / FIXME:===== *CO-SOLICITANTE* === FIXME:=========-->
                                    <!-- Step 4 -->
                                    <h6><b>CO-SOLICITANTE</b></h6>
                                    <fieldset>

                            <center><b>La solicitud tiene co-solicitante</b>
                                <br>
                                        <input type="checkbox" name="mostrar" id="mostrar" value="1" onchange="javascript:showContent()" />
                            </center>
                            <br>
                            
                                     <div id="contentt" style="display: none; ">

                                        <div class="row text-align: center;">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="licenciaf">
                                                        Identificación / licencia de conducción
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control required" id="licenciaf" name="licencia" >
                                                </div>
                                            </div>
        
                                       <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="expedición_licenciaf">
                                                        Fecha de expedición de licencia
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control required" id="expedición_licenciaf" name="expedición_licencia" >
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="vencimiento_licenciaf">
                                                        Fecha de vencimiento de licencia
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control required" id="vencimiento_licenciaf" name="vencimiento_licencia">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row text-align: center;">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="numero_se_socialf">
                                                        Numero de seguro social/ITIN
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="number" class="form-control required" id="numero_se_socialf" name="numero_se_social" >
                                                
                                                                   
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SSN" value="option1">
                                                <label class="form-check-label" for="SSN">SSN</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ITIN" value="option2">
                                                <label class="form-check-label" for="ITIN">ITIN</label>
                                              </div>
                                            </div>
                                                
                                                </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="fecha_nacif">
                                                        Fecha de nacimiento
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control required" id="fecha_nacif" name="fecha_naci">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="nombre_cof">
                                                        Nombre
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="nombre_cof" name="nombre_co" >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row text-align: center;">
        
                                               <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="segundo_nombre_cof">
                                                        Segundo nombre
                                                    </label>
                                                    <input type="text" class="form-control " id="segundo_nombre_cof" name="segundo_nombre_co" >
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="apelli_cof">
                                                        Apellidos
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="apelli_cof" name="apelli_co">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="phone-masktel">
                                                        Teléfono móvil
                                                        <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="phone-masktel" name="telefono_movil_co" >
                                                </div>
                                            </div>

                                        </div>
                                        
                                        <div class="row text-align: center;">
                                               <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="phone-maskteltwo">
                                                        Teléfono secundario
                                                    </label>
                                                    <input type="text" class="form-control " id="phone-maskteltwo" name="tel_secundario_co" >
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="direc_co_solicitantef">
                                                        Dirección del co-solicitante
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" id="direc_co_solicitantef" name="direc_co_solicitante">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="relacionf">
                                                        Relación/parentesco
                                                      <span class="danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control required" placeholder="Ej. Amigo, pareja, padre..." id="relacionf" name="relacionf">
                                                </div>
                                            </div>

                                        </div> 

                                     
                                            <label>¿Es militar activo?</label>
                                            <br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input inline" type="radio" name="militar_active" id="si_activo" value="option1">
                                                <label class="form-check-label" for="si_activo">Si</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                <input class="form-check-input inline" type="radio" name="militar_active" id="no_activo" value="option2">
                                                <label class="form-check-label" for="no_activo">No</label>
                                                <br>
                                              </div>
                                              



                                        <h4 style="text-align: center;">Empleo del co-solicitante</h4>
                                        <br>
                                        <br>
                                        <div class="row text-align: center;">
                                            <div class="col-md-4">
                                             <div class="form-group">
                                                 <label for="empleador_cof">
                                                  Empleador del co-solicitante
                                                  <span class="danger">*</span>
                                                 </label>
                                                 <input type="text" class="form-control required" id="empleador_cof" name="empleador_co" >
                                             </div>
                                         </div>

                                         <div class="col-md-4">
                                             <div class="form-group">
                                                 <label for="anios_trabajando_cof">
                                                    Años trabajando
                                                   <span class="danger">*</span>
                                                 </label>
                                                 <input type="number" class="form-control required" id="anios_trabajando_cof" name="anios_trabajando_cof">
                                             </div>
                                         </div>

                                         <div class="col-md-4">
                                             <div class="form-group">
                                                 <label for="meses_trabajando_cof">
                                                    Meses trabajando
                                                   <span class="danger">*</span>
                                                 </label>
                                                 <input type="text" class="form-control required"  id="meses_trabajando_cof" name="meses_trabajando_cof">
                                             </div>
                                         </div>

                                     </div> 

                                     <div class="row text-align: center;">
                                        <div class="col-md-4">
                                         <div class="form-group">
                                             <label for="currency-masksalario">
                                                Salario mensual
                                                <span class="danger">*</span>
                                             </label>
                                             <input type="text" class="form-control required" id="currency-masksalario" name="salario_mensual_co" >
                                         </div>
                                     </div>

                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <label for="ocupacion_cof">
                                                Ocupación
                                               <span class="danger">*</span>
                                             </label>
                                             <input type="text" class="form-control required" id="ocupacion_cof" name="ocupacion_co">
                                         </div>
                                     </div>

                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <label for="phone-maskteltrabajo">
                                                Teléfono de trabajo
                                               <span class="danger">*</span>
                                             </label>
                                             <input type="text" class="form-control required"  id="phone-maskteltrabajo" name="telefono_tra_cof">
                                         </div>
                                     </div>

                                 </div> 
                                 <div class="row text-align: center;">
                                    <div class="col-md-4">
                                     <div class="form-group">
                                         <label for="empleador_anterior_cof">
                                            Empleador anterior
                                            </label>
                                         <input type="text" class="form-control " id="empleador_anterior_cof" name="empleador_anterior_co" >
                                     </div>
                                 </div>

                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label for="ingresos_cof">
                                            Fuente de otros ingresos
                                           </label>
                                         <input type="text" class="form-control " id="ingresos_cof" name="ingresos_co">
                                     </div>
                                 </div>

                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label for="currency-maskingresoadi">
                                            Ingresos adicionales
                                           </label>
                                         <input type="text" class="form-control "  id="currency-maskingresoadi" name="ingresos_adi_co">
                                     </div>
                                 </div>

                             </div>  

                            </div>
                           </fieldset>
<!--============= //FIXME:===== *CO-SOLICITANTE* ==== FIXME:=========-->

 <!--=============================TODO:TODO:=============================================================-->

<!--============= //FIXME:===== *REFERENCIAS* ======= FIXME:=========-->
                           <h6><b>REFERENCIAS</b></h6>
                           <fieldset>
                            <div class="row text-align: center;">
                                <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="nom_referencia1_cof">
                                        Nombre de referencia
                                        </label>
                                     <input type="text" class="form-control " id="nom_referencia1_cof" name="nom_referencia1_co" >
                                 </div>
                             </div>

                             <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="parentesco1_cof">
                                        Relación/parentesco
                                       </label>
                                     <input type="text" class="form-control " id="parentesco1_cof" name="parentesco1_co">
                                 </div>
                             </div>

                             <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="phone-masktelreferenciasone">
                                        Teléfono móvil
                                       </label>
                                     <input type="text" class="form-control "  id="phone-masktelreferenciasone" name="tel_movil1_co">
                                 </div>
                             </div>

                         </div> 
                         <hr class="bg-primary" style="padding:2px; background:#812082!important">

                         <div class="row text-align: center;">
                            <div class="col-md-4">
                             <div class="form-group">
                                 <label for="nom_referencia2_cof">
                                    Nombre de referencia
                                    </label>
                                 <input type="text" class="form-control " id="nom_referencia2_cof" name="nom_referencia2_co" >
                             </div>
                         </div>

                         <div class="col-md-4">
                             <div class="form-group">
                                 <label for="parentesco2_cof">
                                    Relación/parentesco
                                   </label>
                                 <input type="text" class="form-control " id="parentesco2_cof" name="parentesco2_co">
                             </div>
                         </div>

                         <div class="col-md-4">
                             <div class="form-group">
                                 <label for="phone-masktelreferenciastwo">
                                    Teléfono móvil
                                   </label>
                                 <input type="text" class="form-control "  id="phone-masktelreferenciastwo" name="tel_movil2_co">
                             </div>
                         </div>

                     </div>


                     <hr class="bg-primary" style="padding:2px; background:#812082!important">

                     
                     <div class="row text-align: center;">
                        <div class="col-md-4">
                         <div class="form-group">
                             <label for="nom_referencia2_cof">
                                Nombre de referencia
                                </label>
                             <input type="text" class="form-control " id="nom_referencia2_cof" name="nom_referencia2_co" >
                         </div>
                     </div>

                     <div class="col-md-4">
                         <div class="form-group">
                             <label for="parentesco2_cof">
                                Relación/parentesco
                               </label>
                             <input type="text" class="form-control " id="parentesco2_cof" name="parentesco2_co">
                         </div>
                     </div>

                     <div class="col-md-4">
                         <div class="form-group">
                             <label for="phone-masktelreferenciasthree">
                                Teléfono móvil
                               </label>
                             <input type="text" class="form-control "  id="phone-masktelreferenciasthree" name="tel_movil2_co">
                         </div>
                     </div>

                 </div>
                         </fieldset> 
 <!--============= //FIXME: ===== *REFERENCIAS* ===== FIXME:=========-->

  <!--=============================TODO:TODO:=============================================================-->

<!--======== //======FIXME:== * TERMINOS Y CONDICIONES* FIXME:=========-->
                                      <h6><b>TERMINOS Y CONDICIONES</b></h6>
                                      <fieldset>

                                            <div class="row ">

                                                        <div class="container " style="text-align: justify;">
                                                       
                                                  
                                                              <p>Magna dolor consectetur ipsum mollit ut nulla nisi. Cillum
                                                                laborum nulla ad proident quis amet do officia et consectetur.
                                                                Non duis ex ut aliquip cillum occaecat irure elit reprehenderit
                                                                occaecat veniam nostrud laboris. Ad sit id nostrud et mollit
                                                                elit ea laboris laborum sunt occaecat cillum amet
                                                                commodo.Consectetur aliqua laborum incididunt enim tempor duis
                                                                cillum culpa do quis. Veniam pariatur do consectetur ea.
                                                                Occaecat laboris sit incididunt commodo elit commodo.</p>
                                                              <p> dolore irure voluptate pariatur ut do excepteur. Ea adipisicing
                                                                et reprehenderit duis labore ea velit. Sunt nostrud irure non
                                                                nostrud tempor voluptate sint voluptate ut deserunt
                                                                reprehenderit esse anim.Veniam incididunt officia amet
                                                                exercitation est minim sint com culpa id Lorem elit eu
                                                                consequat. Nulla amet commodo magna.</p>
                                                              <p>veniam veniam et laboris id aliquip tempor culpa. Excepteur ea
                                                                tempor fugiat anim non ea proident consectetur id aute ullamco
                                                                dolor qui irure. Dolore esse est ipsum elit irure voluptate
                                                                consequat veniam amet reprehenderit adipisicing incididunt
                                                                voluptate. Qui officia ullamco id tempor quis ex quis quis
                                                                cillum nostrud ad sint. Amet Lorem eu pariatur voluptate ullamco
                                                                pariatur sit labore ex aliquip eiusmod commodo veniam
                                                                incididunt. Aliquip irure ea veniam quis esse enim labore anim
                                                                anim aliqua ea nulla.</p>
                                        
                                                        </div> 
                                                    
                                               </div>


                                               <div>  
                                   <input type="checkbox" name="" required id="prueba">
                                                      <label> <b> He leído y estoy de acuerdo con los términos</b> </label>
                                            </div>

                                      </fieldset> 
<!--============= // FIXME:===== *TERMINOS Y CONDICIONES* FIXME:=========-->

  <!--=============================TODO:TODO:=============================================================-->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Form wizard with step validation section end -->
        
        </div>
        <!-- End: Customizer-->
        
   <!--============================================================-->
   <!--============== TODO:===== *FORMULARIO* ======= TODO:=========-->
   <!--============================================================-->

        </div>
      </div>
      <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
             3C Sigma Water System ®  <script>document.write(new Date().getFullYear())</script> 
            </div>
         
        </div>
    </div>
</footer>
    </div>
  </div>

  
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center bg-dark p-3">

            <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>

        <!-- Settings -->
    
        <%- include ('partials/customizar-tema.ejs')%>

    </div> <!-- end slimscroll-menu-->
</div>

  <!--==================FIXME:=====FOOTER NUEVOS-CLIENTES====================  -->
            <%- include ('partials/partials-nuevo-cliente/footer.ejs')%>
  <!--==================FIXME:=====FOOTER NUEVOS-CLIENTES====================  -->