<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Lista de clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">



    <!-- DataTables -->
    <link href="../directorio_perfilClientes/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="../directorio_perfilClientes/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />



    <!-- preloader css -->
    <link rel="stylesheet" href="../directorio_perfilClientes/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/bootstrap.min.css"
        id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/app.min.css" id="app-style" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- =======FIXME: MENU ========================== -->

        <%- include ('./partials/menu.ejs')%>

            <!-- =======FIXME: MENU ========================== -->

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                            <div class="col-xl-9">
                                <div class="">
                                    <div class="card-body">
                                      
                                        <div class="row">
                                            <div class="col-lg-14">
                                                <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                                    <div class="card-header bg-transparent border-primary">
                                                        <h5 class="my-0 text-primary">
                                                            <i class="fa fa-user-circle"></i>&nbsp; Datos del cliente</h5>

                                                            <a href="/solicitar-credito/<%= clientes2.id_cliente %>" id="verBtn">
                                                                <button class="btn btn-primary" id="btn_credito" type="button" style="float: right;margin-top: -4%;border-radius:13px;">Solicitar credito</button>
                                                            </a> 

                                                      </div>
                                                    <div class="card-body">

                                                        <div class="table-responsive">
                                                            <table class="table mb-0">

                                                                <tbody>
                                                                    <tr>
                                                                        
                                                                         <td style="width: 19%;">ID</td>
                                                                         <td><b><%= clientes2.id_cliente %></b></td>
                                                                         <td>Teléfono</td>
                                                                         <td><b><%= clientes2.telefono %></b></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Nombre</td>
                                                                        <td><b><%= clientes2.nombre %></b></td>
                                                                        <td>Direccion</td>
                                                                        <td><b><%= clientes2.direccion %> <%= clientes2.ciudad %> <%= clientes2.estado_ubicacion %> <%= clientes2.codigo_postal %> </b></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Apellido</td>
                                                                        <td><b><%= clientes2.apellido %></b></td>
                                                                        <td>Estado de credito</td>
                                                                        
                                                                    </tr>
                                                           
                                                                    <tr>
                                                                        <td>Correo electronico</td>
                                                                        <td><b><%= clientes2.correo %></b></td>
                                                                        <td style="width: 19%;">Monto aprobado</td>
                                                                        <td><div class="badge badge-soft-success font-size-12">$0<%= clientes2.monto_aprobado %></div></td>
                                                                         </tr>
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div><!-- end col -->
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
                                </div><!-- end col -->
                                </div>

                            </div>
                            <!--  end row -->
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="">
    
                                        <div class="card-body">
    
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card border border-primary">
                                                        <div class="card-header bg-transparent border-primary">
                                                            <h5 class="my-0 text-primary"><i class="mdi mdi-bullseye-arrow me-3"></i>Primary outline Card</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title">card title</h5>
                                                            <p class="card-text">
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                Minus dolores asperiores obcaecati voluptatem, quisquam illo
                                                                tempora fugit enim repellat perspiciatis neque praesentium
                                                                eaque, atque quaerat laboriosam! Ullam ratione natus
                                                                ducimus?
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                Minus dolores asperiores obcaecati voluptatem, quisquam illo
                                                                tempora fugit enim repellat perspiciatis neque praesentium
                                                                eaque, atque quaerat laboriosam! Ullam ratione natus
                                                                ducimus?
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                Minus dolores asperiores obcaecati voluptatem, quisquam illo
                                                                tempora fugit enim repellat perspiciatis neque praesentium
                                                                eaque, atque quaerat laboriosam! Ullam ratione natus
                                                                ducimus?
    
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div><!-- end col -->
                                            </div>
                                            <!-- end card-body -->
                                        </div>
                                        <!-- end card -->
                                    </div><!-- end col -->
                                    </div>
    
                                </div>
                                <!--  end row -->

                        </div>
                    </div>
                    <!-- =======FIXME: copyright ========================== -->
                    <%- include ('./partials/copyright.ejs')%>
                        <!-- =======FIXME: copyright ========================== -->

                </div>
            </div>


            <!-- Right Sidebar -->
            <div class="right-bar">
                <div data-simplebar class="h-100">
                    <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                        <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                        <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                            <i class="mdi mdi-close noti-icon"></i>
                        </a>
                    </div>

                    <!-- Settings -->

                    <%- include ('partials/customizar-tema.ejs')%>

                </div> <!-- end slimscroll-menu-->
            </div>
            <!-- /Right-bar -->

            <!-- VALIDACIONES BREVES -->
            <% if (!estado.verBtn){%>
            <script>
                const boton = document.getElementById("btn_credito")
                boton.setAttribute("disabled", "")
                boton.style.filter = "grayscale(1)";
            </script>
            <%}%>

        
            <!-- JAVASCRIPT -->
            <script src="../directorio_perfilClientes/js/scripts_personalizadosdash.js"></script>
            <script src="../directorio_perfilClientes/libs/jquery/jquery.min.js"></script>
            <script src="../directorio_perfilClientes/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../directorio_perfilClientes/libs/metismenu/metisMenu.min.js"></script>
            <script src="../directorio_perfilClientes/libs/simplebar/simplebar.min.js"></script>
            <script src="../directorio_perfilClientes/libs/node-waves/waves.min.js"></script>
            <script src="../directorio_perfilClientes/libs/feather-icons/feather.min.js"></script>
            <!-- pace js -->
            <script src="../directorio_perfilClientes/libs/pace-js/pace.min.js"></script>



            <!-- Required datatable js -->
            <script src="../directorio_perfilClientes/libs/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="../directorio_perfilClientes/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
            <!-- Responsive examples -->
            <script
                src="../directorio_perfilClientes/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script
                src="../directorio_perfilClientes/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
            <!-- init js -->
            <script src="../directorio_perfilClientes/js/pages/datatable-pages.init.js"></script>



            <script src="../directorio_perfilClientes/js/app.js"></script>


</body>

</html>