<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Perfil clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">



 <!-- App favicon -->
 <link rel="shortcut icon" href="./directorio_perfilClientes/images/favicon.ico">

 <!-- Responsive Table css -->
 <link href="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />

 <!-- preloader css -->
 <link rel="stylesheet" href="../directorio_perfilClientes/css/preloader.min.css" type="text/css" />

 <!-- Bootstrap Css -->
 <link href="../directorio_perfilClientes/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
 <!-- Icons Css -->
 <link href="../directorio_perfilClientes/css/icons.min.css" rel="stylesheet" type="text/css" />
 <!-- App Css-->
 <link href="../directorio_perfilClientes/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- =======FIXME: MENU ========= -->

        <%- include ('./partials/menu.ejs')%>

            <!-- =======FIXME: MENU ====== -->

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

           <!-- * =============>> Datos del cliente  <<========================== -->
                    <div class="row">
                            <div class="col-xl-8" >
                                <div class="">
                                    <div class="card-body">
                                      
                                        <div class="row">
                                            <div class="col-lg-14">
                                                <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                                    <div class="card-header bg-transparent border-primary">
                                                        <h5 class="my-0 text-primary">
                                                            <i class="fa fa-user-circle"></i>&nbsp; Datos del cliente</h5>

                                                            <a href="/solicitar-credito/<%= clientes2.id_cliente %>" id="verBtn">
                                                                <button class="btn btn-primary" id="btn_credito" type="button" style="float: right;margin-top: -4%;border-radius:13px;">Solicitar credito</button>
                                                            </a> 

                                                      </div>
                                                    <div class="card-body">

                                                        <div class="table-responsive" style="overflow-x: hidden;">
                                                            <table class="table mb-0">

                                                                <tbody>
                                                                    <tr>
                                                                        
                                                                         <td style="width: 23%;">ID</td>
                                                                         <td><b><%= clientes2.id_cliente %></b></td>
                                                                         <td>Teléfono</td>
                                                                         <td><b><%= clientes2.telefono %></b></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Nombre</td>
                                                                        <td style="width: 29%;"><b><%= clientes2.nombre %></b></td>
                                                                        <td style="width:20%">Dirección</td>
                                                                        <td><b><%= clientes2.direccion %> <%= clientes2.ciudad %> <p><%= clientes2.estado_ubicacion %> <%= clientes2.codigo_postal %> </p></b></td>
                                                                     
                                                                    </tr>

                                                                    <tr>
                                                                        <td>Segundo nombre</td>
                                                                        <td><b><%= clientes2.segundo_nombre %></b></td>
                                                                        <td>Dirección 2</td>
                                                                        <td><b><%=clientes2.direccion2%></b></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Apellido</td>
                                                                        <td><b><%= clientes2.apellido %></b></td>
                                                                        <td>Estado de credito</td>
                                                                        <td><div class="badge <%=estado.color%> font-size-12" ><%= estado.txt %></div></td>
                                                                    </tr>
                                                           
                                                                    <tr>
                                                                        <td>Correo electronico</td>
                                                                        <td><b><%= clientes2.correo %></b></td>
                                                                        <td style="width: 24%;">Monto aprobado</td>
                                                                        <td><div class="badge badge-soft-success font-size-12">$0 <%= clientes2.monto_aprobado %></div></td>
                                                                         </tr>
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
   
                                                    </div>

                                                </div>
                                            </div><!-- end col -->

                                             </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->

                                </div><!-- end col -->
                              </div>
                          
                              <style>
                                    .noVisitado{
                                         background: #50515c;
                                         }
                                         .letra{
                                             color:white;
                                         }
                                     .visitado{
                                         background: #89c278;
                                     }
                                     .producto_instalado{
                                        background: #fed061;
                                     }
                                   
                                </style>


                                <div class="col-lg-4">
                                   
                              <div class="alert alert-primary alert-dismissible alert-outline fade show" style=" border-radius: 13px;  width: 100%; " role="alert">
                                        <strong>Comisión</strong> - En esta venta has recibido: $ 0
                                        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                                    </div>
                                   

                                    <div class="card border-primary text-white-50 <%= estadoVisita_testAgua.background %>" style="margin-top: 5%;">
                                        <div class="card-body">
                                            <h6 class="mb-3 text-white">Estado de visitas</h6>
                                            <p class="card-text" style="color:white;">
                                                <td><div class="badge <%= estadoVisita_testAgua.color %> font-size-12 letra" > <%= estadoVisita_testAgua.txt  %> <%= consulta_UltimoTestAgua.fecha_test %></div></td>
                                                    </p>
                                            
                                        </div>
                                    </div>
                                    <div class="card  border-primary text-white-50 <%= estado_intalacion.background %>">
                                        <div class="card-body">
                                            <h6 class="mb-3 text-white">Estado de la instalación del producto</h6>
                                            <p class="card-text" style="color:white;">
                                                <td><div class="badge <%= estado_intalacion.color %> font-size-12 letra" > <%= estado_intalacion.txt %> </div></td>

                                            </p>
                                            
                                        </div>
                                    </div>
                                  
                                 </div>
                                
                              
                    </div>
            <!-- * =============>> FIN Datos del cliente  <<===================== -->

            <!-- * =============>> Test de agua  <<============================== -->
            <div class="row">
                <div class="col-xl-8">
                    <div class="">
                    
                        <div class="row">
                            <div class="col-lg-14">
                                <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">

                                   <div class="card-header bg-transparent border-primary">
                                        <h5 class="my-0 text-primary">
                                            <i class="fas fa-water"></i>&nbsp; Test de agua</h5>

                                            <a href="/test-de-agua/<%= clientes2.id_cliente %>" >
                                                <button class="btn btn-primary"  type="button" style="float: right;margin-top: -4%;border-radius:13px;">Realizar test</button>
                                            </a> 
                                    </div> 
                  
                                    <div class="card-body">
                                        <div class="">
                                            <div class="table-responsive" >
                                                               
                                                <table class="table table-nowrap align-middle" id="idahorro"
                                             class="dataTables_filter"  id="tech-companies-1" class="dataTables_info" style="margin-top: 2%;" >
                                                                    <thead class="">
                                                                        <tr>
                                                                            <th>Numero de test</th>
                                                                            <th>Fecha</th>
                                                                            <th>Dureza (gpg)</th>
                                                                            <th>Hierro (ppm)</th>
                                                                            <th>Total dureza compensada</th>
                                                                            <th >TSD (Total de solidos disueltos)</th>
                                                                            <th>Cloro (ppm)</th>
                                                                            <th>pH</th>
                                                                            <th>Azufre (ppm)</th>
                                                                            <th>Tanino (ppm)</th>
                                                                            <th>Nitrato (ppm)</th>
                                                                            <th>Alcalinidad</th>
                                                                            <th>Otro</th>
                                                                            <th>Concentración</th>
                                                                            <th>Otro</th>
                                                                            <th>Concentración</th>
                                                                            <th>Otro</th>
                                                                            <th>Concentración</th>
                                                                            <th>Nota</th>
                                                                           
                                                                           
                                                                           
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                      
                                                                        <% informacionTestAgua.forEach((user)=>{ %>
                                                                                                                                                    
                                                                            <tr>
                                                                                <td><%= user.id %></td>
                                                                                  <td><%= user.fecha_test %></td>
                                                                                  <td><%= user.dureza_gmXgalon %></td>
                                                                                  <td><%= user.hierro %></td>
                                                                                  <td><%= user.totalDureza_compensada %></td>
                                                                                  <td><%= user.tsd %></td>
                                                                                  <td><%= user.cloro %></td>
                                                                                  <td><%= user.ph %></td>
                                                                                  <td><%= user.azufre %></td>
                                                                                  <td><%= user.tanino %></td>
                                                                                  <td><%= user.nitrato %></td>
                                                                                  <td><%= user.alcalinidad %></td>
                                                                                  <td><%= user.otro1 %></td>
                                                                                  <td><%= user.concentracion1 %></td>
                                                                                  <td><%= user.otro2 %></td>
                                                                                  <td><%= user.concentracion2 %></td>
                                                                                  <td><%= user.otro3 %></td>
                                                                                  <td><%= user.concentracion3 %></td>   
                                                                                  <td><%= user.nota %></td>    
                                                                     
                                                                            </tr>
                                                                   
                                                                                  <%})%>

                                                                                </tbody>
                                                                            </table>
                                                                            
                                                                            
                                                                            <input type="hidden" id="datosJson_PrimerTestagua" value="<%= datosJson_PrimerTestagua %>">
                                                                            <input type="hidden" id="datosJson_UltimoTestagua" value="<%= datosJson_UltimoTestagua %>">
                                                                           
                                                                        </div>
                                                                            
                                        
                                                                        </div>

                                                                    </div>
                                                        <!-- end card -->
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <!-- end card -->
                                                </div> <!-- end col -->
                                

                                        <div class="col-lg-4 ">
                                            <div class="card" style="margin-top: 5%;">
                                                <div class="card-header">
                                                    <h4 class="card-title mb-0">Calidad de agua del hogar</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div id="column_chart" data-colors='["#a99bcb", "#50368c"]' class="apex-charts" dir="ltr"></div>                                      
                                                </div>
                                            </div>
                                            
                                            <!--end card-->
                                        </div>
                                </div>
            <!-- * =============>> FIN Test de agua  <<=============================->

            <!-- * =============>> Ahorro  <<===================================== -->
                    <div class="row">
                                <div class="col-xl-8">
                                    <div class="">
                                        <div class="card-body">
                                          
                                            <div class="row">
                                                <div class="col-lg-14">
                                                    <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                                        <div class="card-header bg-transparent border-primary">
                                                            <h5 class="my-0 text-primary">
                                                                <i class="fas fa-money-bill"></i>&nbsp; Ahorro</h5>
    
                                                                <a href="/calcular-ahorro/<%= clientes2.id_cliente %>" >
                                                                    <button class="btn btn-primary"  type="button" style="float: right;margin-top: -4%;border-radius:13px;">Calcular</button>
                                                                </a> 
    
                                                          </div>
                                                          <div class="card-body">
                                                            <div class="table-responsive" style="overflow-x: hidden;" >
                                                               
                                                                <table class="table table-striped mb-0" 
                                                                 id="copyahorro" class="dataTables_filter" 
                                                                  class="dataTables_paginate "
                                                                  class="dataTables_info" style="margin-top: 2%;">
                                                             <style>
                                                               
                                                                .dataTables_filter{
                                                                     display: none;
                                                                 }
                                                                 .dataTables_paginate{
                                                                     display: none;
                                                                 }
                                                                 .dataTables_info{
                                                                     display: none;
                                                                 } 

                                                             </style>
                                                                    <thead class="table-light">
                                                                        <tr>
                                                                            <th ></th>
                                                                            <th>Gasto mensual</th>
                                                                            <th>Ahorro mensual</th>
                                                                            <th>Ahorro anual</th>
                                                                           
                                                                           
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                      
                                                                        <tr>
                                                                            <td>Agua embotellada</td>
                                                                            <td>$ <%= ahorroCalculado.agua_embotellada %></td>
                                                                            <td>$ <%= ahorroCalculado.ahorroMensual_aguaEmbotellada %></td>  
                                                                            <td>$ <%= ahorroCalculado.ahorroAnual_aguaEmbotellada %></td>                                                                      
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Jabones</td>
                                                                            <td>$ <%= ahorroCalculado.jabones %></td>   
                                                                            <td>$ <%= ahorroCalculado.ahorroMensual_jabon %></td>  
                                                                            <td>$ <%= ahorroCalculado.ahorroAnual_jabon %></td>                                                             
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Productos de limpieza</td>
                                                                            <td>$ <%= ahorroCalculado.productos_limpieza %></td>    
                                                                            <td>$ <%= ahorroCalculado.ahorroMensual_productos_limpieza %></td>      
                                                                            <td>$ <%= ahorroCalculado.ahorroAnual_productos_limpieza %></td>                                                  
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Agua caliente</td>
                                                                            <td>$ <%= ahorroCalculado.agua_caliente %></td>     
                                                                            <td>$ <%= ahorroCalculado.ahorroMensual_agua_caliente %></td>   
                                                                            <td>$ <%= ahorroCalculado.ahorroAnual_agua_caliente %></td>                                                            
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Plomería y electrodomésticos</td>
                                                                            <td>$ <%= ahorroCalculado.plomeria_electrodomesticos %></td>    
                                                                            <td>$ <%= ahorroCalculado.ahorroMensual_plomeria_electrodomesticos %></td>    
                                                                            <td>$ <%= ahorroCalculado.ahorroAnual_plomeria_electrodomesticos %></td>                                                             
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Ropa y lencería</td>
                                                                            <td>$ <%= ahorroCalculado.ropa_lenceria %></td>         
                                                                            <td>$ <%= ahorroCalculado.ahorroMensual_ropa_lenceria %></td>        
                                                                            <td>$ <%= ahorroCalculado.ahorroAnual_ropa_lenceria %></td>                                              
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                                
                                                                <input type="hidden" id="datosJson_ahorroCalculado" value="<%= datosJson_ahorroCalculado %>">
                                                                
                                                                
                                                            </div>
       
                                                        </div>
    
    
    
                                                    </div>
                                                </div><!-- end col -->
    
                                                 </div>
                                            <!-- end card-body -->
                                        </div>
                                        <!-- end card -->
    
                                    </div><!-- end col -->
                                 </div>
    
                                  
                                 <div class="col-xl-4">
                                    <!-- card -->
                                    <div class="card" style="margin-top: 5%;">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Ahorro total</h4>
                                        </div>
                                        <!-- card body -->
                                        <div class="card-body">

                                        
                
                                            <div class="row align-items-center">
                                                <div class="col-xl-13">
                                                    <div>
                                                        <div id="market-overview" data-colors='["#a99bcb", "#50368c"]' class="apex-charts"></div>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <!-- end card -->
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row-->
                

    
                    </div>
            <!-- * =============>> FIN Ahorro  <<================================ -->
     
            <!-- * =============>> Agendar instalación  <<================================== -->
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="">
                                <div class="card-body">
                                
                                    <div class="row">
                                        <div class="col-lg-14">
                                            <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                                <div class="card-header bg-transparent border-primary">
                                                    <h5 class="my-0 text-primary">
                                                        <i class="fas fa-wrench"></i>&nbsp; Agendar instalación</h5>

                                                        <a href="/agendar-instalacion/<%= clientes2.id_cliente %>" >
                                                            <button class="btn btn-primary"  type="button" style="float: right;margin-top: -4%;border-radius:13px;">Solicitar instalación</button>
                                                        </a> 

                                                </div>
                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table mb-0">

                                                            <tbody>
                                                                <tr>
                                                                  
                                                                    <td style="width: 26%;">Fecha de instalación</td>
                                                                    <td><b>----</b></td>
                                                                    <td>Instalador</td>
                                                                    <td><b>----</b></td>
                                                                   
                                                                    
                                                                </tr>
                                                                <tr>
                                                                
                                                                    <td>Prodcuto instalado</td>
                                                                    <td>---</td>
                                                                    <td>Nota de instalación</td>
                                                                    <td><b>-----</b></td>
                                                                                                                                    </tr>
                                                                <tr>
                                                                    <tr>
                                                                
                                                                        <td>Serial del producto</td>
                                                                        <td>---</td>
                                                                       
                                                                                                                                        </tr>
                                                                    <tr>
                                                    
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>


                                            </div>
                                        </div><!-- end col -->

                                        </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->

                            </div><!-- end col -->
                        </div>

                    
                    </div>
            <!-- * =============>> FIN Agendar instalación  <<============================== -->


        </div>
                </div>
                    </div>
                    <!-- =======FIXME: copyright ========================== -->
                    <%- include ('./partials/copyright.ejs')%>
                        <!-- =======FIXME: copyright ========================== -->

                </div>
            </div>


            <!-- Right Sidebar -->
            <div class="right-bar">
                <div data-simplebar class="h-100">
                    <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                        <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                        <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                            <i class="mdi mdi-close noti-icon"></i>
                        </a>
                    </div>

                    <!-- Settings -->

                 
                </div> <!-- end slimscroll-menu-->
            </div>
            <!-- /Right-bar -->

            <!-- VALIDACIONES BREVES -->
            <% if (!estado.verBtn){%>
            <script>
                const boton = document.getElementById("btn_credito")
                boton.setAttribute("disabled", "")
                boton.style.filter = "grayscale(1)";
            </script>
            <%}%>

           
    
            <!-- JAVASCRIPT -->
            <script src="../directorio_perfilClientes/libs/jquery/jquery.min.js"></script>
            <script src="../directorio_perfilClientes/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../directorio_perfilClientes/libs/metismenu/metisMenu.min.js"></script>
            <script src="../directorio_perfilClientes/libs/simplebar/simplebar.min.js"></script>
            <script src="../directorio_perfilClientes/libs/node-waves/waves.min.js"></script>
            <script src="../directorio_perfilClientes/libs/feather-icons/feather.min.js"></script>
            <!-- pace js -->
            <script src="../directorio_perfilClientes/libs/pace-js/pace.min.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
                    <!-- apexcharts js -->
                    <script src="../directorio_perfilClientes/libs/apexcharts/apexcharts.min.js"></script>
                    <!-- apexcharts init -->
                    <script src="../directorio_perfilClientes/js/pages/apexcharts.init.js"></script>
                    <!-- dashboard init -->
                    <script src="../directorio_perfilClientes/js/pages/dashboard.init.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
 
        <!-- Required datatable js -->
        <script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Responsive Table js -->
        <script src="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
        <!-- Responsive examples -->
        <script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  

        <!-- Buttons examples -->
        <script src="../directorio_dash/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="../directorio_dash/libs/jszip/jszip.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

         <!-- Init js -->
         <script src="../directorio_dash/js/pages/table-responsive.init.js"></script>
         <script src="../directorio_perfilClientes/js/app.js"></script>
                    <!-- Table Editable plugin -->
         <script src="../directorio_dash/libs/table-edits/build/table-edits.min.js"></script>

         <script src="../directorio_dash/js/pages/table-editable.int.js"></script> 
 
         <!-- Datatable init js -->
         <script src="../directorio_dash/js/pages/datatables.init.js"></script>    
 
    </body>
    </html>