<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Perfil vendedores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">



 <!-- App favicon -->
 <link rel="shortcut icon" href="./directorio_perfilClientes/images/favicon.png">

 <!-- Responsive Table css -->
 <link href="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />

 <!-- preloader css -->
 <link rel="stylesheet" href="../directorio_perfilClientes/css/preloader.min.css" type="text/css" />

 <!-- Bootstrap Css -->
 <link href="../directorio_perfilClientes/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
 <!-- Icons Css -->
 <link href="../directorio_perfilClientes/css/icons.min.css" rel="stylesheet" type="text/css" />
 <!-- App Css-->
 <link href="../directorio_perfilClientes/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

      
        <!-- =======FIXME: MENU ========================== -->
        <%- include ('./1-admin/menu.ejs')%>
        <!-- =======FIXME: MENU ========================== -->

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
          <!-- * =============>> Datos del vendedor  <<========================== -->
          <div class="row">
            <div class="col-xl-8" >
                <div class="">
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="col-lg-14">
                                <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                    <div class="card-header bg-transparent border-primary">
                                        <h5 class="my-0 text-primary">
                                            <i class="fa fa-user-circle"></i>&nbsp; Datos del vendedor</h5>

                                            <form action="/aprobarVendedor" method="POST">
                                                
                                                
                                                <input type="hidden" hidden name="id_consecutivo" value="<%= info_vendedor.id %>">
                                                <input type="hidden" hidden name="id_vendedor" value="<%= info_vendedor.id_vendedor%>">
                                                <input type="hidden" hidden name="correo" value="<%= info_vendedor.correo%>">
                                                

                                            <a href="/perfil-vendedores/<%= info_vendedor.id_vendedor %>" >
                                                <button class="btn btn-primary"  type="submit" style="float: right;margin-top: -4%;border-radius:13px;">Aprobar </button>
                                            </a> 
                                        </form>

                                      </div>
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table class="table mb-0">

                                                <tbody>
                                                    <tr>
                                                        <td style="width: 23%;">ID</td>
                                                        <td><b><%= info_vendedor.id_vendedor %></b></td> 
                                                        <td>Teléfono</td>
                                                        <td><b>xxxxx</b></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Nombre</td>
                                                        <td><b>xxxxx</b></td>
                                                        <td style="width:20%">Dirección</td>
                                                        <td><b>xxxxx</b></td>
                                                                                                             
                                                    </tr>

                                                    <tr>
                                                        <td>Segundo nombre</td>
                                                        <td><b>xxxxx</b></td>
                                                        <td>Dirección 2</td>
                                                        <td><b>xxxxx</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apellido</td>
                                                        <td><b>xxxxx</b></td>
                                                        <td>Estado de credito</td>
                                                        <td><b>xxxxx</b></td>
                                                    </tr>
                                           
                                                    <tr>
                                                        <td>Correo electronico</td>
                                                        <td>xxxxx</b></td>
                                                        <td style="width: 24%;">Monto aprobado</td>
                                                        <td><b>xxxxx</b></td>
                                                         </tr>
                                                   
                                                </tbody>
                                            </table>
                                            
                                        </div>

                                    </div>

                                </div>
                            </div><!-- end col -->

                             </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div><!-- end col -->
              </div>
          
            

              </div>
    <!-- * =============>> FIN Datos del vendedor <<===================== -->


                  </div>
                </div>
            </div>
                        <!-- =======FIXME: copyright ========================== -->
                    <%- include ('./partials/copyright.ejs')%>
                        <!-- =======FIXME: copyright ========================== -->

                </div>
            </div>


            <!-- Right Sidebar -->
            <div class="right-bar">
                <div data-simplebar class="h-100">
                    <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                        <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                        <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                            <i class="mdi mdi-close noti-icon"></i>
                        </a>
                    </div>

                    <!-- Settings -->

                 
                </div> <!-- end slimscroll-menu-->
            </div>
            <!-- /Right-bar -->

             
            <!-- JAVASCRIPT -->
            <script src="../directorio_perfilClientes/libs/jquery/jquery.min.js"></script>
            <script src="../directorio_perfilClientes/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../directorio_perfilClientes/libs/metismenu/metisMenu.min.js"></script>
            <script src="../directorio_perfilClientes/libs/simplebar/simplebar.min.js"></script>
            <script src="../directorio_perfilClientes/libs/node-waves/waves.min.js"></script>
            <script src="../directorio_perfilClientes/libs/feather-icons/feather.min.js"></script>
            <!-- pace js -->
            <script src="../directorio_perfilClientes/libs/pace-js/pace.min.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
                    <!-- apexcharts js -->
                    <script src="../directorio_perfilClientes/libs/apexcharts/apexcharts.min.js"></script>
                    <!-- apexcharts init -->
                    <script src="../directorio_perfilClientes/js/pages/apexcharts.init.js"></script>
                    <!-- dashboard init -->
                    <script src="../directorio_perfilClientes/js/pages/dashboard.init.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
 
        <!-- Required datatable js -->
        <script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Responsive Table js -->
        <script src="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
        <!-- Responsive examples -->
        <script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  

        <!-- Buttons examples -->
        <script src="../directorio_dash/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="../directorio_dash/libs/jszip/jszip.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

         <!-- Init js -->
         <script src="../directorio_dash/js/pages/table-responsive.init.js"></script>
         <script src="../directorio_perfilClientes/js/app.js"></script>
             
         <!-- Datatable init js -->
         <script src="../directorio_dash/js/pages/datatables.init.js"></script>    
 
    </body>
    </html>