<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Ventas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_dash/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <!-- DataTables -->
    <link href="../directorio_dash/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../directorio_dash/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />
    <!-- preloader css -->
    <link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_dash/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="../directorio_dash/css/app.min.css" id="app-style" />
    <!-- Tipo de letra -->
    <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />
    <!-- scroll -->
    <link rel="stylesheet" href="../css/scrolls.css">

    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- =======FIXME: MENU ========================== -->
        <%- include ('./partials/menu.ejs')%>
            <!-- =======FIXME: MENU ========================== -->

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center
                                        justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Ventas </h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript:
                                                        void(0);">Ventas</a></li>
                                            <li class="breadcrumb-item active">Facturas</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <!-- Nav tabs -->
                        <ul class="nav justify-content-start nav-pills card-header-pills mb-3" role="tablist">
                            <li class="nav-item waves-effect waves-light">
                                <a class="nav-link active" data-bs-toggle="tab" href="#facturas-propias" role="tab">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Propias</span>
                                </a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                                <a class="nav-link" data-bs-toggle="tab" href="#facturas-afiliados" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Afiliados</span>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes (TABLAS GENERALES EXTERNAS) -->
                        <div class="tab-content p-3 text-muted">

                            <!-- FACTURAS PROPIAS (VENDEDOR LOGUEADO) -->
                            <div class="tab-pane active" id="facturas-propias" role="tabpanel">
                                <div class="table-responsive mb-4 ">
                                    <table class="table align-middle datatable dt-responsive table-check nowrap "
                                        style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                        <thead>
                                            <th scope="col" title="Id de factura">Factura</th>
                                            <th scope="col" title="Fecha de factura">Fecha de instalación</th>
                                            <th scope="col">Nombre del cliente</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Comisión</th>
                                            <th scope="col">Estado</th>
                                        </thead>
                                        <tbody>
                                            <% facturacionPropia.forEach((f)=>{ %>
                                                <tr>
                                                    <td>
                                                        <button style="background: none;border: none;margin: 0;"
                                                            onclick="consultarFactura('<%=f.id_factura%>', '<%=f.monto_aprobado%>')">
                                                            <%= f.id_factura %>
                                                        </button>
                                                    </td>
                                                    <td><%= f.fecha_instalacion %></td>
                                                    <td style="text-transform: capitalize;"><%= f.nombre %> <%= f.apellido %></td>
                                                    <td><%= f.producto_instalado %></td>
                                                    <td><%= f.monto_aprobado %></td>
                                                    <td><%= f.comision %></td>
                                                    <td>
                                                        <div class="badge <%= f.factura.color %> font-size-12">
                                                            <%= f.factura.text %>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <!-- FACTURAS PARA AFILIADOS -->
                            <div class="tab-pane" id="facturas-afiliados" role="tabpanel">
                                <div class="table-responsive mb-4 ">
                                    <table class="table align-middle datatable dt-responsive table-check nowrap "
                                        style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                        <thead>
                                            <th scope="col" title="Id de factura">Factura</th>
                                            <th scope="col" title="Fecha de factura">Fecha de instalación</th>
                                            <th scope="col">Nombre del cliente</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Comisión</th>
                                            <th scope="col">Estado</th>
                                        </thead>
                                        <tbody>

                                            <% facturacionAfiliado.forEach((f)=>{ %>
                                                <tr>
                                                    <td>
                                                        <button style="background: none;border: none;margin: 0;"
                                                            onclick="consultarFactura('<%=f.id_factura%>', '<%=f.monto_aprobado%>')">
                                                            <%= f.id_factura %>
                                                        </button>
                                                    </td>
                                                    <td><%= f.fecha_instalacion %></td>
                                                    <td style="text-transform: capitalize;"><%= f.cliente %> <%= f.apellido %></td>
                                                    <td><%= f.producto_instalado %></td>
                                                    <td><%= f.monto_aprobado %></td>
                                                    <td><%= f.comision %></td>
                                                    <td>
                                                        <div class="badge <%= f.facturaAfl.color %> font-size-12">
                                                            <%= f.facturaAfl.text %>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                        <!-- BARRA LATERAL DERECHA -->
                        <button id="btnSidebar" data-bs-toggle="offcanvas" data-bs-target="#sidebarRight"
                            aria-controls="sidebarRight" style="background: none;border: none;margin: 0;"></button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebarRight"
                            style="width: 50%; padding: 0px 0px 0px 37px; visibility: hidden;"
                            aria-labelledby="sidebarRightLabel" aria-hidden="true">
                            <div class="offcanvas-header">
                                <h1 id="offcanvasRightLabel" style=" font-size: 111%; "></h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body scroll_vertical">
                                <div class="row">
                                    <div class="col-lg-12" style="margin-left: -1%;">
                                        <div class="invoice-title">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <div class="mb-4">
                                                        <img src="../directorio_dash/images/logo.svg" alt=""
                                                            height="40"><span class="logo-txt"></span>
                                                    </div>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="mb-4">
                                                        <h4 class="float-end font-size-16">Factura: <span id="idFactura"></span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <hr class="mb-4">

                                        <!-- **INICIO** Pestañas para gestionar vendedores -->
                                        <ul class="nav justify-content-start nav-pills card-header-pills mb-3"
                                            role="tablist">
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#v1" role="tab"
                                                    aria-selected="true">
                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor
                                                        Principal</span>
                                                </a>
                                            </li>

                                            <li id="tabFactura2" class="nav-item waves-effect waves-light"
                                                style="display: none;">
                                                <a class="nav-link" data-bs-toggle="tab" href="#v2" role="tab"
                                                    aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 2</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light" id="tabFactura3"
                                                style="display: none;">
                                                <a class="nav-link" data-bs-toggle="tab" href="#v3" role="tab"
                                                    aria-selected="false">
                                                    <span class="d-block d-sm-none"><i
                                                            class="far fa-envelope"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 3</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light" id="tabFactura4"
                                                style="display: none;">
                                                <a class="nav-link" data-bs-toggle="tab" href="#v4" role="tab"
                                                    aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 4</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- **FIN** Pestañas para gestionar vendedores -->

                                        <!-- **INICIO** CONTENIDO DE LOS TABS - INFO DE VENDEDORES  -->
                                        <div class="tab-content p-3 text-muted">

                                            <!-- Vendedor 1 -->
                                            <div class="tab-pane active" id="v1" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 nomCliente">
                                                        </p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de pago comisión
                                                            </h5>
                                                            <p class="fecha"></p>
                                                        </div>

                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12"
                                                                id="nomVendedor1"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor1"></span></p>
                                                            <p class="mb-1" id="telVendedor"></p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">
                                                        Comisión base:
                                                        $<span id="comisionBase1"></span></h5>
                                                </div>

                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_v1">
                                                        Deducciones</h5>
                                                </div>

                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR PRINCIPAL -->
                                                <div class="table-responsive" style="padding: 12px;"
                                                    id="divDeducciones">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>

                                            </div>

                                            <!-- Vendedor 2 -->
                                            <div class="tab-pane" id="v2" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 nomCliente">
                                                        </p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de pago comisión
                                                            </h5>
                                                            <p class="fecha"></p>
                                                        </div>

                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12"
                                                                id="nomVendedor2"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor2"></span></p>
                                                            <p class="mb-1" id="telVendedor2"></p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">
                                                        Comisión base:
                                                        $<span id="comisionBase2"></span> </h5>
                                                </div>

                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_v2">
                                                        Deducciones</h5>
                                                </div>

                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 2 -->
                                                <div class="table-responsive" style="padding: 12px;"
                                                    id="divDeducciones2">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>

                                            </div>

                                            <!-- Vendedor 3 -->
                                            <div class="tab-pane" id="v3" role="tabpanel">
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 nomCliente">
                                                        </p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de pago comisión
                                                            </h5>
                                                            <p class="fecha"></p>
                                                        </div>

                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12"
                                                                id="nomVendedor3"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor3"></span></p>
                                                            <p class="mb-1" id="telVendedor3"></p>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">
                                                        Comisión base:
                                                        $<span id="comisionBase3"></span> </h5>
                                                </div>

                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_v3">
                                                        Deducciones</h5>
                                                </div>

                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 3 -->
                                                <div class="table-responsive" style="padding: 12px;"
                                                    id="divDeducciones3">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>

                                            </div>

                                            <!-- Vendedor 4 -->
                                            <div class="tab-pane" id="v4" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">

                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 nomCliente">
                                                        </p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de pago comisión
                                                            </h5>
                                                            <p class="fecha"></p>
                                                        </div>

                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12"
                                                                id="nomVendedor4"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor4"></span></p>
                                                            <p class="mb-1" id="telVendedor4"></p>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">
                                                        Comisión base:
                                                        $<span id="comisionBase4"></span> </h5>
                                                </div>

                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_v4">
                                                        Deducciones</h5>
                                                </div>

                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 4 -->
                                                <div class="table-responsive" style="padding: 12px;"
                                                    id="divDeducciones4">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                            </div>

                                        </div>
                                        <!-- **FIN** CONTENIDO DE LOS TABS - INFO DE VENDEDORES  -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end table -->

                    </div>
                </div>
            </div>

        <!-- =======FIXME: copyright ========================== -->
        <%- include ('./partials/copyright.ejs')%>
        <!-- =======FIXME: copyright ========================== -->

    </div>

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center bg-dark p-3">
                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>
        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- JAVASCRIPT -->
    <script src="../directorio_dash/js/scripts_personalizadosdash.js"></script>
    <script src="../directorio_dash/libs/jquery/jquery.min.js"></script>
    <script src="../directorio_dash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../directorio_dash/libs/metismenu/metisMenu.min.js"></script>
    <script src="../directorio_dash/libs/simplebar/simplebar.min.js"></script>
    <script src="../directorio_dash/libs/node-waves/waves.min.js"></script>
    <script src="../directorio_dash/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="../directorio_dash/libs/pace-js/pace.min.js"></script>
    <!-- Required datatable js -->
    <script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->
    <script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- init js -->
    <script src="../directorio_dash/js/pages/datatable-pages.init.js"></script>
    <!-- Table Editable plugin -->
    <script src="../directorio_dash/libs/table-edits/build/table-edits.min.js"></script>
    <script src="../directorio_dash/js/pages/table-editable.int.js"></script>
    <script src="../directorio_dash/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        function _crearTablaDeducciones(num) {
            let tabla = `
                <table class="table table-nowrap align-middle" id="tablaDeducciones${num}">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Subtotal</b></td>
                            <td colspan="2">$<span id="subtotal${num}">0</span></td>
                        </tr>
                        <tr id="porcentaje-ganar${num}">
                            <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Porcentaje ganancia</b></td>
                            <td colspan="2">50%</td>
                        </tr>
                        <tr>
                            <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Comisión Total</b></td>
                            <td colspan="2">$<span id="total${num}"></span></td>
                        </tr>
                    </tfoot>
                </table>`
            return tabla
        }

        function consultarFactura(idFactura, monto) {
            const pestania2 = $("#tabFactura2")
            const pestania3 = $("#tabFactura3")
            const pestania4 = $("#tabFactura4")
            pestania2.css('display', 'none')
            pestania3.css('display', 'none')
            pestania4.css('display', 'none')
            $('#tablaDeducciones1').remove()
            $('#tablaDeducciones2').remove()
            $('#tablaDeducciones3').remove()
            $('#tablaDeducciones4').remove()

            fetch('/consultarFactura', {
                method: 'POST',
                body: JSON.stringify({idFactura}),
                headers: { 'Content-Type': 'application/json' }
            }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(datos => {
                    if (datos) {

                        console.log("DATOS AF >> ", datos)
                        console.log("<<<< >>>> ", JSON.parse(datos.deducciones))

                        $("#idFactura").text(idFactura)
                        $(".producto").text(datos.producto_instalado)
                        $(".valor").text(monto)
                        $(".nomCliente").text(datos.cliente.nombre)
                        $(".telCliente").text(datos.cliente.telefono)
                        $(".direccionCliente").text(datos.cliente.direccion)
                        $(".fecha").text(datos.fecha_pago)

                        let vendedor1 = datos.vendedores[0], vendedor2 = {}, vendedor3 = {}, vendedor4 = {};
                        datos.vendedores[1] ? vendedor2 = datos.vendedores[1] : vendedor2 = false;
                        datos.vendedores[2] ? vendedor3 = datos.vendedores[2] : vendedor3 = false;
                        datos.vendedores[3] ? vendedor4 = datos.vendedores[3] : vendedor4 = false;

                        $("#nomVendedor1").text(vendedor1.nombre)
                        $("#nivelVendedor1"). text(vendedor1.nivel)
                        $("#telVendedor").text(vendedor1.telefono)
                        $("#comisionBase1").text(vendedor1.comision_base)

                        // DEDUCCIONES VENDEDOR PRINCIPAL
                        const tablaDeducciones1 = _crearTablaDeducciones(1)
                        $('#divDeducciones').append(tablaDeducciones1);
                        $("#total1").text(vendedor1.comision_final)

                        let deducciones1 = ``, i = 1, subTotal = 0;
                        if (vendedor1.deducciones) {
                            vendedor1.deducciones.forEach(x => {
                                deducciones1 += `<tr id="${x.tab}_row${i}">
                                    <td>${x.descripcion}</td>
                                    <td>${x.monto}</td>
                                </tr>`
                                subTotal += parseFloat(x.monto)
                                i++;
                            });
                        }
                        $('#tablaDeducciones1').append(deducciones1);
                        $('#subtotal1').text(subTotal)
                        $("#porcentaje-ganar1").css('display', 'none')
                        if (vendedor1.nivel == 4) {
                            $("#porcentaje-ganar1").css('display', 'table-row')
                        }

                        if (vendedor2) {
                            pestania2.css('display', 'block')
                            $("#nomVendedor2").text(vendedor2.nombre)
                            $("#nivelVendedor2"). text(vendedor2.nivel)
                            $("#telVendedo2").text(vendedor2.telefono)
                            $("#comisionBase2").text(vendedor2.comision_base)
                            
                            const tablaDeducciones2 = _crearTablaDeducciones(2)
                            $('#divDeducciones2').append(tablaDeducciones2);
                            $("#total2").text(vendedor2.comision_final)
                            let deducciones2 = ``, i = 1, subTotal2 = 0;
                            vendedor2.deducciones.forEach(x => {
                                deducciones2 += `<tr id="${x.tab}_row${i}">
                                    <td>${x.descripcion}</td>
                                    <td>${x.monto}</td>
                                </tr>`
                                subTotal2 += parseFloat(x.monto)
                                i++;
                            });
                            $('#tablaDeducciones2').append(deducciones2);
                            $('#subtotal2').text(subTotal2)
                            $("#porcentaje-ganar2").css('display', 'none')
                            if (vendedor2.nivel == 4) {
                                $("#porcentaje-ganar2").css('display', 'table-row')
                            }
                        }

                        if (vendedor3) {
                            pestania3.css('display', 'block')
                            $("#nomVendedor3").text(vendedor3.nombre)
                            $("#nivelVendedor3"). text(vendedor3.nivel)
                            $("#telVendedo3").text(vendedor3.telefono)
                            $("#comisionBase3").text(vendedor3.comision_base)
                            
                            const tablaDeducciones3 = _crearTablaDeducciones(3)
                            $('#divDeducciones3').append(tablaDeducciones3);
                            $("#total3").text(vendedor3.comision_final)
                            let deducciones3 = ``, i = 1, subTotal3 = 0;
                            vendedor3.deducciones.forEach(x => {
                                deducciones3 += `<tr id="${x.tab}_row${i}">
                                    <td>${x.descripcion}</td>
                                    <td>${x.monto}</td>
                                </tr>`
                                subTotal3 += parseFloat(x.monto)
                                i++;
                            });
                            $('#tablaDeducciones3').append(deducciones3);
                            $('#subtotal3').text(subTotal3)
                            $("#porcentaje-ganar3").css('display', 'none')
                            if (vendedor3.nivel == 4) {
                                $("#porcentaje-ganar3").css('display', 'table-row')
                            }
                        }

                        if (vendedor4) {
                            pestania4.css('display', 'block')
                            $("#nomVendedor4").text(vendedor4.nombre)
                            $("#nivelVendedor4"). text(vendedor4.nivel)
                            $("#telVendedo4").text(vendedor4.telefono)
                            $("#comisionBase4").text(vendedor4.comision_base)
                            
                            const tablaDeducciones4 = _crearTablaDeducciones(4)
                            $('#divDeducciones4').append(tablaDeducciones4);
                            $("#total4").text(vendedor4.comision_final)
                            let deducciones4 = ``, i = 1, subTotal4 = 0;
                            vendedor4.deducciones.forEach(x => {
                                deducciones4 += `<tr id="${x.tab}_row${i}">
                                    <td>${x.descripcion}</td>
                                    <td>${x.monto}</td>
                                </tr>`
                                subTotal4 += parseFloat(x.monto)
                                i++;
                            });
                            $('#tablaDeducciones4').append(deducciones4);
                            $('#subtotal4').text(subTotal4)
                            $("#porcentaje-ganar4").css('display', 'none')
                            if (vendedor4.nivel == 4) {
                                $("#porcentaje-ganar4").css('display', 'table-row')
                            }
                        }

                        
                        $("#btnSidebar").trigger("click"); // Arbrir Sidebar
                    } else {
                        Swal.fire('Factura pendiente', 'El administrador aún no ha procesado esta factura', 'info')
                    }
                })

        }

    </script>

</body>

</html>