<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">

            <div class="navbar-brand-box">

                <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="../directorio_dash/images/3clogo.svg" alt="" >
                    </span>
                    <span class="logo-lg">
                        <img src="../directorio_dash/images/logo.svg" alt=""   style="width: 64%;" > <span class="logo-txt"></span>
                    </span>
                </a>
            
                <a href="#" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="../directorio_dash/images/3clogo.svg" alt="" >
                    </span>
                    <span class="logo-lg">
                        <img src="../directorio_dash/images/logo.svg" alt=""   style="width: 64%;" > <span class="logo-txt"></span>
                    </span>
                </a>
                
            </div>

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

  
        </div>

        <div class="d-flex">

        

           
  <a href="https://3csigmawatersystem.secure.simplybook.me/" target="_blank" type="button" class="btn btn-primary"
  style="height: 41px;margin-top: 4%;font-size: 12px;border-radius: 17px; width: 36%;">
  <p style="margin: inherit;">Agendar cita <i class="fas fa-calendar-alt" style="margin-left:8%;"></i></p></a>


            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">

                    <img src="../directorio_dash/images/flags/spain.jpg" alt="Header Language" height="16">

                </button>
                <div class="dropdown-menu dropdown-menu-end">

                    <!-- item-->
                    <a href="?clang=en" class="dropdown-item notify-item language">
                        <img src="../directorio_dash/images/flags/us.jpg" alt="user-image" class="me-1" height="12">
                        <span class="align-middle"> English </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=de" class="dropdown-item notify-item language">
                        <img src="../directorio_dash/images/flags/germany.jpg" alt="user-image" class="me-1" height="12">
                        <span class="align-middle"> German </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=it" class="dropdown-item notify-item language">
                        <img src="../directorio_dash/images/flags/italy.jpg" alt="user-image" class="me-1" height="12">
                        <span class="align-middle"> Italian </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=es" class="dropdown-item notify-item language">
                        <img src="../directorio_dash/images/flags/spain.jpg" alt="user-image" class="me-1" height="12">
                        <span class="align-middle"> Spanish </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=ru" class="dropdown-item notify-item language">
                        <img src="../directorio_dash/images/flags/russia.jpg" alt="user-image" class="me-1" height="12">
                        <span class="align-middle"> Russian </span>
                    </a>
                </div>
            </div>

            <!-- <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item" id="mode-setting-btn">
                    <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                    <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                </button>
            </div> -->
           

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if(user) {%>
                        <img src="<%= user.foto%>" alt="profile" class="rounded-circle header-profile-user" style="object-fit: cover;" >
                    <% } %> 
                       <% if(user) {%>
                    <span class="d-none d-xl-inline-block ms-1 fw-medium"><%= user.nombres %> </span>
                    <% } %> 
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <% if(user) {%> 
                    <a class="dropdown-item" href="/perfil-vendedor/<%= user.id_vendedor %>"><i
                        class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Perfil</a>
                        <% } %>
                    <a class="dropdown-item" href="logout"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Cerrar sesión</a>
                </div>
            </div>
              

        </div>
    </div>
</header>

<!--* ================ Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menú</li>

                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>



                 <!--==================FIXME:=====ACUERDO DE VENDEDOR=======================  -->
                 <%- include ('../partials/acuerdo-vendedor.ejs')%>
                 <!--==================FIXME:=====ACUERDO DE VENDEDOR=======================  -->

                 <!--==================FIXME:=====ACUERDO DE CONTRATISTA====================  -->
                 <%- include ('../partials/acuerdo-contratista.ejs')%>
                 <!--==================FIXME:=====ACUERDO DE CONTRATISTA====================  -->

                 <!--==================FIXME:===== ATENCION CLIENTE===========================  -->
                 <%- include ('../partials/atencion-al-cliente.ejs')%>
                 <!--==================FIXME:===== ATENCION CLIENTE===========================  -->

               
             
            </ul>
         

                 <!--==================FIXME:=====COPIAR CODIGO=============================  -->
                 <%- include ('../partials/copiar-codigo.ejs')%>
                 <!--==================FIXME:=====COPIAR CODIGO=============================  -->

           


        </div>
        <!-- Sidebar -->
    </div>
</div>
<!--* ================Left Sidebar End =================-->