
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <title>Clientes </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../partials/header.ejs')%>
</head>
    <body>
        <!-- Begin page -->
        <div id="layout-wrapper">
  <%- include ('../1-admin/menu.ejs')%>
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

               
                   <!-- start page title -->
       <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center
                justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Lista de clientes</h4>

                <div class="page-title-right">
                    <ul class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript:
                                void(0);">Clientes</a></li>
                        <li class="breadcrumb-item active">Lista de clientes</li>
                    </ul>
                </div>

            </div>
        </div>
    </div> 
    <!-- end page title -->
                        
                                    <div class="card-body">
                                       
                                        <table id="datatable-buttonss" class="table table dt-responsive nowrap w-100">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Teléfono</th>
                                                <th>Vendedor</th>
                                                <th>Producto</th>
                                                <th>Crédito</th>
                                                <th>Visita</th>
                                                <th>Instalación</th>
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                                <% lista_clientes.forEach((user)=>{ %>
                                                    <tr> 
                                                        <td style="text-transform: capitalize;"><a href="/perfil-cliente/<%- user.id_cliente%>"><%- user.nombre %></a></td>
                                                        <td style="text-transform: capitalize;"><a href="/perfil-cliente/<%- user.id_cliente%>"><%- user.apellido %></a></td>
                                                        <td><a href="/perfil-cliente/<%- user.id_cliente%>"><%- user.telefono %></a></td>
                                                        <td><a href="/perfil-vendedores/<%- user.codigo_id_vendedor %>"><%- user.codigo_id_vendedor %></a></td>
                                                        <td> <% if(user.sistema) {%>
                                                           <a href="/perfil-cliente/<%- user.id_cliente%>"> <%= user.sistema %> </a>
                                                            <% } else { %> 
                                                                 N/A 
                                                            <% }%>
                                                            </td>

                                                            <td> <% if(user.estadoCredito) {%>
                                                                <a href="/perfil-cliente/<%- user.id_cliente%>"> <div class="badge <%= user.estadoCredito.color %> font-size-12" ><%= user.estadoCredito.txt %></div> </a>
                                                                 <% }%>
                                                                 </td>
                                                                 <td> <% if(user.fecha_test) {%>
                                                                    <a href="/perfil-cliente/<%- user.id_cliente%>"> <%= user.fecha_test %> </a>
                                                                     <% } else { %> 
                                                                          N/A 
                                                                     <% }%>
                                                                     </td>
                                                                     <td> <% if(user.estadoAgenda) {%>
                                                                        <a href="/perfil-cliente/<%- user.id_cliente%>"> <div class="badge <%= user.estadoAgenda.color %> font-size-12" ><%= user.estadoAgenda.txt %></div> </a>
                                                                         <% }%>
                                                                         </td>
                                                                    </tr>
                                                                        <%})%>
                                                                </tbody>
                                                            </table>
                                                        
                                                        </div>
                                                    
                                                    </div>
                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div> <!-- container-fluid -->
                                     </div>
                          <%- include ('../partials/copyright.ejs')%>
                         </div>
                      </div>
                    <%- include ('../1-admin/partials/listar-clientes/footer.ejs')%>


