<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Perfil vendedores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">
 <!-- Responsive Table css -->
<link href="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />

<!-- App favicon -->
<link rel="shortcut icon" href="./directorio_perfilClientes/images/favicon.png">

<!-- preloader css -->
<link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />

<!-- Bootstrap Css -->
<link href="../directorio_dash/css/bootstrap.min-admin.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
 <!-- Icons Css -->
<link href="../directorio_dash/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="../directorio_dash/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../css/typeFont.css" type="text/css" />
<!-- scroll -->
<link rel="stylesheet" href="../css/scrolls.css">
    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

           
         <!-- =======FIXME: MENU ========================== -->
         <%- include ('../1-admin/menu.ejs')%>
         <!-- =======FIXME: MENU ========================== -->
 

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Perfil del vendedor</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Vendedores</a></li>
                                            <li class="breadcrumb-item active">Perfil del vendedor</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-9 col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm order-2 order-sm-1">
                                                <div class="d-flex align-items-start mt-3 mt-sm-0">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar-xl me-3">
                                                            <img src="../directorio_dash/images/users/avatar-2.jpg" alt="" class="img-fluid rounded-circle d-block">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <div>
                                                            <h5 class="font-size-16 mb-1" style="text-transform: capitalize;"><%= info_vendedor.nombres %> <%= info_vendedor.apellidos %></h5>
                                                            <p class="text-muted font-size-13">Codigo de afiliado: <b style="font-weight:600 ;"><%= info_vendedor.id_vendedor %></b></p>
                          

                                                            <div class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13">
                                                                <div><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i><%= info_vendedor.telefono_movil %></div>
                                                                <div><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i><%= info_vendedor.correo %></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-auto order-1 order-sm-2">
                                                <div class="d-flex align-items-start justify-content-end gap-2">
                                                    <!-- <div>
                                                        <button type="button" class="btn btn-soft-light"><i class="me-1"></i> Message</button>
                                                    </div>
                                                    <div>
                                                        <div class="dropdown">
                                                            <button class="btn btn-link font-size-16 shadow-none text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="bx bx-dots-horizontal-rounded"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                            </ul>
                                                        </div>
                                                    </div> -->
                                                  
                                             <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" 
                                             aria-controls="offcanvasRight" style=" border-radius: 15px;">Ventas</button>

                                                    <!-- right offcanvas -->
                                                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                                                        aria-labelledby="offcanvasRightLabel" >
                                                        <div class="offcanvas-header">
                                                            <h1 id="offcanvasRightLabel" style=" font-size: 111%; ">Comisiones totales </h1> 
                                                           
                                                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="offcanvas-header">
                                                               <h1 style="margin-top: -8%;font-size: 162%;" class="badge badge-soft-dark" > $ 421534</h1>                                                  
                                                        </div>
                                                        <div class="offcanvas-body">

                                              <!-- ===========COMISIONES DE DIRECTAS ========== -->   
                                                                <div class="card" style="background: #F4F4F6; border-radius: 13px;">
                                                                    <div class="card-body">
                                                                        <h5 class="mb-4 text-black"><i class="fas fa-money-check-alt me-3"></i>Comisiones directas</h5>
                                                                        <div class="table-responsive" style="overflow-x: hidden;" >
                                                               
                                                                         <table class="table">
                                                                              <tbody>
                                                                              
                                                                                   <tr> 
                                                                                      <td><span >José fernandez torres</span> - <span class="badge badge-soft-info font-size-12">788945</span></td> 
                                                                                      <td><span class="badge badge-soft-success font-size-12">$ 2.000 </span></td>     
                                                                                    </tr>
                                                                                     <tr>
                                                                                        <td><span class="badge badge-soft-pink font-size-12">4/23/2022 </span>  <span class="badge badge-soft-dark font-size-12">Factura: 456123</span></td>   
                                                                                        <td><span class="badge badge-soft-success font-size-12">Pagado </span></td>
                                                                                    </tr>
                                                                                    <td><hr class="bg-primary" style=" background:#292929!important"></td>
                                                                                     <tr>
                                                                                        <td><span >Alberto Alejandro</span> - <span class="badge badge-soft-info font-size-12">788945</span></td> 
                                                                                        <td><span class="badge badge-soft-success font-size-12">$ 750 </span></td>     
                                                                                    </tr>
                                                                                     <tr>
                                                                                          <td><span class="badge badge-soft-pink font-size-12">4/23/2022 </span>  <span class="badge badge-soft-dark font-size-12">Factura: 456123</span></td>   
                                                                                          <td><span class="badge badge-soft-warning font-size-12">Pendiente </span></td>
                                                                                    </tr>
                                                                                     <td><hr class="bg-primary" style=" background:#292929!important"></td>
                                                                                      <tr>
                                                                                        <td><span >José fernandez torres</span> - <span class="badge badge-soft-info font-size-12">788945</span></td> 
                                                                                        <td><span class="badge badge-soft-success font-size-12">$ 2.000 </span></td>     
                                                                                      </tr>
                                                                                      <tr>
                                                                                          <td><span class="badge badge-soft-pink font-size-12">4/23/2022 </span>  <span class="badge badge-soft-dark font-size-12">Factura: 456123</span></td>   
                                                                                          <td><span class="badge badge-soft-success font-size-12">Pagado </span></td>
                                                                                      </tr>
                                                                                      <td><hr class="bg-primary" style=" background:#292929!important"></td>
                                                                                      
                                                                                   
                                                                              </tbody>
                                                                             
                                                                             </table>
                                                                            </div>
                                                                         </div>

                                                      

                                                                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" 
                                                                      data-bs-target=".bs-example-modal-xl"style="background: #50368c;">Ver todo </button>
                                                                                                               
                                                                    <!--  Extra Large modal example -->
                                                                    <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog modal-xl">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="myExtraLargeModalLabel">Comisiones directas</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                     <div class="card-body">
                                                                                              <div class="row">
                                                                                               
                                                                                                   <div class="table-responsive" style="overflow-x: hidden;" >
                                                                                                                   
                                                                                                      <table class="table table-striped mb-0 dataTables_info" id="clientela" style="margin-top: 2%;">
                                                                                                  
                                                                                                                <thead class="table-light">
                                                                                                                      <tr>
                                                                                                                        <th>Id cliente</th>
                                                                                                                        <th>Fecha</th>
                                                                                                                        <th>Factura</th>
                                                                                                                        <th>Saldo a pagar</th>
                                                                                                                        <th>Estado de la factura</th>         
                                                                                                                       </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                     <tr>
                                                                                                                        <td>------</td>
                                                                                                                         <td>------</td>
                                                                                                                        <td>------</td>      
                                                                                                                        <td>------</td>  
                                                                                                                        <td>------</td>                 
                                                                                                                      </tr>
                                                                                                                      <tr>
                                                                                                                        <td>------</td>
                                                                                                                        <td>------</td>
                                                                                                                       <td>------</td>      
                                                                                                                       <td>------</td>  
                                                                                                                       <td>------</td>                   
                                                                                                                      </tr>
                                                                                                                      <tr>
                                                                                                                        <td>------</td>
                                                                                                                        <td>------</td>
                                                                                                                       <td>------</td>      
                                                                                                                       <td>------</td>  
                                                                                                                       <td>------</td>                  
                                                                                                                      </tr>
                                                                                                                      <tr>
                                                                                                                        <td>------</td>
                                                                                                                         <td>------</td>
                                                                                                                        <td>------</td>      
                                                                                                                        <td>------</td>  
                                                                                                                        <td>------</td>                  
                                                                                                                      </tr>
                                                                                                                     
                                                                                                                     

                                                                                                                </tbody>
                                                                           
                                                                           
                                                                                                            </table>
                                                                                                      </div>
                                                                                                     
                                                                                                </div>
                                                                                                            <!-- end card-body -->
                                                                                            </div>
                                                                                            <!-- end card -->
                                                                                         </div>
                                                                                    </div>
                                                                            </div><!-- /.modal-content -->
                                                                        </div><!-- /.modal-dialog -->
                                                                    </div><!-- /.modal -->
                                                             </div>
                                              <!-- ===========COMISIONES DE DIRECTAS ========== -->   

                                              <!-- ===========COMISIONES DE REFERIDOS ========== -->           
                                                                <div class="card" style="background: #F4F4F6; border-radius: 13px;">
                                                                    <div class="card-body">
                                                                        <h5 class="mb-4 text-black"><i class="far fa-clipboard me-3"></i>Comisiones de referidos </h5>
                                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    </div>

                                                                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" 
                                                                    data-bs-target=".comisionesReferidos"style="background: #50368c;">Ver todo </button>
                                                                                                             
                                                                  <!--  Extra Large modal example -->
                                                                  <div class="modal fade comisionesReferidos" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog modal-xl">
                                                                          <div class="modal-content">
                                                                              <div class="modal-header">
                                                                                  <h5 class="modal-title" id="myExtraLargeModalLabel">Comisiones de referidos</h5>
                                                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                              </div>
                                                                              <div class="row">
                                                                                  <div class="col-md-12">
                                                                                   <div class="card-body">
                                                                                            <div class="row">
                                                                                             
                                                                                                 <div class="table-responsive" style="overflow-x: hidden;" >
                                                                                                                 
                                                                                                    <table class="table table-striped mb-0 dataTables_info" id="clientela" style="margin-top: 2%;">
                                                                                                
                                                                                                              <thead class="table-light">
                                                                                                                    <tr>
                                                                                                                      <th>ID</th>
                                                                                                                      <th>Nombre</th>
                                                                                                                      <th>Apellido</th>
                                                                                                                      <th>Fecha</th>
                                                                                                                      <th>Factura</th>
                                                                                                                      <th>Saldo a pagar</th>
                                                                                                                      <th>Estado de la factura</th>         
                                                                                                                     </tr>
                                                                                                              </thead>
                                                                                                              <tbody>
                                                                                                                   <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>  
                                                                                                                      <td>------</td>                 
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>
                                                                                                                      <td>------</td>      
                                                                                                                      <td>------</td> 
                                                                                                                      <td>------</td>                  
                                                                                                                    </tr>

                                                                                                              </tbody>
                                                                         
                                                                         
                                                                                                          </table>
                                                                                                    </div>
                                                                                                   
                                                                                              </div>
                                                                                                          <!-- end card-body -->
                                                                                          </div>
                                                                                          <!-- end card -->
                                                                                       </div>
                                                                                  </div>
                                                                          </div><!-- /.modal-content -->
                                                                      </div><!-- /.modal-dialog -->
                                                                  </div><!-- /.modal -->

                                                                </div>
                                              <!-- ===========COMISIONES DE REFERIDOS ========== -->


                                                         
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
    
     <!-- * =============>> Información personal <<========================== -->
                                        <div class="modal fade infoPersonal" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 48%; ">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                             <h5 class="modal-title">Información personal</h5> 
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
            
                                                        <div class="row">
                                                            <div class="" >
                                                                <div class="">
                                                                  
                                                                    
                                                                        <div class="row">
                                                                            <div class="col-md-11">
                                                                    
                                                                               <div class="card-body" style="margin-top: -9%;">

                                                                             <div class="table-responsive">
                                                               
                                                                                <table class="table striped mb-0"  id="clientela"  style="margin-top: 2%;">
                                                        
                                                                                                <thead style="font-size: 11px;" >
                                                                                                                                                                                                         
                                                                                                        <th>Fecha de nacimiento</th>
                                                                                                        <th>Dirección</th>
                                                                                                        <th>Seguro social</th>
                                                                                                       </thead>
                            
                                                                                                <tbody style="font-weight: 600; color: black;">
                                                                                                  
                                                                                                    <tr >
                                                                                                        <td><%= info_vendedor.fecha_nacimiento%></td>
                                                                                                        <td><%= info_vendedor.ciudad%> <%= info_vendedor.direccion%><p>
                                                                                                            <%= info_vendedor.apt_suite_unidad%> <%= info_vendedor.codigo_postal%></p>
                                                                                                        </td>
                                                                                                        <td><%= info_vendedor.seguro_social%></td>
                                                                                                    </tr>
                                                                                               
                            
                                                                                                </tbody>
                                                                                            </table>
                                                                                            
                                                                                            
                                                                                       
                                                                                        </div>

                                                                                    </div>

                                                                                
                                                                            </div><!-- end col -->

                                                                            </div>
                                                                        <!-- end card-body -->
                                                                   

                                                                </div><!-- end col -->
                                                            </div>
                                                        </div>
     

                                                <div class="card-body" style="margin-top: -8.5%;">
                                                    <ul class="nav nav-pills nav-justified" role="tablist" >
                                                        <li class="nav-item waves-effect waves-light" style="border-radius: 13px;">

                                          

                                                            <a  href="<%=licencia.frontal%>" target="_blank" style="border-radius: 14px; background:#50368c;width: 38%" class="btn btn-primary ">
                                                                    <span class="d-block d-sm-none"><i class="fas fa-address-card"></i></span>
                                                                    <span class="d-none d-sm-block"> <i class="far fa-address-card"></i> Licencia anverso</span>
                                                            </a>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;

                                                            <a href="<%=licencia.trasera%>" target="_blank"  style="border-radius: 14px; background:#50368c;width: 38%" class="btn btn-primary">
                                                                     <span class="d-block d-sm-none"><i class="far fa-credit-card"></i></span>
                                                                     <span class="d-none d-sm-block"> <i class="far fa-credit-card"></i> Licencia reverso</span>
                                                            </a>
                                                                        
                                                        </li>
                                                                    
                                                    </ul>
                                                </div>
                                           </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                                
                                            </div><!-- /.modal -->
   <!-- * =============>> FIN  Información personal  <<===================== -->

   <!-- * =============>> Datos bancarios <<========================== -->
                                            <div class="modal fade infoBanco" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Datos bancarios </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                      <div class="row">
                                                            <div class="" >
                                                                <div class="">
                                                                  
                                                                    
                                                                        <div class="row">
                                                                            <div class="col-md-11">
                                                                    
                                                                               <div class="card-body" style="margin-top: -9%;">

                                                                             <div class="table-responsive">
                                                               
                                                                                <table class="table striped mb-0"  id="clientela"  style="margin-top: 2%;">
                                                        
                                                                                                <thead style="font-size: 11px;" >
                                                                                                                                                                                                         
                                                                                                        <th>Nombre del banco</th>
                                                                                                        <th>Numero de cuenta </th>
                                                                                                        <th>Ruta</th>
                                                                                                        <th>Beneficiario</th>
                                                                                                       </thead>
                            
                                                                                                <tbody style="font-weight: 600; color: black;">
                                                                                                  
                                                                                                    <tr>
                                                                                                       <td><%= info_vendedor.nombre_banco%></td>
                                                                                                       <td><%= info_vendedor.numero_cuenta%></td>
                                                                                                       <td><%= info_vendedor.ruta%></td>
                                                                                                       <td><%= info_vendedor.beneficiario%></td>
                                                                                                    </tr>
                                                                                                   
                                                                                                </tbody>
                                                                                            </table>
                                                                                            
                                                                                            
                                                                                       
                                                                                        </div>

                                                                                    </div>

                                                                                
                                                                            </div><!-- end col -->

                                                                            </div>
                                                                        <!-- end card-body -->
                                                                   

                                                                </div><!-- end col -->
                                                            </div>
                                                        </div>
                                 
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
  <!-- * =============>> FIN Datos bancarios <<========================== -->
  <!-- * =============>> BOTONES MODAL <<========================== -->   
                            <div class="card-body" style="margin-top: 1.5%;">
                                <ul class="nav nav-pills nav-justified" role="tablist" >
                                    <li class="nav-item waves-effect waves-light" style="border-radius: 13px;">
        
                                        <button type="button" style="border-radius: 14px; background:#50368c;width: 30%" class="btn btn-primary waves-effect waves-light"
                                             data-bs-toggle="modal" data-bs-target=".infoPersonal"> 
                                                  <span class="d-block d-sm-none"><i class="fas fa-address-book"></i></span>
                                                  <span class="d-none d-sm-block"> <i class="fas fa-address-book"></i> Información personal</span>
                                        </button>
                                             &nbsp;&nbsp;&nbsp;&nbsp;

                                        <button type="button" style="border-radius: 14px; background:#50368c;width: 29%" class="btn btn-primary waves-effect waves-light"
                                             data-bs-toggle="modal" data-bs-target=".infoBanco"> 
                                                <span class="d-block d-sm-none"><i class="fas fa-landmark"></i></span>
                                                <span class="d-none d-sm-block"> <i class="fas fa-landmark"></i> Datos bancarios</span>
                                        </button>
        
                                                      
                                    </li>
                                                
                                </ul>
                            </div>
    <!-- * =============>> BOTONES MODAL <<========================== -->   
         
                        </div>
                            </div> 
                        

                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="table-responsive" style="overflow-x: hidden;">
                                                               
                                                <table class="table table-nowrap align-middle" id="idahorro"
                                             class="dataTables_filter"  id="tech-companies-1" class="dataTables_info" style="margin-top: 2%; " >
                                             <style>

                                           .dataTables_filter{
                                            width: 97%;
                                           }
                                             </style>
                                                                    <thead>
                                                                       <tr>
                                                                            <th >Nombres</th>
                                                                            <th >Apellidos</th>
                                                                            <th >Teléfono</th>
                                                                            <th >Producto</th>
                                                                            <th >Estado de crédito</th>
                                                                            <th >Estado de instalación</th>
                                                                        </tr>
                                                                    </thead>
            
                                                                    <tbody>
                                                                        <% infoClientes.forEach((user)=>{ %>
                                                                         <tr>
                                                                            <td><%= user.nombre %> <%= user.segundo_nombre %></td>
                                                                            <td><%= user.apellido %></td>
                                                                            <td><%= user.telefono %></td>
                                                                             <td> <% if(user.sistema) {%>
                                                                              <%= user.sistema.txt %>
                                                                                 <% }%>
                                                                              </td>
                                                                  <td> <% if(user.estadoCreditoCliente) {%>
                                                                                <div class="badge <%= user.estadoCreditoCliente.color %> font-size-12" ><%= user.estadoCreditoCliente.txt %></div>
                                                                                 <% }%>
                                                                              </td>
                                                                              
                                                                              <td> <% if(user.estadoAgendar) {%>
                                                                                   <div class="badge <%= user.estadoAgendar.color %> font-size-12" ><%= user.estadoAgendar.txt %></div>
                                                                                  <% }%>
                                                                              </td>
                                                                      
                                                                         </tr>
                                                                      
                                                                         <%})%>
                                                                      </tbody>
                                                               </table>
                                                                            
                                                            </div>
                                                          </div>
                                                     </div>
                                                  </div>
                                              
                                               </div>
                        

                            <div class="col-xl-3 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">Estado del vendedor</h5>

                                 
                                        <!-- <form action="/aprobarVendedor" method="POST"> -->
                                            <div class="btn-group me-1 mt-2" style="margin-left: 8%;" >
                                                 <input type="hidden" name="id_vendedorEnviar" value="<%= info_vendedor.id_vendedor %>">
                                                 <input type="hidden" name="id_consecutivo" value="<%= info_vendedor.id %>">

                                                    <select class="form-select" id="selectEstado" name="estadoDe_laCuenta">
                                                        <option style="background:gray;color: white;text-transform: capitalize;" class="badge-soft-dark">Estado actual: <%= viewsUser.estado_de_la_cuenta %></option>
                                                        <br>  
                                                        <option value="aprobado">Aprobado</option>
                                                        <option value="bloqueado">Bloquear</option>
                                                    </select>
                                               
                                                </div>
                                               <a href="/perfil-vendedores/<%= info_vendedor.id_vendedor %>">
                                                    <button class="btn btn-primary"  type="submit" 
                                                    style="
                                                    border-radius: 13px;
                                                    margin-left: 24%;
                                                    margin-top: 4%;
                                                    width: 47%;">Guadar</button>
                                                </a> 
                                            <!-- </form> -->
                                          </div>
                                  
                                    <!-- end card body -->
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">Nivel del vendedor</h5>

                                 
                                            <form action="/ActualizarNivel" method="POST">
                                                <div class="btn-group me-1 mt-2">

                                                <input type="hidden" name="coodigoActualizarxs" value="<%= info_vendedor.id_vendedor %>">
                                                <select class="form-select" id="niveles" name="nivel">
                                                        <option style="background:gray;color: white;">Nivel actual: <%= info_vendedor.nivel %></option>
                                                        <br>
                                                        <option value="1">Nivel 1</option>
                                                        <option value="2">Nivel 2</option>
                                                        <option value="3">Nivel 3</option>
                                                    
                                                    </select>
                                                </div>
                                                <input type="submit" class="btn btn-primary" style="border-radius: 13px;margin-top: 3%;/* font-size: 13px; */" value="Guardar">
                                            </form>

                                            <br>
                                              <center>Número de ventas: <div class="badge badge-soft-info font-size-12" ><%= info_vendedor.numero_de_ventas %></div></center>  
                                       
                                  </div>
                                  
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->

                                 <%if(referente) {%>  
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">Afiliado a</h5>
    
                                            <a  href="/perfil-vendedores/<%- referente.id_vendedor%>" >
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar-sm flex-shrink-0 me-3">
                                                        <img src="../directorio_dash/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                                                    </div>
                                                    <div class="flex-grow-1" style="text-transform: capitalize;">
                                                        <div>
                                                       
                                                            <h5 class="font-size-14 mb-1"><%= referente.nombres %> <%= referente.apellidos %></h5>
                                                       <p class="font-size-13 text-muted mb-0"><%- referente.id_vendedor%></p>

                                                   
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                    <% } else { %> 
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-3">Afiliado a</h5>
                                                    <div class="d-flex align-items-center">
                                                       
                                                        <div class="flex-grow-1">
                                                            <div>
                                                               
                                                                <h5 class="font-size-14 mb-1"></h5>
                                                           <p class="font-size-13 text-muted mb-0">Este vendedor no se registró con un código de afiliado</p>
    
                                                           
                                                            </div>
                                                        </div>
                                                    </div>
                                               
                                            </div>
                                            <!-- end card body -->
                                        </div>
                                    <% }%> 

                                    <%if(info_vendedor.afiliados) {%>  
                                <div class="card">
                                    <div class="card-body">
                                           <h5 class="card-title mb-3">Afiliados</h5>
                                         <div class="list-group list-group-flush">
                              
                                <% afiliados.forEach((a)=>{ %> 
                                             <a href="/perfil-vendedores/<%- a.id_vendedor%>" class="list-group-item list-group-item-action">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar-sm flex-shrink-0 me-3">
                                                        <img src="../directorio_dash/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                                                    </div>
                                                    <div class="flex-grow-1" style="text-transform: capitalize;">
                                                        <div>
                                                          
                                                            <h5 class="font-size-14 mb-1"><%= a.nombres %> <%= a.apellidos%></h5>
                                                            <p class="font-size-13 text-muted mb-0"><%= a.id_vendedor%></p>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                              <%})%> 

                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <% } else { %> 
                                    <div class="card">
                                        <div class="card-body">
                                               <h5 class="card-title mb-3">Afiliados</h5>
                                             <div class="list-group list-group-flush">
                                  
                                                  <div class="d-flex align-items-center">
                                                      
                                                        <div class="flex-grow-1" >
                                                            <div>
                                                              
                                                                <h5 class="font-size-14 mb-1"></h5>
                                                                <p class="font-size-13 text-muted mb-0">Este vendedor no tiene afiliados</p>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                
    
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <% } %> 
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
             
                            </div> <!-- container-fluid -->
                      </div>
                <!-- End Page-content -->

                
      <!-- =======FIXME: copyright ========================== -->
      <%- include ('../partials/copyright.ejs')%>
      <!-- =======FIXME: copyright ========================== -->
            </div>
            <!-- end main content-->

        </div>
      
        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
<script src="../directorio_dash/libs/jquery/jquery.min.js"></script>
<script src="../directorio_dash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../directorio_dash/libs/metismenu/metisMenu.min.js"></script>
<script src="../directorio_dash/libs/simplebar/simplebar.min.js"></script>
<script src="../directorio_dash/libs/node-waves/waves.min.js"></script>
<script src="../directorio_dash/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="../directorio_dash/libs/pace-js/pace.min.js"></script>


<!-- init js -->
<script src="./directorio_dash/js/pages/datatable-pages.init.js"></script>
                
<script src="./directorio_dash/js/app.js"></script>

<script src="../directorio_dash/js/app.js"></script>




 <!-- Required datatable js -->
 <script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
 <!-- Responsive Table js -->
 <script src="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
 <!-- Responsive examples -->
 <script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
 <script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>


 <!-- Buttons examples -->
 <script src="../directorio_dash/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
 <script src="../directorio_dash/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
 <script src="../directorio_dash/libs/jszip/jszip.min.js"></script>
 <script src="../directorio_dash/libs/pdfmake/build/pdfmake.min.js"></script>
 <script src="../directorio_dash/libs/pdfmake/build/vfs_fonts.js"></script>
 <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
 <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
 <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

  <!-- Init js -->
  <script src="../directorio_dash/js/pages/table-responsive.init.js"></script>
  <script src="../directorio_perfilClientes/js/app.js"></script>
      
  <!-- Datatable init js -->
  <script src="../directorio_dash/js/pages/datatables.init.js"></script>    







</body>
</html>
