<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Perfil clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">



 <!-- App favicon -->
 <link rel="shortcut icon" href="./directorio_perfilClientes/images/favicon.png">

 <!-- Responsive Table css -->
 <link href="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />

 <!-- preloader css -->
 <link rel="stylesheet" href="../directorio_perfilClientes/css/preloader.min.css" type="text/css" />

 <!-- Bootstrap Css -->
 <link href="../directorio_perfilClientes/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
 <!-- Icons Css -->
 <link href="../directorio_perfilClientes/css/icons.min.css" rel="stylesheet" type="text/css" />
 <!-- App Css-->
 <link href="../directorio_perfilClientes/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />
<!-- scroll -->
<link rel="stylesheet" href="../css/scrolls.css">
 <!-- Sweet Alert-->
 <link href="../directorio_dash/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />


  <!-- ==========FIXME: CSS DEL FORMULARIO ================= -->

  <!-- BEGIN: Theme CSS-->
  <!-- <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/bootstrapp.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/bootstrap-extended.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/components.min.css"> -->
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->.
  <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/palette-gradient.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/wizard.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/daterange.min.css">
  <!-- END: Page CSS-->

   <!-- ==========FIXME: FIN CSS DEL FORMULARIO ================= -->
   <link rel="stylesheet" href="../directorio_nuevoCliente/css/estiloCanvas.css">
   <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/estilosPropios.css">


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

      
        <!-- =======FIXME: MENU ========================== -->
        <%- include ('../1-admin/menu.ejs')%>
        <!-- =======FIXME: MENU ========================== -->

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
    <!-- * =============>> Datos del vendedor  <<========================== -->
          <div class="row">
            <div class="col-xl-8" >
                <div class="">
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="col-lg-14">
                                <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                    <div class="card-header bg-transparent border-primary" style="margin-top: 2%;">
                                        <h5 class="my-0 text-primary">
                                            <i class="fa fa-user-circle"></i>&nbsp; Datos del cliente</h5>

                                             <a href="#" id="btncredito">
                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".datoscredito"
                                            style="background: linear-gradient( 189.55deg, #fed061 -131.52%, #812082 -11.9%, #50368c 129.46% );
                                            border-radius: 15px;
                                            float: right;
                                            margin-top: -26px;" id="btnmodal">Datos de crédito </button>
                                              </a>  
                                            <div class="modal fade datoscredito" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                           <h5 class="modal-title" id="myExtraLargeModalLabel">Datos de crédito</h5>
                                                       </div>
         
                                                    <!-- VALIDACIONES BREVES -->
                                                    <% if (!estade.btncredito){%>
                                                        <script>
                                                            const boton = document.getElementById("btnmodal")
                                                            boton.setAttribute("disabled", "")
                                                            boton.style.filter = "grayscale(1)";
                                                           </script>
                                                        <%}%>


                                                     
                              <!-- BEGIN: Content-->
                              <div class="app-content content" style="margin-top:-7px">
                                <!-- Form wizard with step validation section start -->
                              <section id="validation">
                             <div class="card-content collapse show">

                            <form class="steps-validation wizard-circle" id="validarForm"  >
                                 
                     <!--============= /FIXME:===== *SOLICITANTE* =======FIXME:=========-->
                          <!-- Step 1 -->
                           <h6><b>SOLICITANTE</b></h6>
                        <fieldset>
                        <% if(mostrarDatoscreditos){ %> 
                         <div class="row text-align: center">
                           
                              <div class="col-md-4">
                                <div class="form-group"> 
                                    <label for="monto_financiarf"> Monto a financiar</label>

                                    <input type="text" class="form-control" id="salida" value="<%=mostrarDatoscreditos.monto_financiar_cliente%>" readonly>
                                  </div>
                            </div>
                    
                            <div class="col-md-4">
                                <label for="exampleDataList" class="form-label">Sistema</label>
                                  <input class="form-control" value="<%= mostrarDatoscreditos.sistema%>" readonly>
                          </div> 
                        <div class="col-md-4">
                                <div class="form-group">
                                  <label for="num_licencia_solicitantef"> Número de licencia</label>
                                    <input type="number"class="form-control" value="<%= mostrarDatoscreditos.numero_licencia_cliente%>" readonly>
                                  </div>
                            </div>
                    </div>
                      
                     <div class="row text-align: center;">
                        <div class="col-md-4">
                            <label for="exampleDataList" class="form-label">Estado de licencia</label>
                          <input class="form-control" value="<%= mostrarDatoscreditos.estado_licencia_cliente%>" readonly >
                         </div>

                         <div class="col-md-4">
                                <div class="form-group">
                                    <label for="f_expediccion">Fecha de expedición de licencia</label>
                                    <input type="text" class="form-control" value="<%= mostrarDatoscreditos.fecha_expedicion_licencia_cliente%>" readonly >
                                 </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fecha_vencimientof">Fecha de vencimiento de licencia</label>
                                     <input type="text" class="form-control"  value="<%= mostrarDatoscreditos.fecha_vencimiento_licencia_cliente%>"  readonly >
                                </div>
                            </div>
                         
                         
                        </div>
                                                                                   
                 <div class="row">
                     
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="segurof"> Número de seguro Social / ITIN</label>
                          <input type="number" class="form-control" value="<%= mostrarDatoscreditos.seguro_social_licencia%>" readonly>
                          </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="segurof"> Tipo de documento</label>
                          <input type="text" class="form-control" value="<%= mostrarDatoscreditos.tipo_de_seguro %>" readonly>
                        </div>
                    </div>

                      <div class="col-md-2">
                                <div class="form-group">
                                    <label for="fecha_nacimientof">Fecha de nacimiento</label>
                                   <input type="text" class="form-control " value="<%= mostrarDatoscreditos.fecha_nacimiento_cliente%>" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone-masktwo">Teléfono secundario</label>
                              <input type="text" class="form-control " value="<%= mostrarDatoscreditos.telefono_secundario_cliente%>"  readonly>
                            </div>
                        </div>
                     
                </div> 
                         
                <% } else { %> 
                          
                   <% } %> 

                      </fieldset> 
                    <!--============= //FIXME:===== *SOLICITANTE* =======FIXME:=========-->

                    <!--============= /FIXME:===== *CASA* ==============FIXME:=========-->
                          <!-- Step 2 -->
                       <h6><b>CASA</b></h6>
                     <fieldset style="text-align: center; margin-top: -6%;">
 
                     <div class="row justify-content-center" >

                         <div class="col-md-4">
                             <div class="form-group">
                                <input type="hidden" class="form-control" id="estadof" readonly value="<= cliente.estado_ubicacion %>" name="estado_ubicacion" > 
                               </div>
                          </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                <input type="hidden" class="form-control" id="postalcode" readonly value="<= cliente.codigo_postal %>" name="codigo_postal" > 
                            </div>
                                
                                            

                        
                             </div>
                         </div>
                   
                            <br>
                            <br>
                        

                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <div class="form-group"  >
                                            <label for="">Codición de la vivienda </label>
                                            <% if(mostrarDatoscreditos) { %> 
                                                <input type="text" class="form-control "value="<%= mostrarDatoscreditos.condicion_vivienda%>"  readonly >
                                          
                                            <% } else { %> 
                                              
                                            <% } %> 
                                        </div>
                                    </div>
    
                                </div>
                          <div class="row justify-content-center">
                            <% if(mostrarDatoscreditos) { %> 
                                <div class="col-md-4">
                                    <div class="form-group" id="c_hipotecaria" style="margin-top: -5%;" >
                                    
                                        <label for="c_hipotecaria"> Compañia hipotecaria</label>
                                       <input type="text" class="form-control "value="<%= mostrarDatoscreditos.compa_hipotecaria_cliente%>"  readonly >
                                   </div>
                                  </div>
                                <% } else { %> 
                                                                
                               <% } %> 
                            </div>

                           

                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="form-group"  >
                                        <label for="anio_residencia"> Años de residencia</label>
                                        <% if(mostrarDatoscreditos) { %> 
                                        <input type="number" class="form-control " value="<%= mostrarDatoscreditos.anio_residencia_cliente%>"  readonly >
                                        <% } else { %> 
                                          
                                        <% } %> 
                                    </div>
                                </div>

                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="form-group"  >
                                        <label for="meses_residencia">Meses de residencia</label>
                                        <% if(mostrarDatoscreditos) { %> 
                                        <input type="number" class="form-control "  value="<%= mostrarDatoscreditos.meses_residencia_cliente%>" readonly>
                                        <% } else { %> 
                                         
                                        <% } %> 
                                    </div>
                                </div> 

                            </div>   
             

                          </fieldset> 
                    <!--============= //FIXME:===== *CASA* ======= ===== FIXME:=========-->
                        
                    <!--============= /FIXME:===== *INGRESOS* ========  FIXME:=========-->
                          <!-- Step 3 -->
                         <h6><b>INGRESOS</b></h6>
                          <fieldset>

                             <div class="row text-align: center;">
                         <div class="col-md-4">
                                <div class="form-group">
                                    <label for="empleador_aplicantef"> Empleador del aplicante</label>
                                     <labe id="content" style="display: none; ">Trabajador independiente</labe> 
                                     <% if(mostrarDatoscreditos) { %> 
                                   <input type="text" class="form-control" value="<%= mostrarDatoscreditos.empleador_aplicante_cliente%>" readonly >
                                   <% } else { %> 
                                  
                                <% } %> 
                                  
                               </div>
                           </div>

                      <div class="col-md-4">
                                <div class="form-group">
                                    <label for="anios_trabajandof">Años trabajando</label>
                                    <% if(mostrarDatoscreditos) { %> 
                                    <input type="text"  class="form-control " value="<%= mostrarDatoscreditos.anios_trabajando_ingresos%>" readonly  >
                                    <% } else { %> 
                                      
                                    <% } %> 
                                </div>
                           </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="meses_trabajandof"> Meses trabajando</label>
                                    <% if(mostrarDatoscreditos) { %> 
                                    <input type="text"  class="form-control" value="<%= mostrarDatoscreditos.meses_trabajando_ingresos%>" readonly>
                                    <% } else { %> 
                                       
                                    <% } %> 
                                </div>
                            </div>

                      </div>

                      <div class="row text-align: center;">
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label for="currency-masktwo"> Salario mensual</label>
                                    <% if(mostrarDatoscreditos) { %> 
                                    <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.salario_mensual_ingresos%>" readonly >
                                    <% } else { %> 
                                    
                                    <% } %> 
                                </div>
                             </div>
                       
                         <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ocupacionf"> Ocupación</label>
                                    <% if(mostrarDatoscreditos) { %> 
                                    <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.ocupacion_ingresos%>" readonly >
                                    <% } else { %> 
                                     
                                    <% } %> 
                                </div>
                          </div>
                    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="phone-maskk"> Teléfono de trabajo </label>
                                    <% if(mostrarDatoscreditos) { %> 
                                    <input type="text" class="form-control" value="<%= mostrarDatoscreditos.telefono_trabajo_ingresos%>" readonly >
                                    <% } else { %> 
                                    <% } %> 
                                </div>
                             </div> 

                             <% if(mostrarDatoscreditos) { %>  
                                
                                <% if(mostrarDatoscreditos.bancarrota == "Si" ) { %> 
                          <div class="col-md-4">
                          <label>¿Ha estado en bancarrota?</label>
                                <input type="text" class="form-control " value="<%= mostrarDatoscreditos.bancarrota%>" readonly >
                                          <br>                       
                                <div id="acc_pendiente">
                                 <label>¿Tiene acción pendiente?</label>
                                  <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.sacc_pendiente%>" readonly >

                                </div> 
                             </div>
                       
                        <div class="col-md-4" id="anio_bancarrotaid">
                            <div class="form-group" id="anio_bancarrotaid">
                                <label for="anio_bancarrotaf">Año de bancarrota</label>
                            
                                <input type="text" class="form-control" value="<%= mostrarDatoscreditos.anio_bancarrota_ingresos%>" readonly >
                               
                            </div>
                         </div>

                        <div class="col-md-4" id="anio_bancarrotaid">
                             <div id="tipo_bancarrota">
                                <label for="exampleDataList" class="form-label">Tipo de bancarrota</label>
                                <input class="form-control " value="<%= mostrarDatoscreditos.tipo_bancarrota_ingresos%>" readonly >
                                
                             </div>
                        </div>

                        <% } else { %> 
                            <% } %> 
                        <% }%> 
                           
                  </div> 

                         <br>
                         <% if(mostrarDatoscreditos) { %>  
                            <% if(mostrarDatoscreditos.empleador_anterior_ingresos ) { %> 
                                
                        <h4 style="text-align: center;" >Otros ingresos </h4>

                       <div class="row text-align: center;">
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label for="empleador_anteriorf"> Empleador anterior  </label>
                                   <input type="text" class="form-control " value="<%= mostrarDatoscreditos.empleador_anterior_ingresos%>" readonly>
                                  </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="otros_ingresosf">Fuente de otros ingresos</label>
                                    <input type="text" class="form-control " value="<%= mostrarDatoscreditos.otros_ingresos_ingresos%>" readonly >
                                  </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="currency-maskthree">  Ingresos adicionales</label>
                                   <input type="text" class="form-control" value="<%= mostrarDatoscreditos.ingresos_adicionales_ingresos%>" readonly>
                                 </div>
                            </div>
                         </div>           
                         <% } else { %> 
                            <% } %> 
                         <% }%> 
                          </fieldset>   
                    <!--============= / FIXME:===== *INGRESOS* ==========FIXME:=========-->

                    <!--============= //FIXME:===== *INFORMACION BANCARIA* ======= FIXME:=========-->
                           <h6><b>INFORMACIÓN BANCARIA</b></h6>
                          <fieldset>
                              
                   <div class="row text-align: center;">
                                   <div class="col-md-4">
                                     <label for="exampleDataList" class="form-label">Tipo de cuenta</label> 
                                     <% if(mostrarDatoscreditos) { %> 
                                     <input class="form-control"  value="<%= mostrarDatoscreditos.tipo_cuenta_bancaria%>" readonly>
                                     <% } else { %> 
                                    <% } %> 
                                    </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="numero_rutaf"> Número de ruta</label>
                                        <% if(mostrarDatoscreditos) { %> 
                                        <input type="number" class="form-control"  value="<%= mostrarDatoscreditos.numero_ruta_bancaria%>" readonly>
                                        <% } else { %> 
                                        <% } %> 
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="numero_cuentaf"> Número de cuenta </label>
                                        <% if(mostrarDatoscreditos) { %> 
                                        <input type="number" class="form-control " value="<%= mostrarDatoscreditos.numero_cuenta_bancaria%>" readonly>
                                        <% } else { %> 
                                        <% } %> 
                                    </div>
                                </div>

                                </div>      


                          </fieldset>   
                    <!--============= //FIXME: ===== *CONFIGURACION BANCARIA* ===== FIXME:=========-->

                    <!--============= / FIXME:===== *CO-SOLICITANTE* === FIXME:=========-->
                          <!-- Step 4 -->
                          <% if(mostrarDatoscreditos) { %> 
                            <% if(mostrarDatoscreditos.licencia_co_solicitante) { %> 
                            <h6><b>CO-SOLICITANTE</b></h6>
                     
                          <fieldset>
                          
                                  <div class="row text-align: center;">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                           <label for="licenciaf"> Identificación / licencia deconducción </label>
                                              <input type="number" class="form-control " value="<%= mostrarDatoscreditos.licencia_co_solicitante%>" readonly>
                                           </div>
                                    </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="expedicion_licenciaf"> Fecha de expedición de licencia</label>
                                                <input type="text" class="form-control" value="<%= mostrarDatoscreditos.expedicion_licencia_co_solicitante%>" readonly>
                                           </div>
                                      </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="vencimiento_licenciaf">Fecha de vencimiento de licencia</label>
                                              <input type="text" class="form-control" value="<%= mostrarDatoscreditos.vencimiento_licencia_co_solicitante%>"  readonly>
                                            </div>
                                      </div>

                                  </div>

                                  <div class="row text-align: center;">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="numero_se_socialf"> Número de seguro social/ITIN </label>
                                            <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.numero_se_social_co_solicitante%>" readonly>
                                        </div>

                                      </div>

                                      <div class="col-md-4">
                                        <div class="form-group">
                                        <label for="numero_se_socialf"> Tipo de documento </label>
                                      <input type="text" class="form-control" value="<%= mostrarDatoscreditos.tipo_seguro_co_solicitante%>" readonly>
                                    </div>
                                    </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="fecha_nacif"> Fecha de nacimiento</label>
                                                <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.fecha_nacimiento_co_solicitante%>" readonly>
                                                  </div>
                                            </div>
                                  
                                     </div>

                                  <div class="row text-align: center;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nombre_cof"> Nombre </label>
                                                <input type="text" class="form-control" value="<%= mostrarDatoscreditos.nombre_co_solicitante%>" readonly>
                                                </div>
                                         </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="segundo_nombre_cof"> Segundo nombre</label>
                                              <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.segundo_nombre_co_solicitante%>" readonly>
                                             </div>
                                      </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="apelli_cof">Apellidos</label>
                                                    <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.apellido_co_solicitante%>" readonly>
                                                 </div>
                                          </div>
                                     </div>

                                  <div class="row text-align: center;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phone-masktel">Teléfono móvil</label>
                                             <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.telefono_movil_co_solicitante%>" readonly>
                                            </div>
                                    </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="phone-maskteltwo">Teléfono secundario  </label>
                                          
                                                <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.tel_secundario_co_solicitante%>" readonly>
                                               </div>
                                      </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="direc_co_solicitantef"> Dirección del co-solicitante</label>
                                                <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.direccion_co_solicitante%>" readonly>
                                                 </div>
                                         </div>
                                     </div>
                                 <div class="row text-align: center;">
                                    <div class="col-md-4">
                                       <div class="form-group">
                                           <label for="relacionf"> Relación/parentesco</label>
                                            <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.relacion_parentesco_co_solicitante%>" readonly>
                                       </div>
                                 </div>
                             <br>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>¿Es militar activo?</label>
                                    <input type="text" class="form-control" value="<%= mostrarDatoscreditos.militar_active%>" readonly>
                                  </div>
                               </div>

                            </div>
                            <h4 style="text-align: center;">Empleo del co-solicitante</h4>

                                  <br>
                                  <br>

                                  <div class="row text-align: center;">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="empleador_cof"> Empleador del co-solicitante</label>
                                                 <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.empleador_co_solicitante%>" readonly>
                                                </div>
                                        </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="anios_trabajando_cof"> Años trabajando</label>
                                               <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.anios_trabajando_co_solicitante%>" readonly>
                                              </div>
                                      </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="meses_trabajando_cof"> Meses trabajando </label>
                                                  <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.meses_trabajando_co_solicitante%>" readonly>
                                               </div>
                                       </div>

                                  </div>

                                  <div class="row text-align: center;">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="currency-masksalario"> Salario mensual</label>
                                                <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.salario_mensual_co_solicitante%>" readonly>
                                               </div>
                                          </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="ocupacion_cof">Ocupación </label>
                                                   <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.ocupacion_co_solicitante%>" readonly>
                                                   </div>
                                              </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="phone-maskteltrabajo">Teléfono de trabajo</label>
                                                <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.telefono_trabajo_co_solicitante%>" readonly>
                                             </div>
                                      </div>

                                  </div>
                                  <div class="row text-align: center;">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="empleador_anterior_cof">Empleador anterior </label>
                                                <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.empleador_anterior_co_solicitante%>" readonly>
                                             </div>
                                      </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="ingresos_cof"> Fuente de otros ingresos</label>
                                                 <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.ingresos_co_solicitante%>" readonly>
                                                  </div>
                                          </div>

                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="currency-maskingresoadi"> Ingresos adicionales </label>
                                              <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.ingresos_adicionales_co_solicitante%>" readonly>
                                              </div>
                                      </div>

                                  </div>
                              

                          </fieldset>  
                          <% } else { %>
                              <% } %> 
                          <% } %> 
                    <!--============= //FIXME:===== *CO-SOLICITANTE* ==== FIXME:=========-->

                    <!--============= //FIXME:===== *REFERENCIAS* ======= FIXME:=========-->

                     <% if(mostrarDatoscreditos) { %> 
                        <% if(mostrarDatoscreditos.licencia_co_solicitante) { %>  
                         <h6><b>REFERENCIAS</b></h6>
                          <fieldset>

                              <div class="row text-align: center;">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="nom_referencia1_cof">Nombre de referencia</label>
                                          <input type="text" class="form-control"  value="<%= mostrarDatoscreditos.nom_referencia1_co_solicitante%>" readonly>
                                        </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="parentesco1_cof"> Relación/parentesco </label>
                                          <input type="text" class="form-control"  value="<%= mostrarDatoscreditos.parentesco1_co_solicitante%>" readonly>
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="phone-masktelreferenciasone">Teléfono</label>
                                           <input type="text" class="form-control"  value="<%= mostrarDatoscreditos.tel_movil1_co_solicitante%>" readonly>
                                     </div>
                                  </div>

                              </div>

                              <hr class="bg-primary" style="padding:2px; background:#812082!important">

                              <div class="row text-align: center;">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="nom_referencia2_cof">Nombre de referencia </label>
                                           <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.nom_referencia2_co_solicitante%>" readonly>
                                        </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="parentesco2_cof"> Relación/parentesco </label>
                                           <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.parentesco2_co_solicitante%>" readonly>
                                        </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="phone-masktelreferenciastwo">Teléfono móvil</label>
                                             <input type="text" class="form-control "  value="<%= mostrarDatoscreditos.tel_movil2_co_solicitante%>" readonly>
                                           </div>
                                     </div>
                                 </div>

                              <hr class="bg-primary" style="padding:2px; background:#812082!important">

                              <div class="row text-align: center;">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="nom_referencia2_cof"> Nombre de referencia  </label>
                                        <input type="text" class="form-control social"  value="<%= mostrarDatoscreditos.nom_referencia3_co_solicitante%>" readonly>
                                       </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="parentesco2_cof"> Relación/parentesco </label>
                                          <input type="text" class="form-control " value="<%= mostrarDatoscreditos.parentesco3_co_solicitante%>" readonly>
                                        </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="phone-masktelreferenciasthree">Teléfono móvil </label>
                                            <input type="text" class="form-control " value="<%= mostrarDatoscreditos.tel_movil3_co_solicitante%>" readonly>
                                         </div>
                                   </div>
                             </div>

                          </fieldset>  

                          <% } else { %>
                            <% } %> 
                        <% } %> 
                          <!--============= //FIXME: ===== *REFERENCIAS* ===== FIXME:=========-->

                       
                          <!--============= //FIXME: ===== *ARCHIVOS* ===== FIXME:=========-->

                        <h6><b>ARCHIVOS</b></h6>
                          <fieldset>

                            <div class="card-body" style="margin-top: -5.5%;">
                                <ul class="nav nav-pills nav-justified" role="tablist" >
                                    <li class="nav-item waves-effect waves-light" style="border-radius: 13px;">
        
                                        <button type="button" style="border-radius: 14px; width: 30%" class="btn btn-primary waves-effect waves-light"
                                             data-bs-toggle="modal" data-bs-target=".frontal"> 
                                                  <span class="d-block d-sm-none"><i class="fas fa-id-card"></i></span>
                                                  <span class="d-none d-sm-block"> <i class="fas fa-id-card"></i> Licencia anverso </span>
                                        </button>
                                             &nbsp;&nbsp;&nbsp;&nbsp;

                                        <button type="button" style="border-radius: 14px; width: 29%" class="btn btn-primary waves-effect waves-light"
                                             data-bs-toggle="modal" data-bs-target=".trasera"> 
                                                <span class="d-block d-sm-none"><i class="fas fa-credit-card"></i></span>
                                                <span class="d-none d-sm-block"> <i class="fas fa-credit-card"></i>  Licencia reverso</span>
                                        </button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                         <a href="/acuerdo/<%= info_clientes.id_cliente %>" target="_blank"> 
                                            <button type="button" style="border-radius: 14px; width: 32%" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="modal" data-bs-target=".acuerdoFirmado"> 
                                            <span class="d-block d-sm-none"><i class="fas fa-id-card"></i></span>
                                            <span class="d-none d-sm-block"> <i class="fas fa-id-card"></i> Ir al documento firmado</span>
                                       </button>
                                        
                                          </a> 
                                                      
                                    </li>
                                                
                                </ul>
                            </div>

                            <!-- todo ====>> MOODAL PARA LICENCIA ANVERSO -->
                                        <div class="modal fade frontal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered ">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Licencia anverso</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                  <div class="row">
                                                        <div class="" >
                                                            <div class="">
                                                              <div class="row">
                                                                        <div class="col-md-11">
                                                                           <div class="card-body" style="margin-top: -3%;text-align: center;">
                                                                            <% if(licenciacredito) { %> 
                                                                              
                                                                            <a href="<%= licenciacredito.frontal%>" target="_blank">

                                                                                <img src="<%= licenciacredito.frontal%>" alt="" style="width: 85%; margin-left: 10%;">
                                                                               </a> 
                                                                               <% } else { %> 
                                                                                <% } %> 
                                                                         </div>
                                                                        </div><!-- end col -->
                                                                     </div>
                                                                    <!-- end card-body -->
                                                              </div><!-- end col -->
                                                        </div>
                                                    </div>
                             
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                            <!-- todo ====>> MOODAL PARA LICENCIA REVERSO -->
                                        <div class="modal fade trasera" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered ">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Licencia reverso  </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                  <div class="row">
                                                        <div class="" >
                                                            <div class="">
                                                              <div class="row">
                                                                        <div class="col-md-11">
                                                                
                                                                           <div class="card-body" style="margin-top: -3%;text-align: center;">
                                                             
                                                                            <% if(licenciacredito) { %> 
                                                                                <a href="<%= licenciacredito.trasera%>" target="_blank">
    
                                                                                    <img src="<%= licenciacredito.trasera%>" alt=""  style="width: 85%; margin-left: 10%;">
                                                                                   </a> 
                                                                                   <% } else { %> 
                                                                                    <% } %> 
                                                                            </div>
                                                                       </div><!-- end col -->
                                                                    </div>
                                                               </div><!-- end col -->
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                        
                                 <button type="button" class="btn-close" style="float: left;
                                     position: relative;top: 35px; z-index: 3;  left: 46em;
                                        width: 68px;background: black;  color: #fff;
                                        padding: 8px 12px;border-radius: 2px;
                                        border: 1px solid transparent; height: 18px;"
                                  data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                               </fieldset>   
  
                          <!--============= //FIXME: ===== *CARGAR ARCHIVOS* ===== FIXME:=========-->
                      </form>
                  </div>
                 </section>
                 </div>
                 </div><!-- /.modal-content -->
               </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
                 <input type="hidden" hidden name="id_consecutivo" value="<%= info_clientes.id %>">
                 <input type="hidden" hidden name="id_cliente" value="<%= info_clientes.id_cliente%>">
         </div>
                                    <div class="card-body">
                                          <div class="table-responsive">
                                            <table class="table mb-0">
                                                 <tbody>
                                                    <tr>
                                                       <td style="width: 23%;">ID</td>
                                                         <td><b><%= info_clientes.id_cliente %></b></td>
                                                         <td>Teléfono</td>
                                                         <td><b><%= info_clientes.telefono %></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nombre</td>
                                                        <td style="width: 29%; text-transform: capitalize;"><b><%= info_clientes.nombre %></b></td>
                                                        <td style="width:20%">Dirección</td>
                                                        <td><b><%= info_clientes.direccion %> <%= info_clientes.ciudad %> <p><%= info_clientes.estado_ubicacion %> <%= info_clientes.codigo_postal %> </p></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Segundo nombre</td>
                                                        <td style="text-transform: capitalize;"><b><%= info_clientes.segundo_nombre %></b></td>
                                                        <td>Dirección 2</td>
                                                        <td><b><%= info_clientes.direccion2%></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apellido</td>
                                                        <td style="text-transform: capitalize;"><b><%= info_clientes.apellido %></b></td>
                                                        <td>Estado de crédito</td>
                                                        <td>
                                                    
                                                                   <input type="hidden" name="id_clienteEnviar" value="<%= info_clientes.id_cliente %>">
                                                                    <input type="hidden" name="id_consecutivo" value="<%= info_clientes.id %>">
                                                                    
                                                                    <select style="border:none;background:#ebebeb;border-radius: 9px;" id="estadosCreditoId" name="estadosCredito">
                                                                        <option id="estadosCredito" style="background:gray;color: white;"><%= estado.txt %></option>
                                                                            <br>
                                                                            <option value="1">Aprobado</option>
                                                                            <option value="2">Rechazado</option>
                                                                            <option value="3">Pagado (cash)</option>
                                                                            <option value="0">En revisión</option>
                                                                        
                                                                     </select>
                                                               <button type="button" onclick="presionarBtnEstadoCredito()" class="btn-soft-success waves-effect waves-light" style="border-radius:13px;">
                                                                <i class="bx bx-check-double font-size-13 align-middle"></i></button> 
                                                          
                                                          </td>
                                                    </tr>   
                                                   <tr>
                                                        <td>Correo</td>
                                                        <td><b><%= info_clientes.correo %></b></td>
                                                        <td style="width: 24%;">Monto aprobado</td>
                                                        <td>
                                                           
                                                                           
                                                            <input type="hidden" id="clienteEnviarMonto" name="id_clienteEnviarMonto" value="<%= info_clientes.id_cliente %>">
                                                            <input type="hidden" id="consecutivo" name="id_consecutivo" value="<%= info_clientes.id %>">
                                                            
                                                            <% if(mostrarProducto) { %>

                                                                 <input type="text" style="border:none; border-radius:9px; background: #ebebeb; width:68%;"
                                                                 value="<%=mostrarProducto.monto_aprobado %>"
                                                                 id="montoAprobadoUpdate"
                                                                 name="updateMontoAprobado">   

                                                            <% } else { %>

                                                                <input type="text" style="border:none; border-radius:9px; background: #ebebeb; width:68%;" 
                                                                 name="updateMontoAprobado"
                                                                 id="montoAprobadoUpdate"> 

                                                            <% } %>

                                                       <button type="button" id="btnActualizarMontoAprobado" 
                                                               class="btn-soft-success waves-effect waves-light" 
                                                               style="border-radius:13px;" onclick="presionar()">
                                                            <i class="bx bx-check-double font-size-13 align-middle"></i>
                                                       </button> 

                                                    </td>  
                                                           
                                                  </tr>
                                                  </tbody>
                                            </table>

                                         
                                       </div>
                                  </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

             <style>
                .noVisitado{
                     background: #50515c;
                     }
                     .letra{
                         color:white;
                     }
                 .visitado{
                     background: #89c278;
                 }
                 .producto_instalado{
                    background: #fed061;
                 }
               
            </style>

            <div class="col-lg-4">
                <% if((mostrarProducto)) { %>
                <div class="card" style="border-radius: 21px; margin-top: 20px;box-shadow: 0px 0px 10px #e7e7e7;">
                    <div class="card-body">
                       <h5 class="card-title mb-3" style="text-align: center">3C Sigma Water System</h5>
                                <div class="me-1 mt-2" style="text-align: center;">
                                    <div class="badge badge-soft-success font-size-12">Sistema solicitado: <%=mostrarProducto.sistema %> </div> <br>
                                </div>
                             <br>
                     </div>
                  </div>
                  <% } else {%>
                  <% }%>
           
                <div class="card border-primary text-white-50 <%= estadoVisita_testAgua.background %>" style="margin-top: 5%;">
                    <div class="card-body">
                        <h6 class="mb-3 text-white">Estado de visitas</h6>
                        <p class="card-text" style="color:white;">
                            <td><div class="badge <%= estadoVisita_testAgua.color %> font-size-12 letra" > <%= estadoVisita_testAgua.txt  %> <%= consulta_UltimoTestAgua.fecha_test %></div></td>
                            </p>
                    </div>
                </div>

                <div class="card  border-primary text-white-50 <%= estado_intalacion.background %>">
                    <div class="card-body">
                        <h6 class="mb-3 text-white">Estado de la instalación del producto</h6>
                        <p class="card-text" style="color:white;">
                            <td><div class="badge <%= estado_intalacion.color %> font-size-12 letra" > <%= estado_intalacion.txt %> </div></td>

                        </p>
                        
                    </div>
                </div>
              
             </div>
            

         </div>
    <!-- * =============>> FIN Datos del vendedor <<===================== -->

   <!-- * =============>> Test de agua  <<============================== -->
   <div class="row">
    <div class="col-xl-8">
        <div class="">
         <div class="row">
                <div class="col-lg-12">
                    <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7; margin-left: 17px;">
                       <div class="card-header bg-transparent border-primary">
                            <h5 class="my-0 text-primary">
                                <i class="fas fa-water"></i>&nbsp; Test de agua</h5>
                         </div> 

                          <div class="card-body">
                            <div class="">
                                <div class="table-responsive" >
                                   <table class="table table-nowrap align-middle" id="idTTesagua" style="margin-top: 2%;">
                                                        <thead class="">
                                                            <tr>
                                                                <th>Número de test</th>
                                                                <th>Fecha</th>
                                                                <th>Dureza (gpg)</th>
                                                                <th>Hierro (ppm)</th>
                                                                <th>Total dureza compensada</th>
                                                                <th >TSD (Total de solidos disueltos)</th>
                                                                <th>Cloro (ppm)</th>
                                                                <th>pH</th>
                                                                <th>Azufre (ppm)</th>
                                                                <th>Tanino (ppm)</th>
                                                                <th>Nitrato (ppm)</th>
                                                                <th>Alcalinidad</th>
                                                                <th>Otro</th>
                                                                <th>Concentración</th>
                                                                <th>Otro</th>
                                                                <th>Concentración</th>
                                                                <th>Otro</th>
                                                                <th>Concentración</th>
                                                                <th>Nota</th>
                                                               </tr>
                                                        </thead>
                                                        <tbody>
                                                             <%informacionTestAgua.forEach((user)=>{ %> 
                                                               <tr>
                                                                  <td><%= user.id %></td>
                                                                      <td><%= user.fecha_test %></td>
                                                                      <td><%= user.dureza_gmXgalon %></td>
                                                                      <td><%= user.hierro %></td>
                                                                      <td><%= user.totalDureza_compensada %></td>
                                                                      <td><%= user.tsd %></td>
                                                                      <td><%= user.cloro %></td>
                                                                      <td><%= user.ph %></td>
                                                                      <td><%= user.azufre %></td>
                                                                      <td><%= user.tanino %></td>
                                                                      <td><%= user.nitrato %></td>
                                                                      <td><%= user.alcalinidad %></td>
                                                                      <td><%= user.otro1 %></td>
                                                                      <td><%= user.concentracion1 %></td>
                                                                      <td><%= user.otro2 %></td>
                                                                      <td><%= user.concentracion2 %></td>
                                                                      <td><%= user.otro3 %></td>
                                                                      <td><%= user.concentracion3 %></td>   
                                                                      <td><%= user.nota %></td>    
                                                                 </tr>
                                                             <%})%>
                                                            </tbody>
                                                                </table>
                                                                <input type="hidden" id="datosJson_PrimerTestagua" value="<%= datosJson_PrimerTestagua %>">
                                                                <input type="hidden" id="datosJson_UltimoTestagua" value="<%= datosJson_UltimoTestagua %>">
                                                             </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <!-- end card -->
                                    </div> <!-- end col -->
                    

                            <div class="col-lg-4 ">
                                <div class="card" style="margin-top: 5%;margin-left: 17px;border-radius: 19px;box-shadow: 0px 0px 10px #e7e7e7;">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Calidad de agua del hogar</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="column_chart" data-colors='["#a99bcb", "#50368c"]' class="apex-charts" dir="ltr"></div>                                      
                                    </div>
                                </div>
                            </div>
                    </div>
<!-- * =============>> FIN Test de agua  <<=============================- -->
  <!-- * =============>> Ahorro  <<===================================== -->
  <div class="row">

    <div class="col-xl-8">
        <div class="">
            <div class="card-body">
              
                <div class="row">
                    <div class="col-lg-14">
                        <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                            <div class="card-header bg-transparent border-primary">
                                <h5 class="my-0 text-primary">
                                    <i class="fas fa-money-bill"></i>&nbsp; Ahorro</h5>
                             </div>

                              <div class="card-body">
                                <div class="table-responsive" style="overflow-x: hidden;" >
                                   
                                    <table class="table table-striped mb-0" id="copyahorro" class="dataTables_filter" 
                                      class="dataTables_paginate" class="dataTables_info" style="margin-top: 2%;">
                                 <style>
                                   .dataTables_filter{
                                         display: none;
                                     }
                                     .dataTables_paginate{
                                         display: none;
                                     }
                                     .dataTables_info{
                                         display: none;
                                     } 
                                </style>
                                        <thead class="table-light">
                                            <tr>
                                                <th ></th>
                                                <th>Gasto mensual</th>
                                                <th>Ahorro mensual</th>
                                                <th>Ahorro anual</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                           <tr>      
                                                <td>Agua embotellada</td>
                                                <td>$ <%= ahorroCalculado.agua_embotellada %></td>
                                                <td>$ <%= ahorroCalculado.ahorroMensual_aguaEmbotellada %></td>  
                                                <td>$ <%= ahorroCalculado.ahorroAnual_aguaEmbotellada %></td>                                                                      
                                            </tr>
                                            <tr>
                                                <td> Jabones</td>
                                                <td>$ <%= ahorroCalculado.jabones %></td>   
                                                <td>$ <%= ahorroCalculado.ahorroMensual_jabon %></td>  
                                                <td>$ <%= ahorroCalculado.ahorroAnual_jabon %></td>                                                             
                                            </tr>
                                            <tr>
                                                <td> Productos de limpieza</td>
                                                <td>$ <%= ahorroCalculado.productos_limpieza %></td>    
                                                <td>$ <%= ahorroCalculado.ahorroMensual_productos_limpieza %></td>      
                                                <td>$ <%= ahorroCalculado.ahorroAnual_productos_limpieza %></td>                                                  
                                            </tr>
                                            <tr>
                                                <td> Agua caliente</td>
                                                <td>$ <%= ahorroCalculado.agua_caliente %></td>     
                                                <td>$ <%= ahorroCalculado.ahorroMensual_agua_caliente %></td>   
                                                <td>$ <%= ahorroCalculado.ahorroAnual_agua_caliente %></td>                                                            
                                            </tr>
                                            <tr>
                                                <td> Plomería y electrodomésticos</td>
                                                <td>$ <%= ahorroCalculado.plomeria_electrodomesticos %></td>    
                                                <td>$ <%= ahorroCalculado.ahorroMensual_plomeria_electrodomesticos %></td>    
                                                <td>$ <%= ahorroCalculado.ahorroAnual_plomeria_electrodomesticos %></td>                                                             
                                            </tr>
                                            <tr>
                                                <td>Ropa y lencería</td>
                                                <td>$ <%= ahorroCalculado.ropa_lenceria %></td>         
                                                <td>$ <%= ahorroCalculado.ahorroMensual_ropa_lenceria %></td>        
                                                <td>$ <%= ahorroCalculado.ahorroAnual_ropa_lenceria %></td>                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <input type="hidden" id="datosJson_ahorroCalculado" value="<%= datosJson_ahorroCalculado %>">
                                  </div>
                                </div>
                            </div>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>

        
        <div class="col-xl-4">
            <!-- card -->
            <div class="card" style="margin-top: 5%;border-radius: 19px;box-shadow: 0px 0px 10px #e7e7e7;">
                <div class="card-header">
                    <h4 class="card-title mb-0">Ahorro total</h4>
                </div>
                <!-- card body -->
                <div class="card-body">
                <div class="row align-items-center">
                        <div class="col-xl-13">
                            <div>
                                <div id="market-overview" data-colors='["#a99bcb", "#50368c"]' class="apex-charts"></div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row-->
    </div>
<!-- * =============>> FIN Ahorro  <<================================ -->

 <!-- * =============>> Agendar instalación  <<================================== -->
            <div class="row">
                <div class="col-xl-8">
                    <div class="">
                        <div class="card-body">
                        
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                        <div class="card-header bg-transparent border-primary">
                                            <h5 class="my-0 text-primary">
                                                <i class="fas fa-wrench"></i>&nbsp; Instalación</h5>

                                                <a href="/registro-instalacion/<%= info_clientes.id_cliente %>" id="verbtnI">
                                                    <button class="btn btn-primary" id="btn_instalacion" style="float: right;margin-top: -2%;border-radius:13px;">Registrar instalación</button>
                                                </a> 
                                          
                                            <!-- VALIDACIONES BREVES -->
                                            <% if (!estadu.verbtnI){%>
                                                <script>
                                                    const botonI = document.getElementById("btn_instalacion")
                                                    botonI.setAttribute("disabled", "")
                                                    botonI.style.filter = "grayscale(1)";
                                                </script>
                                                <%}%>
                                        </div>
                                        <div class="card-body">
                                             <div class="table-responsive" style="overflow-x: hidden;" >
                                                <table class="table mb-0">
                                                    <% if(!(clRegistro_instalacion.id_cliente) ) { %> 
                                                     <tbody>
                                                       <tr>
                                                           <td style="width: 26%;">Desde:</td>
                                                         <% if(mostrarAgenda){ %> 

                                                           <td><b><%= mostrarAgenda.fechaInicial %></b></td>
                                                           <td style="width: 26%;">Hasta:</td>
                                                           <td><b><%= mostrarAgenda.fechaFinal %></b></td>

                                                         <% } else { %> 
                                                            <td><b>N/A</b></td>
                                                            <td style="width: 26%;">Hasta:</td>
                                                            <td><b>N/A</b></td>
                                                         <% }%>

                                                        </tr>
                                                        <tr>
                                                            <td style="width: 26%;">Dias disponibles:</td>
                                                          <% if(mostrarAgenda){ %> 

                                                            <td><b><%= mostrarAgenda.lunes %><%= mostrarAgenda.martes %> <%= mostrarAgenda.miercoles %> <%= mostrarAgenda.jueves %> <%= mostrarAgenda.viernes %> <%= mostrarAgenda.sabado %> <%= mostrarAgenda.domingo %></b></td>
                                                            <td style="width: 26%;">Nota:</td>    
                                                            <p> <td><b><%= mostrarAgenda.nota_solicitud %></b></td></p>     

                                                          <% } else { %> 
                                                             <td><b>N/A</b></td>
                                                             <td style="width: 26%;">Hasta:</td>
                                                             <td><b>N/A</b></td>
                                                          <% }%>                                         
                                                        </tr>
                                                   </tbody>
                                                    <% } else { %> 
                                                        <tbody>
                                                          <tr>
                                                             <td style="width: 26%;">Fecha de instalación</td>
                                                             <td><b><%= clRegistro_instalacion.fecha_instalacion %></b></td>
                                                             <td style="width: 26%;">Instalador:</td>
                                                             <td style="text-transform: capitalize;"><b><%= clRegistro_instalacion.instalador %></b></td>
                                                          </tr>
                                                          <tr>
                                                             <td style="width: 26%;">Producto instalado:</td>
                                                             <td><b><%= clRegistro_instalacion.producto_instalado %></b></td>
                                                             <td style="width: 26%;">Nota:</td>    
                                                             <p> <td><b><%= clRegistro_instalacion.nota %></b></td></p>     
                                                          </tr>
                                                            <tr>
                                                             <td style="width: 26%;">Serial del producto:</td>
                                                             <td><b><%= clRegistro_instalacion.serial_producto %></b></td>
                                                             <td style="width: 26%;">Registro fotográfico:</td>    
                                                             <p><td><b><button type="button" style="border:none;width: 107%;" class="waves-effect waves-light"
                                                                    data-bs-toggle="modal" data-bs-target=".evidencia"> 
                                                                  <span class="d-block d-sm-none"><i class="far fa-image"></i></span>
                                                                  <span class="d-none d-sm-block"> <i class="far fa-image"></i> Ver evidencia </span>
                                                               </button></b></td></p>   
                                                           </tr>
                                                       </tbody>
                                                    <% } %> 
                                                </table>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                             </div>
                           </div>
                       </div>
                    </div>
                 </div>
    <!-- * =============>> FIN Agendar instalación  <<============================== -->

    <div class="modal fade evidencia" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registro fotográfico</h5>
                </div>
                <div class="modal-body">
              <div class="row">
                    <div class="" >
                        <div class="">
                          <div class="row">
                                    <div class="col-md-11">
                                       <div class="card-body" style="margin-top: -3%;text-align: center;">
                                        <% if(evidenciaF) { %> 
                                       
                                            <img src="<%= evidenciaF.evidencia%>" alt="" style="width: 85%; margin-left: 10%;">
                                            
                                           <% } else { %> 
                                            <% } %> 
                                     </div>
                                    </div><!-- end col -->
                                 </div>
                                <!-- end card-body -->
                          </div><!-- end col -->
                    </div>
                </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



                  </div>
                </div>
            </div>
                        <!-- =======FIXME: copyright ========================== -->
                    <%- include ('../partials/copyright.ejs')%>
                        <!-- =======FIXME: copyright ========================== -->

                </div>
            </div>


            <!-- Right Sidebar -->
            <div class="right-bar">
                <div data-simplebar class="h-100">
                    <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                        <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                        <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                            <i class="mdi mdi-close noti-icon"></i>
                        </a>
                    </div>

                    <!-- Settings -->

                 
                </div> <!-- end slimscroll-menu-->
            </div>
            <!-- /Right-bar -->

             
            <!-- JAVASCRIPT -->
            <script src="../directorio_perfilClientes/libs/jquery/jquery.min.js"></script>
            <script src="../directorio_perfilClientes/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../directorio_perfilClientes/libs/metismenu/metisMenu.min.js"></script>
            <script src="../directorio_perfilClientes/libs/simplebar/simplebar.min.js"></script>
            <script src="../directorio_perfilClientes/libs/node-waves/waves.min.js"></script>
            <script src="../directorio_perfilClientes/libs/feather-icons/feather.min.js"></script>
            <!-- pace js -->
            <script src="../directorio_perfilClientes/libs/pace-js/pace.min.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
                    <!-- apexcharts js -->
                    <script src="../directorio_perfilClientes/libs/apexcharts/apexcharts.min.js"></script>
                    <!-- apexcharts init -->
                    <script src="../directorio_perfilClientes/js/pages/apexcharts.init.js"></script>
                    <!-- dashboard init -->
                    <script src="../directorio_perfilClientes/js/pages/dashboard.init.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
 
        <!-- Required datatable js -->
        <script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Responsive Table js -->
        <script src="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
        <!-- Responsive examples -->
        <script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  

        <!-- Buttons examples -->
        <script src="../directorio_dash/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="../directorio_dash/libs/jszip/jszip.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

         <!-- Init js -->
         <script src="../directorio_dash/js/pages/table-responsive.init.js"></script>
         <script src="../directorio_perfilClientes/js/app.js"></script>
             
         <!-- Datatable init js -->
         <script src="../directorio_dash/js/pages/datatables.init.js"></script>    



<!-- ==========FIXME: JS DEL FORMULARIO ================= -->

<!-- BEGIN: Vendor JS-->
<script src="../directorio_nuevoCliente/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="../directorio_nuevoCliente/js/jquery.sticky.js"></script>
<script src="../directorio_nuevoCliente/js/jquery.sparkline.min.js"></script>
<script src="../directorio_nuevoCliente/js/jquery.steps.min.js"></script>
<script src="../directorio_nuevoCliente/js/moment-with-locales.min.js"></script>


<script src="../directorio_nuevoCliente/js/jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../directorio_nuevoCliente/js/app-menu.min.js"></script>
<script src="../directorio_nuevoCliente/js/app.min.js"></script>
<!-- <script src="./directorio_nuevoCliente/js/customizer.min.js"></script> -->
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="../directorio_nuevoCliente/js/breadcrumbs-with-stats.min.js"></script>
<script src="../directorio_nuevoCliente/js/wizard-steps.min.js"></script>

<script src="../directorio_nuevoCliente/js/estilosPropios.js"></script>
<!-- END: Page JS-->
<script src="../directorio_nuevoCliente/js/script_canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>

<!-- ==========FIXME: JS DEL FORMULARIO ================= -->
<!-- form mask -->
<script src="../libs/imask/imask.min.js"></script>
<!-- form mask init -->
<script src="../directorio_dash/js/pages/form-mask.init.js"></script>
<!--FIXME: ================================================================== -->

<script>
// Mascara  para monto aprobado
document.addEventListener("DOMContentLoaded", function () {
    // Pattern (Phone)
    var currencyMask = IMask(document.getElementById('montoAprobadoUpdate'), {
       mask: '$num',
       blocks: {
         num: {
           // nested masks are available!
           mask: Number,
           thousandsSeparator: ','
         }
       }
     });
 });

 // Actualizar Monto aprobado
  function presionar(){
     const monto_aprobado = $("#montoAprobadoUpdate").val();
     //  const monto_aprobado = $("#clienteEnviarMonto").val();
      const id_cliente = $("#consecutivo").val();
     
         
          fetch('/ActualizarMontoAprobado', {
              
              method: 'POST',
              body: JSON.stringify({monto_aprobado,id_cliente}),
              headers: { 'Content-Type': 'application/json' }

           }).then(res => res.json())
             .catch(error => console.error('Error', error))
          .then(response => {
                   if(response)   {
                       Swal.fire(
                         '¡Enviado!',
                         'Monto actualizado',
                         'success'
                       )
                        }else {
                            Swal.fire(
                                '¡Error!',
                                'Ocurrió un problema al guardar los cambios, comunicate con soporte',
                                'error'
                             )
                        }
                    })


             }

     // =====>>>> Actualizar Estado del credito
  function presionarBtnEstadoCredito(){
     
     const estado_del_credito = $("#estadosCreditoId option:selected").val()
      const id_cliente = $("#idConsecutivo").val()

          fetch('/ActualizarCredito', {
              
              method: 'POST',
              body: JSON.stringify({estado_del_credito,id_cliente}),
              headers: { 'Content-Type': 'application/json' }

           }).then(res => res.json())
             .catch(error => console.error('Error', error))
          .then(response => {
                   if(response)   {
                       Swal.fire(
                         '¡Enviado!',
                         'Estado actualizado',
                         'success'
                       )
                        }else {
                            Swal.fire(
                                '¡Error!',
                                'Ocurrió un problema al guardar los cambios, comunicate con soporte',
                                'error'
                             )
                        }
                    })


             }
                                        
 </script>




 
    </body>
    </html>