<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title> Vendedores </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/header.ejs')%>
</head>

<body>
    <div id="layout-wrapper">
        <%- include ('../1-admin/menu.ejs')%>
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Lista de vendedores</h4>
                                    <div class="page-title-right">
                                        <ul class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Vendedores</a></li>
                                            <li class="breadcrumb-item active">Lista de vendedores</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="card-body">
                            <table id="datatable-buttons" class="table table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Foto</th>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Teléfono</th>
                                        <th>Correo</th>
                                        <th>Afiliado a</th>
                                        <th>Nivel</th>
                                        <th>Ganancias</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% lista_vendedores.forEach((user)=>{ %>
                                        <tr>
                                            <td ><img src="<%= user.foto%>" alt="profile" class="rounded-circle header-profile-user" style="object-fit: cover;" ></td>
                                            <td><a href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                    <%= user.id_vendedor %>
                                                </a></td>
                                            <td style="text-transform: capitalize;"><a
                                                    href="perfil-vendedores/<%- user.id_vendedor %>">
                                                    <%= user.nombres %>
                                                </a></td>
                                            <td style="text-transform: capitalize;"><a
                                                    href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                    <%= user.apellidos %>
                                                </a></td>
                                            <td><a href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                    <%= user.telefono_movil %>
                                                </a></td>
                                            <td><a href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                    <%= user.correo %>
                                                </a></td>
                                                <td>
                                                    <div class="badge badge-soft-dark font-size-12">
                                                        <% if(user.codigo_afiliado && user.codigo_afiliado != 'N/A') {%>
                                                            <a href="/perfil-vendedores/<%- user.codigo_afiliado%>">
                                                                <%= user.codigo_afiliado %>
                                                            </a>
                                                        <% } else { %>
                                                            N/A
                                                        <% } %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                        <%= user.nivel %>
                                                    </a>
                                                </td>
                                            <!-- <td><a href="/perfil-vendedores/<- user.id_vendedor %>">$ <%= user.deuda_inicial %></a></td> -->
                                            <td><a href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                    <div class="badge badge-soft-success font-size-12">$
                                                        <%=user.ganancias%>
                                                    </div>
                                                </a></td>
                                            <td><a href="/perfil-vendedores/<%- user.id_vendedor %>">
                                                    <div class="badge <%= user.estadoVendedor.color%> font-size-12">
                                                        <%= user.estadoVendedor.txt %>
                                                    </div>
                                                </a></td>
                                          </tr>
                                        <%})%>
                                     </tbody>
                                </table>
                             </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- container-fluid -->
         </div>
        <%- include ('../partials/copyright.ejs')%>
     </div>
    </div>
    <%- include ('../1-admin/partials/vendedores/footer.ejs')%>
 