<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8" />
    <title>Ventas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_dash/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <!-- DataTables -->
    <link href="../directorio_dash/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
    rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../directorio_dash/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
    rel="stylesheet" type="text/css" />
    <!-- preloader css -->
    <link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_dash/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="../directorio_dash/css/app.min.css" id="app-style" />
    <!-- Tipo de letra -->
    <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />
    <!-- scroll -->
    <link rel="stylesheet" href="../css/scrolls.css">

    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }

        input[type=number] { -moz-appearance:textfield; }
    </style>

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

    <!-- =======FIXME: MENU ========================== -->
    <%- include ('../1-admin/menu.ejs')%>
    <!-- =======FIXME: MENU ========================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
        
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center
                                        justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Ventas </h4>
        
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript:
                                                        void(0);">Ventas</a></li>
                                        <li class="breadcrumb-item active">Facturas</li>
                                    </ol>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
        
                    <div class="table-responsive mb-4 ">
                        <table class="table align-middle datatable dt-responsive table-check nowrap "
                            style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                                <th scope="col" title="Id de factura">Factura</th>
                                <th scope="col" title="Fecha de factura">Fecha de instalación</th>
                                <th scope="col">Nombre del cliente</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Vendedor</th>
                                <th scope="col">Comisión total</th>
                                <!-- Estado de la factura Pendiente y Pagado-->
                                <th scope="col">Estado</th>
                            </thead>
        
                            <tbody>
                                <% if(arrayVentas) {%>
                                    <% arrayVentas.forEach((venta)=>{ %>
                                        <tr>
                                            <td>
                                                <!-- <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="background: none;border: none;margin: 0;"> -->
                                                <button style="background: none;border: none;margin: 0;"
                                                    onclick="editarFactura('<%=venta.factura.id%>')">
                                                    <%= venta.factura.id %>
                                                </button>
                                            </td>
                                            <td>
                                                <%= venta.factura.fecha %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%= venta.nombre %>
                                                    <%= venta.apellido %>
                                            </td>
                                            <td>
                                                <%= venta.sistema %>
                                            </td>
                                            <td>
                                                $<%= venta.monto_aprobado %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%= venta.vendedores[0].nombre %>
                                            </td>
                                            <td>$<%= venta.comision_total %>
                                            </td>
                                            <td>
                                                <div class="badge <%= venta.factura.estadoColor %> font-size-12">
                                                    <%= venta.factura.estadoTxt %>
                                                </div>
                                            </td>
                                        </tr>
        
                                        <%})%>
                                            <% } %>
                            </tbody>
        
                        </table>
                        
                        <button id="btnSidebar" data-bs-toggle="offcanvas" data-bs-target="#sidebarRight" aria-controls="sidebarRight" style="background: none;border: none;margin: 0;"></button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebarRight"
                            style="width: 50%; padding: 0px 0px 0px 37px; visibility: hidden;" aria-labelledby="sidebarRightLabel"
                            aria-hidden="true">
                            <div class="offcanvas-header">
                                <h1 id="offcanvasRightLabel" style=" font-size: 111%; "></h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body scroll_vertical">
                                <div class="row">
                                    <div class="col-lg-12" style="margin-left: -1%;">
                                        <div class="invoice-title">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <div class="mb-4">
                                                        <img src="../directorio_dash/images/logo.svg" alt="" height="40"><span
                                                            class="logo-txt"></span>
                                                    </div>
                                                </div>
                                                <!-- BOTÓN GUARDAR FACTURA - ENVIAR A DB -->
                                                <div class="flex-grow-1" >
                                                    <a id="btnReportarFactura" class="btn btn-primary w-md waves-effect waves-light" style="border-radius: 17px;">Reportar como pagada</a>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="mb-4">
                                                        <h4 class="float-end font-size-16" style="padding-top: 10px;">Factura: <span id="idFactura"></span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                            
                                        <hr class="mb-4">
                            
                                        <!-- **INICIO** Pestañas para gestionar vendedores -->
                                        <ul class="nav justify-content-start nav-pills card-header-pills mb-3" role="tablist">
                                            <li  class="nav-item waves-effect waves-light">
                                                <a id="tabFactura1" class="nav-link active" data-bs-toggle="tab" href="#v1" role="tab" aria-selected="true">
                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor Principal</span>
                                                </a>
                                            </li>
                            
                                            <li id="tabFactura2" class="nav-item waves-effect waves-light">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#v2" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 2</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light" id="tabFactura3">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#v3" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 3</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light" id="tabFactura4">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#v4" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 4</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- **FIN** Pestañas para gestionar vendedores -->
                            
                                        <!-- **INICIO** CONTENIDO DE LOS TABS - INFO DE VENDEDORES  -->
                                        <input type="hidden" id="idFacturaActual">
                                        <div class="tab-content p-3 text-muted">
                                        
                                            <!-- Vendedor 1 -->
                                            <div class="tab-pane active" id="v1" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor1"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor1"></span></p>
                                                            <p class="mb-1" id="telVendedor"></p>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase1"></span></h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_1">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR PRINCIPAL -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                        
                                            </div>
                                        
                                            <!-- Vendedor 2 -->
                                            <div class="tab-pane" id="v2" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                        
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor2"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor2"></span></p>
                                                            <p class="mb-1" id="telVendedor2"></p>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase2"></span> </h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_2">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 2 -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones2">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                        
                                            </div>
                                        
                                            <!-- Vendedor 3 -->
                                            <div class="tab-pane" id="v3" role="tabpanel">
                                                <div class="row">
                                        
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                        
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor3"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor3"></span></p>
                                                            <p class="mb-1" id="telVendedor3"></p>
                                                        </div>
                                                    
                                                    </div>
                                        
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase3"></span> </h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_3">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 3 -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones3">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>

                                            </div>
                                        
                                            <!-- Vendedor 4 -->
                                            <div class="tab-pane" id="v4" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor4"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor4"></span></p>
                                                            <p class="mb-1" id="telVendedor4"></p>
                                                        </div>
                                                    
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase4"></span> </h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_4">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 4 -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones4">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                            </div>

                                            <!-- BOTÓN GUARDAR FACTURA - ENVIAR A DB -->
                                            <!-- <div class="d-print-none mt-3">
                                                <center><a href="#" class="btn btn-primary w-md waves-effect waves-light"
                                                        style="border-radius: 17px;">Reportar como pagada</a>
                                                </center>
                                            </div> -->

                                        </div>
                                        <!-- **FIN** CONTENIDO DE LOS TABS - INFO DE VENDEDORES  -->
                            
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
        
        <!-- =======FIXME: copyright ========================== -->
        <%- include ('../partials/copyright.ejs')%>
        <!-- =======FIXME: copyright ========================== -->
  
    </div>
  
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center bg-dark p-3">
            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->
   <!-- JAVASCRIPT -->
<script src="../directorio_dash/js/scripts_personalizadosdash.js"></script>
<script src="../directorio_dash/libs/jquery/jquery.min.js"></script>
<script src="../directorio_dash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../directorio_dash/libs/metismenu/metisMenu.min.js"></script>
<script src="../directorio_dash/libs/simplebar/simplebar.min.js"></script>
<script src="../directorio_dash/libs/node-waves/waves.min.js"></script>
<script src="../directorio_dash/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="../directorio_dash/libs/pace-js/pace.min.js"></script>
<!-- Required datatable js -->
<script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- init js -->
<script src="../directorio_dash/js/pages/datatable-pages.init.js"></script>
<!-- Table Editable plugin -->
<script src="../directorio_dash/libs/table-edits/build/table-edits.min.js"></script>
<script src="../directorio_dash/js/pages/table-editable.int.js"></script> 
 <script src="../directorio_dash/js/app.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    let v1 = 1, v2 = 1, v3 = 1, v4 = 1, arrayDeducciones = [], storage = {};

    function _crearTablaDeducciones(num, datos) {
        let tabla = `<table class="table table-nowrap align-middle" id="tablaDeducciones${num}">`
        if (datos) {
            tabla += `<thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                        </tr>
                    </thead>`
        } else {
            tabla += `<thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>`
        }
        tabla += `<tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Subtotal</b></td>
                                    <td colspan="2">$<span id="subtotal${num}">0</span></td>
                                </tr>
                                <tr id="porcentaje-ganar${num}">
                                    <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Porcentaje ganancia</b></td>
                                    <td colspan="2">50%</td>
                                </tr>
                                <tr>
                                    <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Comisión Total</b></td>
                                    <td colspan="2">$<span id="total${num}"></span></td>
                                    <input type="hidden" id="deduccionTotal${num}" value="">
                                </tr>
                            </tfoot>
                        </table>
                    `
        return tabla
    }

    // Parametros (idCliente, Pestaña, Nivel del Vendedor)
    function _btnAddDeduccion(idCliente, numTab, nivel) {
        return $('#tituloDeduccion_'+numTab).append(`<button type="button" onclick="agregarDeduccion(${idCliente}, 'tab${numTab}', ${nivel})" class="btn btn-primary btn-xs btnAddDeduccion"><i class="mdi mdi-plus"></i></button>`);
    }

    function editarFactura(idFactura) {
        $("#tabFactura2").css('display', 'none')
        $("#tabFactura3").css('display', 'none')
        $("#tabFactura4").css('display', 'none')
        $('.btnAddDeduccion').remove()
        $('#tablaDeducciones1').remove()
        $('#tablaDeducciones2').remove()
        $('#tablaDeducciones3').remove()
        $('#tablaDeducciones4').remove()
        v1 = v2 = v3 = v4 = 1;
        arrayDeducciones = []

        $("#idFacturaActual").val(idFactura);

        $("#btnReportarFactura").attr('onclick', `reportarFactura('${idFactura}')`)

        fetch('/deducciones', {
          method: 'POST',
          body: JSON.stringify({idFactura}),
          headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
          .catch(error => console.error('Error:', error))
          .then(datos => {
            if (datos) {

                storage = datos // Variable Global..

                const idCliente = datos.id
                $("#idFactura").text(idFactura)
                $(".producto").text(datos.sistema)
                $(".valor").text(datos.monto_aprobado)
                $(".idCliente").text(datos.id_cliente)
                $(".telCliente").text(datos.telefono)
                $(".direccionCliente").text(datos.direccion)
                $(".fecha").text(datos.factura.fecha)

                const vendedor_principal = datos.vendedores[0]
                $("#idVendedor1").text(vendedor_principal.codigo)
                $("#nivelVendedor1"). text(vendedor_principal.nivel)
                $("#telVendedor").text(vendedor_principal.telefono)
                $("#comisionBase1").text(vendedor_principal.comision_base)

                if(vendedor_principal.deducciones) {
                    const tablaDeducciones_v1 = _crearTablaDeducciones(1, true)
                    $('#divDeducciones').append(tablaDeducciones_v1);
                    
                    if (vendedor_principal.nivel == 4) {
                        $("#porcentaje-ganar1").css('display', 'table-row')
                        $("#total1").text(vendedor_principal.comision_base/2)
                        $("#deduccionTotal1").val(parseFloat($("#total1").text()))
                    } else {
                        $("#porcentaje-ganar1").css('display', 'none')
                        $("#total1").text(vendedor_principal.comision_base)
                        $("#deduccionTotal1").val(parseFloat($("#total1").text()))
                    }

                    // $("#total1").text(vendedor_principal.comision_base)
                    // $("#deduccionTotal1").val(vendedor_principal.comision_base)
                    console.log("DEDUCCIONES Vendedor PRINCIPAL >>>> ", vendedor_principal)
                    let deducciones =  ``, i = 1;
                    // console.log("<<< DEDUCCIONES TAB 1 >>>> ", vendedor_principal)
                    /* dt = deducciones totales; d = deducciones */
                    vendedor_principal.deducciones.forEach(dt => {
                        const filtro = dt.filter(i => i.tab == "tab1")
                        filtro.forEach(x => {
                            deducciones += `<tr id="tab1_row${i}_${vendedor_principal.codigo}">
                                <td>${x.descripcion}</td>
                                <td>${x.monto}</td>
                            </tr>`
                        })
                    })
                    $('#tablaDeducciones1').append(deducciones);

                    // vendedor_principal.deducciones.forEach(de => {
                    //     deducciones += 
                    //         `<tr id="row${i}_tab1_${vendedor_principal.codigo}">
                    //             <td>${de.descripcion}</td>
                    //             <td>${de.monto}</td>
                    //         </tr>`
                    //         i++;
                    // });

                } else {
                    // Parametros (idCliente, Pestaña, Nivel del Vendedor)
                    _btnAddDeduccion(idCliente, '1', vendedor_principal.nivel)
                    const tablaDeducciones_v1 = _crearTablaDeducciones(1, false)
                    $('#divDeducciones').append(tablaDeducciones_v1);

                    if (vendedor_principal.nivel == 4) {
                        $("#porcentaje-ganar1").css('display', 'table-row')
                        $("#total1").text(vendedor_principal.comision_base/2)
                        $("#deduccionTotal1").val(parseFloat($("#total1").text()))
                    } else {
                        $("#porcentaje-ganar1").css('display', 'none')
                        $("#total1").text(vendedor_principal.comision_base)
                        $("#deduccionTotal1").val(parseFloat($("#total1").text()))
                    }

                    $("#total1").text(vendedor_principal.comision_base)
                    $("#deduccionTotal1").val(vendedor_principal.comision_base)
                }

                if (datos.vendedores[1]) {
                    const vendedor2 = datos.vendedores[1]

                    $("#tabFactura2").css('display', 'block')
                    $("#idVendedor2").text(vendedor2.codigo)
                    $("#nivelVendedor2").text(vendedor2.nivel)
                    $("#telVendedor2").text(vendedor2.telefono)
                    $("#comisionBase2").text(vendedor2.comision_base)
                    $("#total2").text(vendedor2.comision_base)

                    // Si ya existen datos en DB
                    if(vendedor2.deducciones.length > 0) {
                        const tablaDeducciones_v2 = _crearTablaDeducciones(2, true)
                        $('#divDeducciones2').append(tablaDeducciones_v2);

                        if (vendedor2.nivel == 4) {
                            $("#porcentaje-ganar2").css('display', 'table-row')
                            $("#total2").text(parseFloat(vendedor2.comision_base/2))
                            $("#deduccionTotal2").val(parseFloat(vendedor2.comision_base))
                        } else {
                            $("#porcentaje-ganar2").css('display', 'none')
                            $("#total2").text(vendedor2.comision_base)
                            $("#deduccionTotal2").val(parseFloat($("#total2").text()))
                        }
                        
                        // $("#total2").text(vendedor2.comision_base)
                        // $("#deduccionTotal2").val(vendedor2.comision_base)

                        let deducciones =  ``, i = 1;
                        // vendedor2.deducciones.forEach(de => {
                        //     deducciones += 
                        //         `<tr id="tab2_row${i}_${vendedor2.codigo}">
                        //             <td>${de.descripcion}</td>
                        //             <td>${de.monto}</td>
                        //         </tr>`
                        //         i++;
                        // });
                        vendedor_principal.deducciones.forEach(dt => {
                        const filtro = dt.filter(i => i.tab == "tab2")
                        filtro.forEach(x => {
                            deducciones += `<tr id="tab2_row${i}_${vendedor2.codigo}">
                                <td>${x.descripcion}</td>
                                <td>${x.monto}</td>
                            </tr>`
                        })
                    })
                        $('#tablaDeducciones2').append(deducciones);
                    
                    // Si no hay nada en DB
                    } else {
                        // Parametros (idCliente, Pestaña, Nivel del Vendedor)
                        _btnAddDeduccion(idCliente, '2', vendedor2.nivel)
                        const tablaDeducciones_v2 = _crearTablaDeducciones(2, false)
                        $('#divDeducciones2').append(tablaDeducciones_v2);
                        
                        if (vendedor2.nivel == 4) {
                            $("#porcentaje-ganar2").css('display', 'table-row')
                            $("#total2").text(parseFloat(vendedor2.comision_base/2))
                            $("#deduccionTotal2").val(parseFloat($("#total2").text()))
                        } else {
                            $("#porcentaje-ganar2").css('display', 'none')
                            $("#total2").text(vendedor2.comision_base)
                            $("#deduccionTotal2").val(parseFloat($("#total2").text()))
                        }

                        // $("#total2").text(vendedor2.comision_base)
                        // $("#deduccionTotal2").val(vendedor2.comision_base)
                    }
                    
                }

                if (datos.vendedores[2]) {
                    const vendedor3 = datos.vendedores[2]
                    $("#tabFactura3").css('display', 'block')
                    $("#idVendedor3").text(vendedor3.codigo)
                    $("#nivelVendedor3").text(vendedor3.nivel)
                    $("#telVendedor3").text(vendedor3.telefono)
                    $("#comisionBase3").text(vendedor3.comision_base)
                    $("#total3").text(vendedor3.comision_base)

                    if(vendedor3.deducciones.length > 0) {
                        const tablaDeducciones_v3 = _crearTablaDeducciones(3, true)
                        $('#divDeducciones3').append(tablaDeducciones_v3);

                        if (vendedor3.nivel == 4){
                            $("#porcentaje-ganar3").css('display', 'table-row')
                        } else {
                            $("#porcentaje-ganar3").css('display', 'none')
                        }

                        $("#total3").text(vendedor3.comision_base)
                        $("#deduccionTotal3").val(vendedor3.comision_base)

                        let deducciones =  ``, i = 1;
                        vendedor3.deducciones.forEach(de => {
                            deducciones += 
                                `<tr id="tab2_row${i}_${vendedor3.codigo}">
                                    <td>${de.descripcion}</td>
                                    <td>${de.monto}</td>
                                </tr>`
                                i++;
                        });
                        $('#tablaDeducciones3').append(deducciones);

                    } else {
                        // Parametros (idCliente, Pestaña, Nivel del Vendedor)
                        _btnAddDeduccion(idCliente, '3', vendedor3.nivel)
                        const tablaDeducciones_v3 = _crearTablaDeducciones(3, false)
                        $('#divDeducciones3').append(tablaDeducciones_v3);
                        
                        if (vendedor3.nivel == 4){
                            $("#porcentaje-ganar3").css('display', 'table-row')
                        } else {
                            $("#porcentaje-ganar3").css('display', 'none')
                        }

                        $("#total3").text(vendedor3.comision_base)
                        $("#deduccionTotal3").val(vendedor3.comision_base)
                    }

                }

                if (datos.vendedores[3]) {
                    const vendedor4 = datos.vendedores[3]
                    $("#tabFactura4").css('display', 'block')
                    $("#idVendedor4").text(vendedor4.codigo)
                    $("#nivelVendedor4").text(vendedor4.nivel)
                    $("#telVendedor4").text(vendedor4.telefono)
                    $("#comisionBase4").text(vendedor4.comision_base)
                    $("#total4").text(vendedor4.comision_base)

                    if(vendedor4.deducciones.length > 0) {
                        const tablaDeducciones_v4 = _crearTablaDeducciones(4, true)
                        $('#divDeducciones4').append(tablaDeducciones_v4);
                        
                        if (vendedor4.nivel == 4) {
                            $("#porcentaje-ganar4").css('display', 'table-row')
                        } else {
                            $("#porcentaje-ganar4").css('display', 'none')
                        }

                        $("#total4").text(vendedor4.comision_base)
                        $("#deduccionTotal4").val(vendedor4.comision_base)

                        let deducciones =  ``, i = 1;
                        vendedor4.deducciones.forEach(de => {
                            deducciones += 
                                `<tr id="tab2_row${i}_${vendedor4.codigo}">
                                    <td>${de.descripcion}</td>
                                    <td>${de.monto}</td>
                                </tr>`
                                i++;
                        });
                        $('#tablaDeducciones4').append(deducciones);

                    } else {
                        // Parametros (idCliente, Pestaña, Nivel del Vendedor)
                        _btnAddDeduccion(idCliente, '4', vendedor4.nivel)
                        const tablaDeducciones_v4 = _crearTablaDeducciones(4, false)
                        $('#divDeducciones4').append(tablaDeducciones_v4);
                        
                        if (vendedor4.nivel == 4) {
                            $("#porcentaje-ganar4").css('display', 'table-row')
                        } else {
                            $("#porcentaje-ganar4").css('display', 'none')
                        }

                        $("#total4").text(vendedor4.comision_base)
                        $("#deduccionTotal4").val(vendedor4.comision_base)
                    }

                }

                /* -INICIO- Activar Clic para mostrar Sidebar */
                $("#btnSidebar").trigger("click");
                /* -FIN- Activar Clic para mostrar Sidebar */
            } else {
                console.log("Ocurrió un error en él controlador")
            }
          })
    }

    // Parameros (idCliente, número de la pestaña, Contador para la fila, nivel del vendedor)
    function _agregarFila(idCliente, numTab, row, nivel) {
        $('#tablaDeducciones'+numTab).append(`<tr id="row${row}_tab${numTab}">
            <td><input type="text" id="descripcion${row}_tab${numTab}"></td>
            <td><input type="number" id="monto${row}_tab${numTab}"></td>
            <td style="display: flex;justify-content: center;">
                <a class="btn btn-primary btn-rounded btn-sm" id="btn${row}_tab${numTab}" onclick="sumarDeduccion('${idCliente}', '${numTab}', '${row}', '${nivel}')" title="Guardar">
                    <i class="fas fa-save"></i>
                </a>
                <a class="btn btn-danger btn-rounded btn-sm" onclick="eliminarFila('${idCliente}', '${numTab}', '${row}', '${nivel}')" title="Eliminar">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>`);
    }

    // Parameros (idCliente, número de la pestaña, nivel del vendedor)
    function agregarDeduccion(idCliente, numTab, nivel) {
        /* VENDEDOR 1 */
        if (numTab == 'tab1') {
            _agregarFila(idCliente, 1, v1, nivel)
            v1 = v1+1;
        }

        /* VENDEDOR 2 */
        if (numTab == 'tab2'){
            _agregarFila(idCliente, 2, v2, nivel)
            v2 = v2+1;
        }

        /* VENDEDOR 3 */
        if (numTab == 'tab3'){
            _agregarFila(idCliente, 3, v3, nivel)
            v3 = v3+1;
        }

        /* VENDEDOR 4 */
        if (numTab == 'tab4'){
            _agregarFila(idCliente, 4, v4, nivel)
            v4 = v4+1;
        }

    }

    // Parameros (idCliente, número de la pestaña, número de la fila, nivel del vendedor, arrayDeducciones)
    function actualizarDeduccion(idCliente, numTab, rowTab, nivelVendedor, deducciones) {
        // console.log("\nDATOS RECIBIDOS POR ACTUALIZAR DEDUCCIONES >>>> ", deducciones)
        const tab = 'tab'+numTab
        const filtroDeducciones = deducciones.filter((i) => i.tab == tab) //Filtrar por pestañas o vendedor
        const subTotal = filtroDeducciones.map(i => i.monto).reduce((prev, curr) => prev + curr, 0);
        const comisionTotal = $('#deduccionTotal'+numTab)
        $('#subtotal'+numTab).text('')
        $('#subtotal'+numTab).text(subTotal)

        let total = $("#comisionBase"+numTab).text()
        total = parseFloat(total-subTotal).toFixed(1)
        comisionTotal.val(total)

        if (nivelVendedor == '4' || nivelVendedor == 4) {
            const valor = $("#comisionBase"+numTab).text()
            total = parseFloat((valor-subTotal)/2).toFixed(1)
            comisionTotal.val(total)
        }

        $('#total'+numTab).text(total)
        const idFactura = $("#idFacturaActual").val();
        storage.vendedores.forEach(data => {
            if (data.nivel == nivelVendedor) {
                data.comision_final = parseFloat(total);
                data.deducciones = filtroDeducciones
            }
        });
    }

    // Parameros (idCliente, número de la pestaña, Contador para la fila, nivel del vendedor)
    function sumarDeduccion(idCliente, numTab, row, nivelVendedor) {
        $('#descripcion'+row+'_tab'+numTab).attr('disabled', 'disabled');
        $('#monto'+row+'_tab'+numTab).attr('disabled', 'disabled');
        $('#btn'+row+'_tab'+numTab).css('display', 'none');
        let monto = $('#monto'+row+'_tab'+numTab).val()
        monto = parseFloat(monto)
        const descripcion = $('#descripcion'+row+'_tab'+numTab).val()
        let sumatoriaDeduccion = 0;
        const tab = 'tab'+numTab
        const rowTab = 'row'+row+'_tab'+numTab
        arrayDeducciones.push({idCliente, tab, row, rowTab, descripcion, monto, nivelVendedor})

        // Aplicar cambios (subtotal y total)
        actualizarDeduccion(idCliente, numTab, rowTab, nivelVendedor, arrayDeducciones)
    }

    function eliminarFila(idCliente, numTab, row, nivelVendedor) {
        $('#row'+row+'_tab'+numTab).remove()
        const arrayResultado = arrayDeducciones.filter((i) => i.rowTab !== 'row'+row+'_tab'+numTab)
        // const filtroTab = arrayDeducciones.filter((i) => i.tab == 'tab'+numTab)
        // console.log("\nEDIT >>>", filtroTab)
        // const arrayResultado = filtroTab.filter((i) => i.row !== row)
        const rowTab = 'row'+row+'_tab'+numTab
        console.log("Datos sin la fila Eliminada >>>", arrayResultado)
        actualizarDeduccion(idCliente, numTab, rowTab, nivelVendedor, arrayResultado)
    }

    /* REPORTAR FACTURA COMO PAGADA */
    function reportarFactura(factura) {
        // console.log("DATA >>>> ---", JSON.parse(storage)) 
        Swal.fire({
            title: '¿Seguro que desea reportar esta factura?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: 'Confirmar',
            cancelButtonText: `Cancelar`,
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("\n\nDatos a comparar para enviar >>>",storage)
                if (storage.factura.id == factura) {

                    const dataVendedores = storage.vendedores;

                    fetch('/efectuarVenta', {
                        method: 'POST',
                        body: JSON.stringify({factura, dataVendedores}),
                        headers: {'Content-Type': 'application/json'}
                    }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(datos => {
                            if (datos) {
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Reporte exitoso!',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then((respu) => {
                                    setTimeout('document.location.reload()', 1550);
                                })
                            }
                    })

                } else {
                    Swal.fire('Incosistencia con los datos!', 'Por favor conctactar con soporte', 'error')
                }
                
            } 
            
        })

        
    }

</script>

</body>

</html>