<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Ventas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/header.ejs')%>

    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }

        input[type=number] { -moz-appearance:textfield; }

        .iconoDatos{
            font-size: 19px;
            background: #0e2222;
            vertical-align:center;
        }
    </style>
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
    <%- include ('../1-admin/menu.ejs')%>
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
        
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center
                                        justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Ventas </h4>
        
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript:
                                                        void(0);">Ventas</a></li>
                                        <li class="breadcrumb-item active">Facturas</li>
                                    </ol>
                                </div>
                            </div>
    <!-- TARJETAS PARA MOSTRAR NÚMERO DE VENTAS + GANANCIAS x VENDEDOR -->
    <div class="row" >
        <!-- TARJETA DE NÚMERO DE VENTAS (PROPIAS & AFILIADOS) -->
        <div class="col-lg-4">
            <div class="card" style="color: #0e2222; border:none;">
                <div class="card-body" style="padding: 31px;height: auto;border-radius: 13px;background: rgb(255,237,195);
                background: linear-gradient(50deg, rgba(255,237,195,1) 0%, rgba(255,232,177,1) 18%, rgba(214,148,148,1) 46%, rgba(212,146,213,1) 60%, rgba(235,181,236,1) 60%, rgba(233,161,233,1) 100%);" >
                    <div class="row">
                        <div class="col-md-2" style="width: auto;">
                            <label class="row icon-demo-content"><i class="fas fa-chart-pie iconoDatos"
                                    style="color:white;border: none;"></i></label>
                        </div>
                        <div class="col-md-8 text-black">
                            <div class="row" style="font-size: 17px;font-weight: 900;margin-top: 9px;margin-bottom: 7%;">Ventas totales
                            </div>
                        </div>
                    </div>
                
                    <div class="row" style="margin-bottom: -13px;">
                        <div class="col-md-6" style="font-size: 12px;font-weight: 100;">
                            <div class="row">Número de ventas</div>
                            <div class="row" style="font-size: 29px; font-weight: 800;margin-bottom: 3px;">
                                <strong>
                                   <%=sumaTotalVentas%> 
                                </strong>
                            </div>
                        </div>
                        <div class="col-md-6" style="font-size: 12px;font-weight: 100;">
                            <div class="row">Ganacias brutas</div>
                            <div class="row" style="font-size: 29px; font-weight: 800;">
                                <strong>$<%=sumaValor%></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TARJETA DE GANANCIAS (PROPIAS & AFILIADOS) -->
        <div class="col-lg-4">
            <div class="card" style="color: #0e2222; border:none">
                <div class="card-body"
                    style="padding: 31px;height: auto;border-radius: 13px;background: rgb(188,169,231); background: linear-gradient(50deg, rgba(188,169,231,1) 0%, rgba(188,169,231,1) 18%, rgba(175,155,218,1) 46%, rgba(188,169,231,1) 60%, rgba(235,231,244,1) 60%, rgba(188,169,231,1) 100%);">
                    <div class="row">
                        <div class="col-md-2" style="width: auto;">
                            <label class="row icon-demo-content"><i class="fas fa-chart-line iconoDatos" style="color:white;border: none;"></i></label>
                        </div>
                        <div class="col-md-8 text-black">
                            <div class="row" style="font-size: 17px;font-weight: 900;margin-top: 9px;margin-bottom: 6.6%;">Ganancias</div>
                        </div>
                    </div>
                  
                    <div class="row" style="margin-bottom: -11px;">
                        <div class="col-md-6" style="font-size: 12px;font-weight: 100;">
                            <div class="row">Comisiones pagadas</div>
                            <div class="row" style="font-size: 29px; font-weight: 800;margin-bottom: 3px;">
                                <strong>$<%=comisionesPagadas%></strong>
                            </div>
                        </div>
        
                        <div class="col-md-6" style="font-size: 12px;font-weight: 100;">
                            <div class="row">Ganacias de empresa</div>
                            <div class="row" style="font-size: 29px; font-weight: 800;">
                                <strong>$<%=gananciasE%></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FINAL TARJETAS -->
                        </div>
                    </div>
                    <!-- end page title -->
                    
        
                    <div class="table-responsive mb-4 ">
                        <table class="table align-middle datatable dt-responsive table-check nowrap "
                            style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                                <th scope="col" title="Id de factura">Factura</th>
                                <th scope="col" title="Fecha de factura">Fecha de instalación</th>
                                <th scope="col">Nombre del cliente</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Vendedor</th>
                                <th scope="col">Afiliados</th>
                                <th scope="col">Comisiones</th>
                                <th scope="col">Ganancias</th>
                                <th scope="col">Estado</th>
                            </thead>
        
                            <tbody>
                                <% if(arrayVentas) {%>
                                    <% arrayVentas.forEach((venta)=>{ %>
                                        <% if (venta.factura.id) { %>
                                        <tr>
                                            <td>
                                                <button style="background: none;border: none;margin: 0;"
                                                    onclick="editarFactura('<%=venta.factura.id%>')">
                                                    <%= venta.factura.id %>
                                                </button>
                                            </td>
                                            <td>
                                                <%= venta.factura.fecha %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%= venta.nombre %>
                                                    <%= venta.apellido %>
                                            </td>
                                            <td>
                                                <%= venta.sistema %>
                                            </td>
                                            <td class="monto">
                                                $<%= venta.monto_aprobado %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%= venta.vendedores[0].nombre %>
                                            </td>
                                            <td style="text-transform: capitalize;">
                                                <%if (venta.vendedores.length > 1) {%>
                                                    <%for(let i = 1; i < venta.vendedores.length; i++){%>
                                                        <%=venta.vendedores[i].nombre%><br>
                                                    <% } %>
                                                <%}else{%>
                                                    N/A
                                                <%}%>
                                            </td>
                                            <td>
                                                <% if(venta.factura.estadoTxt == "Pagada") {%>
                                                    $<%= venta.comision_total %>
                                                <%}else{%>
                                                    Por definir
                                                <%}%>
                                            </td>
                                            <td>
                                                <% if(venta.ganancias) {%>
                                                    $<%= venta.ganancias.total %>
                                                <%}else{%>
                                                    Por definir
                                                <%}%>
                                            </td>
                                            <td>
                                                <div class="badge <%= venta.factura.estadoColor %> font-size-12">
                                                    <%= venta.factura.estadoTxt %>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <%})%>
                                <% } %>
                            </tbody>
        
                        </table>
                        
                        <button id="btnSidebar" data-bs-toggle="offcanvas" data-bs-target="#sidebarRight" aria-controls="sidebarRight" style="background: none;border: none;margin: 0;"></button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebarRight"
                            style="width: 50%; padding: 0px 0px 0px 37px; visibility: hidden;" aria-labelledby="sidebarRightLabel"
                            aria-hidden="true">
                            <div class="offcanvas-header" style="margin-top: -37px;margin-bottom: -42px;">
                                <h1 id="offcanvasRightLabel" style=" font-size: 111%; "></h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body scroll_vertical">
                                <div class="row">
                                    <div class="col-lg-12" style="margin-left: -1%;">
                                        <div class="invoice-title">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <div class="mb-4">
                                                        <img src="../directorio_dash/images/logo.svg" alt="" height="40"><span
                                                            class="logo-txt"></span>
                                                    </div>
                                                </div>
                                                <!-- BOTÓN GUARDAR FACTURA - ENVIAR A DB -->
                                                <div class="flex-grow-1" >
                                                    <a id="btnReportarFactura" class="btn btn-primary w-md waves-effect waves-light" style="border-radius: 17px;">Reportar como pagada</a>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="mb-4">
                                                        <h4 class="float-end font-size-16" style="padding-top: 10px;">Factura: <span id="idFactura"></span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                            
                                        <hr class="mb-4">
                            
                                        <!-- **INICIO** Pestañas para gestionar vendedores -->
                                        <ul class="nav justify-content-start nav-pills card-header-pills mb-3" role="tablist">
                                            <li  class="nav-item waves-effect waves-light">
                                                <a id="tabFactura1" class="nav-link active" data-bs-toggle="tab" href="#v1" role="tab" aria-selected="true">
                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor Principal</span>
                                                </a>
                                            </li>
                            
                                            <li id="tabFactura2" class="nav-item waves-effect waves-light">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#v2" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 2</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light" id="tabFactura3">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#v3" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 3</span>
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light" id="tabFactura4">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#v4" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                                    <span class="d-none d-sm-block">Vendedor 4</span>
                                                </a>
                                            </li>
                                            
                                            <!-- Costos adicionales x Factura -->
                                            <li class="nav-item waves-effect waves-light" id="tabCostos">
                                                <a class="nav-link otrosTab" data-bs-toggle="tab" href="#costosExtras" role="tab" aria-selected="false">
                                                    <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                                    <span class="d-none d-sm-block">Costos operativos</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- **FIN** Pestañas para gestionar vendedores -->
                            
                                        <!-- **INICIO** CONTENIDO DE LOS TABS - INFO DE VENDEDORES  -->
                                        <input type="hidden" id="idFacturaActual">
                                        <div class="tab-content p-3 text-muted">
                                        
                                            <!-- Vendedor 1 -->
                                            <div class="tab-pane active" id="v1" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor1"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor1"></span></p>
                                                            <p class="mb-1" id="telVendedor"></p>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase1"></span></h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_1">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR PRINCIPAL -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                        
                                            </div>
                                        
                                            <!-- Vendedor 2 -->
                                            <div class="tab-pane" id="v2" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                        
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor2"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor2"></span></p>
                                                            <p class="mb-1" id="telVendedor2"></p>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase2"></span> </h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_2">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 2 -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones2">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                        
                                            </div>
                                        
                                            <!-- Vendedor 3 -->
                                            <div class="tab-pane" id="v3" role="tabpanel">
                                                <div class="row">
                                        
                                                    <div class="col-sm-6">
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    </div>
                                        
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor3"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor3"></span></p>
                                                            <p class="mb-1" id="telVendedor3"></p>
                                                        </div>
                                                    
                                                    </div>
                                        
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase3"></span> </h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_3">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 3 -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones3">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>

                                            </div>
                                        
                                            <!-- Vendedor 4 -->
                                            <div class="tab-pane" id="v4" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">Vendedor</h5>
                                                            <p class="mb-1 badge badge-soft-dark font-size-12" id="idVendedor4"></p>
                                                            <p class="mb-1">Nivel: <span id="nivelVendedor4"></span></p>
                                                            <p class="mb-1" id="telVendedor4"></p>
                                                        </div>
                                                    
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Comisión base:
                                                        $<span id="comisionBase4"></span> </h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15" id="tituloDeduccion_4">Deducciones</h5>
                                                </div>
                                        
                                                <!-- TABLA PARA DEDUCCIONES VENDEDOR 4 -->
                                                <div class="table-responsive" style="padding: 12px;" id="divDeducciones4">
                                                    <!-- Cargando la tabla desde un Script -->
                                                </div>
                                            </div>

                                            <!-- Costos Adicionales x Factura -->
                                            <div class="tab-pane" id="costosExtras" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    
                                                        <h5 class="font-size-15 mb-2">Producto</h5>
                                                        <p class="mb-1 producto"></p>
                                                        <p class="mb-1 badge badge-soft-success font-size-12">
                                                            $<span class="valor"></span></p>
                                                        <h5 class="font-size-14 mb-2">Cliente </h5>
                                                        <p class="mb-1 badge badge-soft-dark font-size-12 idCliente"></p>
                                                        <p class="mb-1 telCliente"></p>
                                                        <p class="direccionCliente"></p>
                                                    
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div>
                                                            <h5 class="font-size-15">Fecha de instalación</h5>
                                                            <p class="fecha"></p>
                                                        </div>
                                                    
                                                        <div class="mt-4">
                                                            <h5 class="font-size-15">3C Sigma Water System</h5>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="py-2 mt-3">
                                                    <h5 class="badge badge-soft-success font-size-12">Ganancia base: $<span id="gananciaBase"></span></h5>
                                                </div>
                                        
                                                <div class="py-2 mt-3">
                                                    <h5 class="font-size-15">Costos operativos
                                                        <button type="button" onclick="agregarCosto()" id="btnAddCostos" class="btn btn-primary btn-xs" style="float: right"><i class="mdi mdi-plus"></i></button>
                                                    </h5>
                                                </div>
                                        
                                                <!-- TABLA para Costos Extras - Last Tab -->
                                                <div class="table-responsive" style="padding: 12px;" id="divCostosExtras">
                                                    <table class="table table-nowrap align-middle" id="tablaCostosExtras">
                                                        <tfoot>
                                                            <tr>
                                                                <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Subtotal</b></td>
                                                                <td colspan="2">$<span id="subtotalCostos">0</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-end" style="font-weight: 700;font-size: 15px;"><b>Ganancias totales</b></td>
                                                                <td colspan="2">$<span id="totalGanancias"></span></td>
                                                                <input type="hidden" id="idCliente_">
                                                                <input type="hidden" id="gananciaTotal">
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- **FIN** CONTENIDO DE LOS TABS - INFO DE VENDEDORES  -->
                            
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
        <%- include ('../partials/copyright.ejs')%>
    </div>
    <%- include ('../partials/footer.ejs')%>
    <%- include ('../1-admin/partials/ventas/footer.ejs')%>
